<%= form_for(:user, url: session_path(:user), html: {:class => ("f-mob" if :mobile)}) do |f| %>
    <div id="bodyBox">
      <ul class="control-container customer-accounts list-unstyled">
        <li class="clearfix">
          <% if :mobile %>
              <p class="mob-p">Email <span class="req">*</span></p>
          <% end %>
          <label for="user_email" class="control-label<%= " nono" if :mobile %>">Электронная почта <span class="req">*</span></label>
          <%= f.email_field :email, :class => :mobile ? "form-control" : "form-control em-mob", :required => true %>
        </li>

        <li class="clearfix">
          <% if :mobile %>
              <p class="mob-p2">Пароль <span class="req">*</span></p>
          <% end %>
          <label for="user_password" class="control-label<%= " nono" if :mobile %>">Пароль <span class="req">*</span></label>
          <%= f.password_field :password, :class => :mobile ? "form-control password" : "form-control password em-mob2", :required => true %>
        </li>

        <li class="clearfix last1">
          <button class="btn<%= " btn-mob" if :mobile %>" type="submit">Войти</button>
          <span class="sizery<%= " nono" if :mobile %>">Или</span>
          <a href="<%= new_user_registration_url %>"><span class="red under<%= " nono" if :mobile %>">Создать аккаунт</span></a>
          <a class="red under<%= " asky-mob" if :mobile %>" href="<%= new_user_password_url %>">Забыли пароль?</a>
        </li>
      </ul>
    </div>
<% end %>