<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %>
          <i class="fa fa-angle-right"></i>
          <% unless @route[:page] == :cart %>
              <a href="<%= orders_url %>" class="homepage-link">Корзина</a>
              <i class="fa fa-angle-right"></i>
          <% end %>
          <span class="page-title"><%= @route[:pages][@route[:current]][:title] %></span>
        </div>
      </div>
      <section class="row content">
        <div id="col-main" class="col-md-20 cart-page content">
          <div class="row">
            <div class="<%= content_for?(:right) ? "col-md-10" : "col-md-20" %>">
              <div id="page-header">
                <% @route[:pages].each do |page, data| %>
                    <% if data[:disabled] %>
                        <div class="page-titles disabled"><%= data[:title] %></div>
                    <% else %>
                        <a href="<%= data[:url] %>"><div class="page-titles<%= " active" if page == @route[:current] %>"><%= data[:title] %></div></a>
                    <% end %>
                <% end %>
                <div class="clearfix"></div>
              </div>
              <%= content_for?(:content) ? yield(:content) : yield %>
            </div>
            <%= content_for?(:right) ? yield(:right) : yield %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="modal fade" id="quick-shop-modal"></div>