<% content_for :content do %>
    <div class="clearfix row">
      <div id="add_address" class="customer_address edit_address col-md-20">
        <%= form_for @order do |f| %>
            <ul class="row list-unstyled customer_address_table">
              <script type="text/javascript">
                jQuery(function($){
                  $('[name="order[delivery_type]"]').on('change', function(){
                    if($('[name="order[delivery_type]"]:checked').val() == 'pickup'){
                      $('.pickup').show();
                      $('.address').hide().find('[data-required="true"]').removeAttr('required');
                    } else {
                      $('.pickup').hide();
                      $('.address').show().find('[data-required="true"]').attr('required', 'required');
                    }
                  }).trigger('change');
                });
              </script>
                  <li class="col-md-20 set_default">
                    <p class="bolsp blue">Выберите способ получения товара</p>
                    <%= f.radio_button :delivery_type, :courier %>
                    Курьерская доставка
                  </li>

                  <li class="col-md-20 set_default">
                    <%= f.radio_button :delivery_type, :pickup %>
                    Самовывоз
                  </li>


                  <li class="clearfix pickup"></li>
                  <li class="col-md-20 pickup"> <p class="samo-v">Адрес для самовывоза: ул. Намёткина, д. 1, подъезд 7.</p></li>


              <% unless user_signed_in? %>
                  <li class="col-md-20">
                    <%= label :user, :email, :class => "control-label" do %>
                        Email
                        <i class="fa fa-asterisk red sizeq"></i>
                    <% end %>
                    <%= email_field :user, :email, :class => "form-control" %>
                  </li>
                  <li class="clearfix"></li>
                  <li class="col-md-20">
                    <%= label :user, :password, :class => "control-label" do %>
                        Пароль
                        <i class="fa fa-asterisk red sizeq"></i>
                    <% end %>
                    <%= password_field :user, :password, :required => true, :class => "form-control password" %>
                  </li>
                  <li class="clearfix"></li>
              <% end %>
              <% if (current_user.try(:addresses) or []).count > 0 %>
                  <li class="col-md-20 address">
                    <%= f.label :address_id, "Адрес", :class => "control-label" %>
                    <%= f.collection_select :address_id, current_user.addresses, :id, :to_s, :html => { :class => "form-control" } %>
                  </li>
                  <li class="clearfix address"></li>
              <% else %>
                  <li class="col-md-20 address">
                    <%= label :address, :first_name, :class => "control-label" do %>
                        Имя <i class="fa fa-asterisk red sizeq"></i>
                    <% end %>
                    <%= text_field :address, :first_name, :required => true, :class => "form-control", :data => {:required => true} %>
                  </li>
                  <li class="clearfix address"></li>
                  <li class="col-md-20 address">
                    <%= label :address, :last_name, :class => "control-label" do %>
                        Фамилия
                    <% end %>
                    <%= text_field :address, :last_name, :class => "form-control" %>
                  </li>
                  <li class="clearfix address"></li>
                  <li class="col-md-20 address">
                    <%= label :address, :city, :class => "control-label" do %>
                        Город <i class="fa fa-asterisk red sizeq"></i>
                    <% end %>
                    <%= text_field :address, :city, :required => true, :class => "form-control", :data => {:required => true} %>
                  </li>
                  <li class="clearfix address"></li>
                  <li class="col-md-20 address">
                    <%= label :address, :index, :class => "control-label" do %>
                        Индекс
                    <% end %>
                    <%= text_field :address, :index, :class => "form-control" %>
                  </li>
                  <li class="clearfix address"></li>
                  <li class="col-md-20 address">
                    <%= label :address, :street, :class => "control-label" do %>
                        Улица
                    <% end %>
                    <%= text_field :address, :street, :class => "form-control" %>
                  </li>
                  <li class="clearfix address"></li>
                  <li class="col-md-20 address">
                    <%= label :address, :house, :class => "control-label" do %>
                        Дом
                    <% end %>
                    <%= text_field :address, :house, :class => "form-control" %>
                  </li>
                  <li class="clearfix address"></li>
                  <li class="col-md-20 address">
                    <%= label :address, :housing, :class => "control-label" do %>
                        Корпус
                    <% end %>
                    <%= text_field :address, :housing, :class => "form-control" %>
                  </li>
                  <li class="clearfix address"></li>
                  <li class="col-md-20 address">
                    <%= label :address, :build, :class => "control-label" do %>
                        Строение
                    <% end %>
                    <%= text_field :address, :build, :class => "form-control" %>
                  </li>
                  <li class="clearfix address"></li>
                  <li class="col-md-20 address">
                    <%= label :address, :flat, :class => "control-label" do %>
                        Квартира
                    <% end %>
                    <%= text_field :address, :flat, :class => "form-control" %>
                  </li>
                  <li class="clearfix address"></li>
                  <li class="col-md-10 address">
                    <%= label :address, :phone, :class => "control-label" do %>
                        Телефон <i class="fa fa-asterisk red sizeq"></i>
                    <% end %>
                    <%= text_field :address, :phone, :required => true, :class => "form-control", :data => {:required => true} %>
                  </li>
                  <li class="clearfix address"></li>
              <% end %>


              <li class="col-md-20 set_default">
                <p class="bolsp blue">Выберите способ оплаты</p>
                <%= f.radio_button :payment_type, :cash %>
                Расчет наличными
              </li>
              <li class="clearfix"></li>
              <li class="col-md-20 set_default">
                <%= f.radio_button :payment_type, :credit %>
                Безналичный расчет
              </li>
            </ul>

            <p class="bolsp blue ">
              Окончательная стоимость заказа:
              <span class="red"><%= @order.total_price %> руб.</span>
            </p>

            <div class="clearfix">
              <div id="checkout-proceed" class="last1">
                <button class="btn large" type="submit" name="checkout">Продолжить</button>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>
<% content_for :right do %>
    <div class="col-md-10">
      <div class="srty">
     <!-- <div class="banner quick_shop pointy-adm" data-href="<%= oferta_popup_url %>"
           data-target="#quick-shop-modal" data-toggle="modal">
        <a class="size-admin goAction btooltip active red upper" href="#" data-original-title="Гарантия">Гарантия</a>
      </div> -->



        <TABLE WIDTH=633 CELLPADDING=0 CELLSPACING=0>
          <COL WIDTH=633>
          <TR>
            <TD WIDTH=633 STYLE="border: none; padding: 0in">
              <H2 CLASS="western"><FONT SIZE=3>Описание
                товара</FONT></FONT></H2>
              <P STYLE="margin-bottom: 0in"><BR>
              </P>
              <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Times New Roman, serif"><strong>Текстиль</strong></FONT></P>
              <UL>
                <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Times New Roman, serif">Для
                  производства отличных футболок мы
                  выбираем лучший текстиль. Его мы шьем
                  самостоятельно, а также заказываем
                  у надежных европейских компаний
                  (например, Fruit of the loom). У нас есть 3
                  правила, которые мы никогда не нарушаем:</FONT></P>
                <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Times New Roman, serif">Все
                  наши <A HREF="https://www.megastuff.ru/textile.html">футболки</A>
                  – это 100% хлопок. Текстиль высокого
                  качества не только максимально
                  комфортен в носке, но и идеально
                  подходит для печати, так как он способен
                  выдержать высокую температуру.
                  Нанесенные принты держатся на таких
                  изделиях дольше, а при соблюдении
                  наших рекомендаций по уходу, они будут
                  радовать Вас и после 20-й стирки.</FONT></P>
                <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Times New Roman, serif">У
                  нас есть различные фасоны. <A HREF="https://www.megastuff.ru/textile.html">Мужские
                  футболки</A> слегка удлинены и свободны.
                  Женские – приталены и укорочены.
                  Детские подойдут как для самых
                  маленьких, так и для подростков. Мы
                  также всегда предлагаем на выбор
                  стрейчевый текстиль, садящийся по
                  фигуре.</FONT></P>
                <LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Times New Roman, serif">Мы
                  любим яркие цвета. Помимо самой
                  популярной базовой палитры – белый,
                  черный и серый, - у нас есть <A HREF="https://www.megastuff.ru/textile.html">футболки</A>
                  самых разных цветов: шоколадные, темно
                  и светло зеленые, синие и голубые,
                  сиреневые, оранжевые, ярко алые, желтые
                  и те, о которых давно мечтали Вы. Мы
                  всегда идем Вам навстречу, поэтому
                  даже если желаемого цвета не оказалось
                  у нас в наличии, мы сделаем все
                  возможное, чтобы Вы остались довольны
                  заказом.</FONT></P>
              </UL>
              <P STYLE="margin-bottom: 0in"><BR>
              </P>
              <H2 CLASS="western"><FONT FACE="Times New Roman, serif">Мужская
                футболка</FONT></H2>
              <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>У
                наших отличных хлопковых футболок
                для мужчин прямой фасон и свободный
                крой. Воротник не деформируется после
                стирок, благодаря небольшому добавлению
                лайкры и компенсатору горловины.
                Практичный и базовый предмет гардероба
                для мужчин. </FONT></FONT>
              </P>
              <H2 CLASS="western"><FONT FACE="Times New Roman, serif">Женская
                футболка</FONT></H2>
              <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Наши
                <A HREF="https://www.megastuff.ru/textile.html"><B>женские
                  футболки</B></A> разработаны с учетом
                пожеланий их владелиц – они приталены
                и заужены. Это придает элегантность
                и подчеркивает женственность. <A HREF="https://www.megastuff.ru/textile.html"><B>Футболка</B></A>
                – демократичная одежда на каждый
                день. </FONT></FONT>
              </P>
              <H2 CLASS="western"><FONT FACE="Times New Roman, serif">Толстовка</FONT></H2>
              <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Наши
                <A HREF="https://www.megastuff.ru/textile.html"><B>толстовки</B></A>
                – унисекс. Это современные модели с
                передними карманами и приталенными
                нижними манжетами. Благодаря новым
                технологиям обработки ткани, они
                получаются мягкими и приятными на
                ощупь. <A HREF="https://www.megastuff.ru/textile.html"><B>Толстовки</B></A>
                пошиты из трехниточного футера. Для
                того, чтобы ворс не оставался на другой
                одежде, мы рекомендуем постирать
                изделие перед тем, как его носить. </FONT></FONT>
              </P>
              <H2 CLASS="western"><FONT FACE="Times New Roman, serif">Мужское
                поло</FONT></H2>
              <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Поло
                – универсальная модель одежды,
                подходящая как для деловых встреч,
                так и для повседневной носки. Цвет
                пуговиц совпадает с цветом изделий.
                Для наших поло используется полотно
                плотной вязки, а также особое внимание
                уделяется плечевым швам – чтобы вещь
                прослужила дольше, швы на плечах
                усиливаются. </FONT></FONT>
              </P>
              <H2 CLASS="western"><FONT FACE="Times New Roman, serif">Женское
                поло</FONT></H2>
              <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Поло
                для женщин приталены и садятся по
                фигуре. В плотную хлопковую ткань
                добавляется немного лайкры для того,
                чтобы изделия растягивались в
                зависимости от комплекции обладательницы.
                В отличие от мужских, женские поло
                слегка укорочены. </FONT></FONT>
              </P>
              <H2 CLASS="western"><FONT FACE="Times New Roman, serif">Детская
                футболка</FONT></H2>
              <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><A NAME="_GoBack"></A>
                <FONT FACE="Times New Roman, serif"><FONT SIZE=3>У всех
                  детей, вне зависимости от возраста,
                  должны быть классные, качественные –
                  безопасные для здоровья <A HREF="https://www.megastuff.ru/textile.html"><B>футболки</B></A>!
                  Поэтому мы печатаем на текстиле как
                  для совсем маленьких (от 2 лет), так и
                  для подростков (до 14 лет). Наши <A HREF="https://www.megastuff.ru/textile.html"><B>футболки</B></A>
                  сохраняют форму даже после многочисленных
                  стирок, что особенно важно, когда в
                  вашем доме живет маленький непоседа.
                </FONT></FONT>
              </P>
              <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Состав:
                хлопок 100% | Плотность: 155 гр/м</FONT></FONT></P>
              <H2 CLASS="western"><FONT FACE="Times New Roman, serif">Свитшот</FONT></H2>
              <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Свитшот
                - простая универсальная вещь, актуальная
                круглый год! Рукава реглан и никаких
                лишних деталей. Модель унисекс свободно
                сидит на девушках и парнях. Горловина,
                манжеты на рукавах и низ свитшота
                выполнены из эластичной ткани рибаны,
                благодаря чему изделие сохраняет
                отличный вид при постоянной носке. </FONT></FONT>
              </P>
              <P STYLE="margin-bottom: 0in"><BR>
              </P>
              <P STYLE="margin-bottom: 0in"><BR>
              </P>
              <P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><strong>Возврат
                товара</strong><BR><BR>Интернет-магазин RosPatriot
                информирует Вас об условиях, сроках
                и пунктах возврата товаров в крупных
                городах и регионах России.<BR><BR>Срок
                возврата товара</FONT></FONT></P>
              <P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><BR>Срок
                возврата товара надлежащего качества
                составляет 21 день с момента получения
                товара.*<BR><BR>Возврат осуществляется
                как по желанию Покупателя, так и из-за
                ошибки со стороны Продавца.<BR><BR>Причинами
                для возврата товара** со стороны
                Покупателя могут быть следующие:<BR><BR>не
                подошел размер, фасон, цвет, длина и
                т. п.;<BR>оттенок полученного товара
                отличается от оттенка модели с
                фотографии на сайте.<BR><BR>Причины для
                возврата по ошибке*** ООО «Патриот», в
                дальнейшем именуемого
                «Продавец»:<BR><BR>неправильная комплектация
                заказа;<BR>наличие дефекта/брака****.<BR><BR>В
                случае неправильной комплектации
                заказа или наличии дефекта стоимость
                обратной доставки Почтой России
                оплачивает Продавец. Возврат денежных
                средств Клиенту осуществляется в
                течение 5-7 рабочих дней.<BR><BR>Обращаем
                Ваше внимание на то, что товар принимается
                назад только в полной комплектации,
                со всеми упаковками и наклейками, в
                непоношенном/неиспользованном
                виде.<BR><BR>Качественные товары, не
                подлежащие обмену и возврату, указаны
                в Перечне, утвержденном постановлением
                Правительства РФ от 19 января 1998 г. №
                55.<BR></FONT></FONT><BR>
              </P>
              <P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Возврат
                товара осуществляется тремя
                способами:<BR><BR>Возврат в фирменные
                пункты самовывоза/возврата
                RosPatriot;<BR>Отправка почтой (Покупатель
                оплачивает почтовые услуги
                самостоятельно);</FONT></FONT></P>
            </TD>
          </TR>
          <TR>
            <TD WIDTH=633 STYLE="border: none; padding: 0in">
              <P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Возврат
                курьером.</FONT></FONT></P>
              <P STYLE="margin-bottom: 0in"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><BR><BR>Услуга
                доступна для жителей крупных городов,
                в которых есть фирменные пункты
                самовывоза/возврата.<BR><BR>Стоимость
                выезда курьера за возвратом составляет
                200 рублей. При единовременном оформлении
                возврата и курьерской доставки другого
                заказа, возврат товара с помощью
                курьера с 15 января 2015 года становится
                платной услугой в размере 200 рублей.<BR></FONT></FONT><BR>
              </P>
              <P LANG="en-US" STYLE="margin-bottom: 0in"><BR>
              </P>

              </P>
              <P><FONT FACE="Times New Roman, serif"><FONT SIZE=3><strong>Самостоятельный
                возврат:</strong><BR><BR>Покупатель может
                самостоятельно вернуть не подошедший
                товар в наши фирменные пункты
                самовывоза/возврата;<BR>Возврат почтой.
                Жители регионов России могут осуществить
                возврат товара почтой. При возврате
                Клиент оплачивает обратную
                доставку.<BR><BR>Адрес для возврата:<BR>105082,
                Москва, ООО «Патриот» (</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="en-US">c</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
                пометкой </FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="en-US">RosPatriot</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>.</FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN LANG="en-US">ru</SPAN></FONT></FONT><FONT FACE="Times New Roman, serif"><FONT SIZE=3>)<BR><BR>Обращаем
                Ваше внимание на то, что возврат
                осуществляется только Почтой России
                и на абонентский ящик 20. Возвраты,
                отправленные на юридический адрес,
                обрабатываться не будут.<BR><BR>При
                отправлении посылки в почтовом
                отделении в обязательном порядке
                составляется опись отправляемых
                вещей. Без описи заказа претензии по
                комплектации не принимаются.<BR><BR>Отказ
                от возврата Ваших посылок может
                произойти по следующим причинам:<BR><BR>нарушение
                целостности почтовой упаковки
                (пользуйтесь только оригинальной
                почтовой упаковкой, избегайте оклеивания
                скотчем (кроме почтового) и прочими
                материалами);<BR>отправления наложенным
                платежом.<BR><BR><strong>Возврат денежных
                средств</strong><BR><BR>Возврат денежных средств
                Покупателю ООО «Патриот» осуществляется
                тремя способами:<BR><BR>наличным
                расчетом;<BR>банковским переводом;<BR>почтовым
                переводом.<BR><BR>Способ возврата денежных
                средств совпадает со способом оплаты.
                Если Покупатель не может самостоятельно
                забрать денежные средства, за него
                это может сделать доверенное лицо. В
                этом случае, осуществить возврат можно
                будет только при предъявлении
                доверенности и паспорта.<BR><BR>Наличный
                расчет: Возможен в любом фирменном
                пункте самовывоза RosPatriot. Покупатель
                получает денежные средства при наличии
                документа, удостоверяющего личность
                (паспорт или документ, его заменяющий),
                и бланка-заявки, образец которого
                будет предоставлен Клиенту.<BR><BR>Безналичный
                расчет: Клиент обязан указать реквизиты
                в разделе «Мои данные». Для перечисления
                денежных средств необходима следующая
                информация:<BR>БИК отделения банка, где
                открыт счет<BR>Лицевой счет Клиента<BR>ФИО
                владельца счета<BR><BR>Обращаем Ваше
                внимание на то, что реквизиты должны
                быть на имя заказчика.<BR><BR>Срок
                перечисления денежных средств
                осуществляется в срок до 7 календарных
                дней. Срок зачисления денежных средств
                на расчетный счет Клиента зависит от
                внутреннего регламента
                банка-получателя.<BR><BR>Почтовый перевод:
                Возврат денежных средств почтовым
                переводом осуществляется в течение
                5-7 рабочих дней с момента получения
                нами возвращенного почтой товара.</FONT></FONT></P>
            </TD>
          </TR>
          <TR>
            <TD WIDTH=633 STYLE="border: none; padding: 0in">
              <P><FONT FACE="Times New Roman, serif"><FONT SIZE=3>Если у
                Вас возникли вопросы, связанные с
                возвратом, Вам с удовольствием помогут
                наши специалисты.</FONT></FONT></P>
            </TD>
          </TR>
        </TABLE>
        <P STYLE="margin-bottom: 0.14in"><BR><BR>
        </P>
        <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
          <A HREF="https://www.wildberries.ru/services/vozvrat-tovara#note1"><FONT COLOR="#0000ff"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><U>*</U></FONT></FONT></FONT></A><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
          <strong> Если иное не оговорено в условиях акций.</strong></FONT></FONT></P>
        <P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
          <A HREF="https://www.wildberries.ru/services/vozvrat-tovara#note2"><FONT COLOR="#0000ff"><FONT FACE="Times New Roman, serif"><FONT SIZE=3><U>**</U></FONT></FONT></FONT></A><FONT FACE="Times New Roman, serif"><FONT SIZE=3>
          <strong> Товары надлежащего качества, которые
          нельзя обменять (вернуть), перечислены
          в Перечне, утвержденном постановлением
          Правительства РФ от 19 января 1998 г. № 55.
          Приводим его полностью.</strong></FONT></FONT></P>
        <OL>

          <BR><BR>
    </div>
    </div>
<% end %>
<%= render :template => "orders/_cart" %>