<% content_for :content do %>
    <% if @order && @order.order_records.count > 0 %>
        <div class="row table-cart">
          <div class="wrap-table">
            <table class="cart-items haft-border">
              <colgroup>
                <col class="checkout-image">
                <col class="checkout-цена">
                <col class="checkout-кол-во">
                <col class="checkout-totals">
                <col class="checkout-delete">
              </colgroup>
              <thead>
              <tr class="top-labels">
                <th class="text-left">Название товара</th>
                <th>цена</th>
                <th>кол-во</th>
                <th>цвет</th>
                <th>размер</th>
                <th>надпись</th>
                <th>удалить</th>
              </tr>
              </thead>
              <tbody>
              <% @order.order_records.order(:created_at).each do |record| %>
                  <tr class="item">
                    <td class="title text-left">
                      <ul class="list-inline">
                        <li class="image">
                          <a href="<%= product_url record.product %>">
                            <img src="<%= image_path record.product.front_image %>" width="83" height="94" alt="">
                          </a>
                        </li>
                        <li class="link">
                          <a href="<%= product_url record.product %>">
                            <span class="title-5"><%= record.product.name %></span>
                          </a>
                        </li>
                      </ul>
                    </td>
                    <td class="title-1"><span class="money"><%= record.real_price %> руб.</span>
                    </td>
                    <td>
                      <%= form_for record do |f| %>
                          <%= f.number_field :quantity, :min => 1, :class => "form-control input-1", :onchange => "$(this).parents('form').submit();" %>
                      <% end %>
                    </td>
                    <td class="title-1"><span class="money"><%= record.color %></span></td>
                    <td class="total title-1"><span class="money"><%= record.size %></span></td>
                    <td class="title-1"><span class="money"><%= record.final_lettering %></span></td>
                    <td class="action">
                      <%= link_to order_record_url(record), :method => :delete, :class => "btooltip",
                                  :data_toggle => "tooltip", :data_placement => "top", :data_original_title => "удалить" do %>
                          <i class="fa fa-times"></i>
                      <% end %>
                    </td>

                  </tr>
              <% end %>
              </tbody>
              <tfoot>
              <tr class="bottom-summary">
                <td>
                  <!-- <div class="cupon-div cupon-text">Код купона или промо-слово:</div>
                  <div class="cupon-div"><input class="form-control input-1"></div>
                  <button type="submit" id="update-cart" class="btn cupon-button" name="update">Применить
                    код
                  </button> -->
                </td>
                <td>&nbsp;</td>
                <td class="update-quantities"><span class="blue size-money">ИТОГО:</span>
                </td>
                <td class="subtotal title-1">
                  <span class="money size-money"><%= @order.total_price %> руб. </span></td>
                <td></td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
        <div class="clearfix">
          <div id="checkout-proceed" class="last1 text-right">
            <p class="p-no-dost">Стоимость указана без учета доставки</p>
            <a href="<%= edit_order_url(@order) %>"><button class="btn large" type="submit" name="checkout">
              Оформить заказ
            </button></a>
          </div>
        </div>
    <% else %>
        Корзина пуста.
    <% end %>
<% end %>
<%= render :template => "orders/_cart" %>