<% content_for :content do %>
    <div class="clearfix row">
      <div id="add_address" class="customer_address edit_address col-md-10">
        <div class="marg">
          <p class="red"> «Спасибо за Ваш выбор фирменного интернет-магазина «РосПатриот»! Заказ
            успешно создан. В ближайшее время с Вами свяжется наш оператор. На Ваш e-mail было
            отправлено письмо с подтверждением заказа. </p>
          <p class="red">Если письма нет, пожалуйста, проверьте папку «Спам». </p>
          <ul>
            <li><span>Вашему заказу автоматически присвоен №:</span> <%= @order.id %></li>
            <li><span>Дата заказа:</span> <%= l @order.updated_at, :format => :long %></li>
            <li><span>Текущий статус заказа:</span> <%= @order.status_label %></li>
            <li><span>Общая стоимость заказа:</span> <%= @order.total_price %> р.</li>
          </ul>
          <ul>
            <li><span>Заказчик:</span> <%= @order.address.try(:full_name) %></li>
            <li><span>Email:</span> <%= @order.user.try(:email) %></li>
            <li><span>Телефон:</span> <%= @order.address.try(:phone) %></li>
          </ul>
          <ul>
            <li><span>Доставка:</span> <%= @order.delivery_label %></li>
            <li><span>Адрес доставки:</span> <%= @order.address %></li>
          </ul>
          <ul>
            <li><span>Оплата:</span> <%= @order.payment_label %></li>
            <li><span>Результат:</span> <%= @order.payment_status_label %></li>
          </ul>
        </div>

        <div id="checkout-proceed" class="last1">
          <a href="<%= root_url %>">
            <button class="btn large" type="submit" name="checkout">Вернуться на главную</button>
          </a>
        </div>
      </div>
    </div>
<% end %>
<%= render :template => "orders/_cart" %>