<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %>
          <i class="fa fa-angle-right"></i>
          <a href="<%= shop_url %>" class="homepage-link">Магазин</a>
          <i class="fa fa-angle-right"></i>
          <span class="page-title">Товары по типу</span>
        </div>
      </div>
      <section class="row content botts">
        <div id="col-main" class="blog blog-page col-content col-sm-20 col-md-20">
          <h1 id="page-title" class="large">Магазин</h1>

          <h2><i class="fa fa-map-marker red"></i> Товары по типу</h2>

          <h3 class="blue"> Выберите тип товара:</h3>

          <div class="row">
            <% delay_dur = 100; @nav[:categories].each do |category| %>
                <div class="parralax1">
                  <a href="<%= category_url category %>">
                    <div class="inners">
                      <div class="inners2 not-animated" data-animate="bounceInLeft" data-delay="<%= delay_dur %>">
                        <i class="fa fa-chevron-right "></i>
                        <%= category.name %>
                      </div>
                    </div>
                  </a>
                </div>
            <% delay_dur += 200 end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>