<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %> <i class="fa fa-angle-right"></i>
          <a href="<%= shop_url %>" class="homepage-link">Магазин</a> <i class="fa fa-angle-right"></i>
          <a href="<%= categories_url %>" class="homepage-link">Товары по типу</a>
          <i class="fa fa-angle-right"></i>
          <span class="page-title"><%= @category.name %></span>
        </div>
      </div>
      <section class="row content">
        <!--#col-main-->
        <div id="col-main" class="collection collection-page col-content col-sm-15 col-md-15">

          <div id="page-header">
            <h1 id="page-title">Продукция: <%= @category.name %></h1>
          </div>

          <div class="collection-warper clearfix">
            <% delay_dur = 100; @nav[:types].each do |type| %>
                <div class="parralax1">
                  <a href="<%= category_type_url :id => type.id, :category_id => @category.id %>">
                    <div class="inners">
                      <div class="inners2 not-animated" data-animate="bounceInLeft" data-delay="<%= delay_dur %>">
                        <i class="fa fa-chevron-right "></i>
                        <%= type.name %>
                      </div>
                    </div>
                  </a>
                </div>
            <% delay_dur += 200 end %>
          </div>

          <section class="rel-container clearfix">
            <div class="title-1">
              <span class="content-title"><%= @category.name %>: популярные товары</span>
              <span class="sub-title"></span>
            </div>
            <div id="prod-related-wrapper">
              <div class="prod-related clearfix">
                <% delay_dur = 0; @category.products_active.shuffle.each do |product| %>
                    <div class="element not-animated" data-animate="bounceIn" data-delay="<%= delay_dur %>">
                      <%= render product, :url => product_category_url(:category_id => @category.id, :id => product.id) %>
                    </div>
                <% delay_dur += 200 end %>
              </div>
            </div>
          </section>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="modal fade" id="quick-shop-modal"></div>