<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %> <i class="fa fa-angle-right"></i>
          <a href="<%= shop_url %>" class="homepage-link" title="Магазин">Магазин</a> <i class="fa fa-angle-right"></i>
          <span class="page-title">Общие товары</span>
        </div>
      </div>
      <section class="row content">
        <div id="col-main" class="blog blog-page col-content col-sm-20 col-md-20">
          <h1 id="page-title" class="large">Магазин</h1>

          <h2>
            <i class="fa fa-globe red"></i>
            Товары с общими принтами
          </h2>
          <div class="row">
            <% delay_dur = 100; @nav[:subjects].each do |subject| %>
                <div class="col-md-10">
                  <div class="opasity-hover">
                    <div class="collection-panner not-animated" data-animate="flipInX" data-delay="<%= delay_dur %>">
                      <a href="<%= subject_url subject %>">
                        <img src="<%= image_path subject.image_url(:thumb) %>" class="img-responsive" alt="">
                      </a>
                    </div>
                    <div class="parralax1">
                      <div class="inners">
                        <div class="inners3 not-animated" data-animate="bounceInLeft" data-delay="<%= delay_dur %>">
                          <i class="fa fa-chevron-right "></i>
                          <%= subject.name %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="botty2"></div>
                </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>