<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %> <i class="fa fa-angle-right"></i>
          <a href="<%= shop_url %>" class="homepage-link">Магазин</a> <i class="fa fa-angle-right"></i>
          <a href="<%= subjects_url %>" class="homepage-link">Общие товары</a>
          <i class="fa fa-angle-right"></i>
          <span class="page-title"><%= @subject.name %></span>
        </div>
      </div>
      <section class="row content">
        <!--#col-main-->
        <div id="col-main" class="collection collection-page col-content col-sm-15 col-md-15">

          <div id="page-header">
            <h1 id="page-title">Продукция: <%= @subject.name %></h1>
          </div>

          <div class="collection-warper clearfix">
            <div class="collection-panner not-animated" data-animate="fadeIn" data-delay="900">
              <img src="<%= image_path @subject.image %>" class="img-responsive" alt="">
            </div>
            <% delay_dur = 100; @nav[:types].each do |type| %>
                <div class="parralax1">
                  <a href="<%= subject_type_url :id => type.id, :subject_id => @subject.id %>">
                    <div class="inners">
                      <div class="inners2 not-animated" data-animate="bounceInLeft" data-delay="<%= delay_dur %>">
                        <i class="fa fa-chevron-right "></i>
                        <%= type.name %>
                      </div>
                    </div>
                  </a>
                </div>
            <% delay_dur += 200 end %>
          </div>

          <section class="rel-container clearfix">
            <div class="title-1">
              <span class="content-title"><%= @subject.name %>: популярные товары</span>
              <span class="sub-title"></span>
            </div>
            <div id="prod-related-wrapper">
              <div class="prod-related clearfix">
                <% delay_dur = 0; @subject.products_active.shuffle.each do |product| %>
                    <div class="element not-animated" data-animate="bounceIn" data-delay="<%= delay_dur %>">
                      <%= render product, :url => product_subject_url(:subject_id => @subject.id, :id => product.id) %>
                    </div>
                <% delay_dur += 200 end %>
              </div>
            </div>
          </section>
        </div>
        <!--end #col-main-->

        <!--sidebar-->
        <div id="prodcoll" class="col-sm-5 col-md-5 sidebar">
          <div class="group_sidebar">
            <div class="sb-wrapper">
              <div class="sb-title">
                <i class="fa fa-hand-o-right red"></i>
                <%= @subject.name %>
              </div>
              <ul class="list-unstyled sb-content textwidget list-styled">
                <li><%= raw @subject.description %></li>
              </ul>
            </div>
          </div>
        </div>
        <!--end sidebar--> </section>
    </div>
  </div>
</div>
<div class="modal fade" id="quick-shop-modal"></div>