<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <section class="row content">
        <div id="col-main" class="blog blog-page col-content col-sm-20 col-md-20 midd-404">
          <h1 class="v-larg red">422 ошибка</h1>
          <p class="centr-w">Выполненный Вами запрос привёл к логической ошибке</p>
          <div class="cen-404">
            <button class="btn siz-404"><i class="fa fa-s fa-chevron-circle-left "></i> <a href="javascript:window.history.go(-1);">Вернуться назад</a></button>
            <button class="btn siz-404"><i class="fa fa-s fa-home"></i> <a href="<%= root_url %>">На главную</a></button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>