<h1>Заказ на сайте РосПатриот</h1>

<h2>Товары:</h2>

<table>
  <thead>
  <tr>
    <th>Наименование</th>
    <th>Количество</th>
    <th>Цена</th>
  </tr>
  </thead>
  <tbody>
  <% @records.each do |record| %>
      <tr>
        <td><%= record[:name] %></td>
        <td><%= record[:quantity] %></td>
        <td><%= record[:price] %></td>
      </tr>
  <% end %>
  </tbody>
</table>