<div id="parent_address_<%= address.id %>" class="address_table col-md-20 col-sm-20">
  <div id="view_address_<%= address.id %>" class="customer_address view_address">
    <div class="address_info col-md-15 col-sm-15">
      <address class="clearfix">
        <div class="info">
          <i class="fa fa-user"></i>
          <span class="address-group">
            <span class="author"><%= address.full_name %></span>
            <% if address.default %><span class="email">Адрес по умолчанию</span><% end %>
          </span>
        </div>
        <div class="address">
          <i class="fa fa-home"></i>
          <span class="address-group">
            <span class="address1"><%= address.to_s %> <span class="phone-number"><%= address.phone %></span> </span>
          </span>
        </div>
      </address>
    </div>
    <div id="tool_address_<%= address.id %>" class="address_actions text-left col-md-5 col-sm-5">
      <span class="action_edit">
        <a href="#" onclick="HTML.CustomerAddress.toggleForm(<%= address.id %>);return false"><i class="fa fa-edit"></i>Изменить адрес</a>
      </span>
      <span class="action_delete">
        <%= link_to address, :method => :delete, :data => {:confirm => "Вы уверены, что хотите удалить этот адрес?"} do %>
            <i class="fa fa-times"></i> Удалить адрес
        <% end %>
      </span>
    </div>
  </div>
  <div id="edit_address_<%= address.id %>" class="customer_address edit_address" style="display:none">
    <%= render "form", :address => address %>
  </div>
</div>