<%= form_for address do |f| %>
    <ul class="row list-unstyled customer_address_table">
      <li class="col-md-20">
        <%= f.label :first_name, :class => "control-label" do %>
            Имя <i class="fa fa-asterisk red sizeq"></i>
        <% end %>
        <%= f.text_field :first_name, :required => true, :class => "form-control" %>
      </li>
      <li class="clearfix"></li>
      <li class="col-md-20">
        <%= f.label :last_name, :class => "control-label" do %>
            Фамилия
        <% end %>
        <%= f.text_field :last_name, :class => "form-control" %>
      </li>
      <li class="clearfix"></li>
      <li class="col-md-20">
        <%= f.label :city, :class => "control-label" do %>
            Город <i class="fa fa-asterisk red sizeq"></i>
        <% end %>
        <%= f.text_field :city, :required => true, :class => "form-control" %>
      </li>
      <li class="clearfix"></li>
      <li class="col-md-20">
        <%= f.label :index, :class => "control-label" do %>
            Индекс
        <% end %>
        <%= f.text_field :index, :class => "form-control" %>
      </li>
      <li class="clearfix"></li>
      <li class="col-md-20">
        <%= f.label :street, :class => "control-label" do %>
            Улица
        <% end %>
        <%= f.text_field :street, :class => "form-control" %>
      </li>
      <li class="clearfix"></li>
      <li class="col-md-20">
        <%= f.label :house, :class => "control-label" do %>
            Дом
        <% end %>
        <%= f.text_field :house, :class => "form-control" %>
      </li>
      <li class="clearfix"></li>
      <li class="col-md-20">
        <%= f.label :housing, :class => "control-label" do %>
            Корпус
        <% end %>
        <%= f.text_field :housing, :class => "form-control" %>
      </li>
      <li class="clearfix"></li>
      <li class="col-md-20">
        <%= f.label :build, :class => "control-label" do %>
            Строение
        <% end %>
        <%= f.text_field :build, :class => "form-control" %>
      </li>
      <li class="clearfix"></li>
      <li class="col-md-20">
        <%= f.label :flat, :class => "control-label" do %>
            Квартира
        <% end %>
        <%= f.text_field :flat, :class => "form-control" %>
      </li>
      <li class="clearfix"></li>
      <li class="col-md-10">
        <%= f.label :phone, :class => "control-label" do %>
            Телефон <i class="fa fa-asterisk red sizeq"></i>
        <% end %>
        <%= f.text_field :phone, :required => true, :class => "form-control" %>
      </li>
      <li class="clearfix"></li>
      <li class="col-md-10 set_default">
        <%= f.check_box :default %> Установить, как адрес по умолчанию?
      </li>
    </ul>
    <div class="last clearfix">
      <button class="btn mright-7" type="submit">Добавить адрес</button>
      <button class="btn" type="button" onclick="HTML.CustomerAddress.toggleNewForm();return false">Отмена</button>
    </div>
<% end %>