<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %>
          <i class="fa fa-angle-right"></i>
          <span class="page-title">Адрес</span>
        </div>
      </div>
      <section class="row content">
        <div id="col-main" class="col-md-20 address-page manage-address clearfix">
          <h1 id="page-title">Управление адресом</h1>
          <button id="new-address" class="btn" onclick="HTML.CustomerAddress.toggleNewForm();return false">Добавить новый адрес</button>
          <div class="clearfix row">
            <div id="add_address" class="customer_address edit_address col-md-10" style="display:none">
              <%= render "form", :address => Address.new %>
            </div>
          </div>
          <div class="clearfix">
            <div id="address_tables">
              <div class="row">
                <div class="col-md-10 first">
                  <% @addresses.each do |address| %>
                      <%= render address %>
                  <% end %>
                </div>
              </div>
              <%= paginate @addresses %>
            </div>
          </div>
          <script type="text/javascript">
            var HTML = new Object();
            HTML.CustomerAddress = {
              toggleForm: function(id) {
                var editEl = document.getElementById('edit_address_'+id);
                var toolEl = document.getElementById('tool_address_'+id);
                editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
                toolEl.style.visibility = toolEl.style.visibility == 'hidden' ? '' : 'hidden';
                return false;
              },

              toggleNewForm: function() {
                var el = document.getElementById('add_address');
                el.style.display = el.style.display == 'none' ? '' : 'none';
                return false;
              }
            }
          </script>
        </div>
      </section>
    </div>
  </div>
</div>