<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %>
          <i class="fa fa-angle-right"></i>
          <span class="page-title">Восстановить пароль</span>
        </div>
      </div>
      <section class="row content">
        <div id="col-main" class="col-md-20 login-page clearfix">
          <h1 id="page-title">Восстановить пароль</h1>
          <div class="row">
            <div class="col-md-9 row-left">
              <div id="recover-password">
                <div class="wrapper-title">
                  <span class="title-2">Что делать, если Вы забыли свой пароль?</span>
                  <span class="line"></span>
                </div>
                <p class="note">В форму ниже введите свой электронный адрес, указанный при
                  регистрации,
                  и через несколько минут на Ваш E-mail придёт письмо с инструкциями по
                  восстановлению пароля.</p>

                <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                    <%= devise_error_messages! %>
                    <ul id="recover-form" class="list-unstyled">
                      <li class="clearfix"></li>
                      <li id="recover_email" class="col-md-20">
                        <%= f.label :email, :class => "control-label" do %>
                            Электронная почта
                            <span class="req">*</span>
                        <% end %>
                        <%= f.email_field :email, :class => "form-control" %>
                      </li>
                      <li class="col-md-20 unpadding-top">
                        <ul class="login-wrapper list-inline">
                          <li>
                            <button class="btn" type="submit">Выслать инструкции</button>
                          </li>
                          <li>
                            или
                            <%= link_to "вернуться на главную", root_path, :class => "return" %>
                          </li>
                        </ul>
                      </li>
                    </ul>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>