<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"> <i class="close fa fa-times btooltip" data-toggle="tooltip" data-placement="top" title="" data-dismiss="modal" data-original-title="Закрыть"></i>
      <br>
      <br>
      <p align="center"> <strong>ДОГОВОР КУПЛИ-ПРОДАЖИ НА ОСНОВЕ ПУБЛИЧНОЙ ОФЕРТЫ</strong>
      </p>
      <br>
      <p align="center"> <strong>ИНТЕРНЕТ-МАГАЗИНА</strong>
      </p>
      <br>
      <p align="center">
        <strong>www.rospatriot.ru/</strong>
        <strong></strong>
      </p>
      <p>
        Настоящий Договор в соответствии со ст. 437 Гражданского кодекса Российской Федерации (далее -ГК РФ) является публичной офертой (предложением продавца ООО
        «Роспатриот») о продаже физическим и юридическим лицам (покупателям) товаров дистанционным способом посредством Интернет-магазина на сайте
        <a href="http://www.rospatriot.ru/shop">www.rospatriot.ru/shop</a>
        .
      </p>
      <p>
        Согласно п.3 ст. 438 ГК РФ, лицо, заказавшее у продавца ООО «Роспатриот» товары, представленные на сайте
        <a href="http://www.rospatriot.ru/shop">www.rospatriot.ru/shop</a>
        , считается принявшим условия настоящей оферты и заключившим с продавцом настоящий
        Договор на изложенных в нем условиях (акцептовавшим данную оферту продавца).
      </p>
      <p>
        Покупатель имеет право принять условия настоящего Договора любой удобный покупателю срок, пока Товар имеется в наличии. В случае если товара нет на складе,
        Покупатель может приобрести его под заказ.
      </p>
      <br>
      <p align="center">
        <strong><em>Уважаемый покупатель!</em></strong>
      </p>
      <p>
        <strong><em>Если Вы не согласны с текстом настоящего Договора или с его отдельными пунктами, продавец предлагает Вам отказаться от покупки Товаров у продавца.</em></strong>
      </p>
      <p>
        <strong>
          <em>В случае размещения заказа на товар у продавца, Вы безоговорочно принимаете все условия настоящего Договора и обязуетесь полностью соблюдать
            условия сотрудничества, предлагаемые продавцом.</em>
        </strong>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae laboriosam voluptatum labore cumque saepe voluptate qui quaerat quam iste aliquid asperiores neque doloremque repellat nemo harum, laudantium hic porro, praesentium quia, commodi dolore a vel tempore ipsa. Doloribus dolor, rerum libero sapiente cum accusantium? Neque temporibus, tenetur. Sint itaque perferendis distinctio veritatis quisquam alias. Explicabo cupiditate, temporibus consequuntur. Officia aspernatur rerum quibusdam reiciendis sit labore cum iusto, ad vel laboriosam eligendi praesentium facere enim doloribus obcaecati voluptatem blanditiis. Sapiente consequuntur ea amet delectus, fugiat voluptatum aperiam? Praesentium eveniet numquam fuga vitae sapiente natus dolorum ex unde esse, odit aut autem quam reiciendis nisi distinctio ducimus nostrum quibusdam. Iste tempore repellat ipsam consectetur odit a dolor mollitia qui, vitae cumque facilis rerum quod, incidunt, laudantium libero quibusdam deleniti nihil reiciendis repellendus fugiat, distinctio enim officiis voluptas. Qui quis tenetur assumenda, harum? Magnam eaque consectetur eius optio beatae quod perspiciatis suscipit illo minus alias quam similique, laboriosam sint deserunt repellat blanditiis iusto labore error ex, maiores non illum odit. Voluptates sed, cupiditate! Deserunt veniam, culpa dolores molestias laboriosam qui, fuga commodi quasi nostrum. Nam repudiandae iusto numquam, consequuntur rerum reprehenderit perspiciatis culpa optio minus corporis non, earum repellat omnis in dignissimos quis unde consequatur, veritatis commodi ut necessitatibus ex eum minima maxime! Ducimus quibusdam iure tenetur nobis optio sunt earum, fugiat labore facilis eum quos nulla temporibus officia harum sed corporis dolores dolorum natus totam quia cupiditate aut! Illo ipsam asperiores neque ipsum, provident modi voluptatum sequi aspernatur nesciunt! Saepe accusamus rem exercitationem repudiandae, optio error debitis id eum aspernatur earum corporis vel tenetur recusandae quas aperiam inventore illum alias totam doloribus labore? Assumenda cupiditate obcaecati et quisquam modi labore libero, necessitatibus rerum laboriosam, voluptate distinctio quaerat esse accusantium cumque aspernatur odio similique! Quis rem ut animi? Ut at dicta commodi expedita quis hic, aperiam doloremque soluta corporis eum quidem doloribus fuga ipsa, nulla ducimus ratione modi suscipit blanditiis odio repellat voluptatum atque impedit. A, minima architecto. Ea cupiditate similique culpa rerum minus natus velit nesciunt vitae temporibus, numquam provident dolores, quas, earum perspiciatis ab praesentium aperiam iste laudantium? Eaque alias sequi labore harum quas expedita corrupti cupiditate quos eos neque provident recusandae dolor in asperiores dolorum esse magni, libero quidem sunt perspiciatis ipsam. Mollitia quia ad et quisquam quam quibusdam, recusandae dignissimos a rerum, earum vel iusto, cupiditate rem, ipsa adipisci magni eligendi. Voluptates, velit? Explicabo libero fuga consectetur expedita eos alias totam sapiente possimus eius sint saepe quidem enim fugit, tenetur, voluptatem dolore sequi accusantium vel! Doloremque praesentium, reiciendis ut cum quos optio odit ea dolorem exercitationem vero atque sunt eum corporis, necessitatibus aliquid rerum? Possimus necessitatibus, nostrum debitis. Animi alias quaerat, omnis provident cum in facilis blanditiis hic expedita voluptas sunt dignissimos vero eveniet quis temporibus, ratione officiis eligendi reprehenderit consequatur? Qui delectus totam sit, iusto labore illum culpa corrupti ipsam aliquam veritatis. Nesciunt ut tenetur facere minus maiores id impedit aliquam similique ipsum autem odio, officia modi, non eveniet, quidem quae hic recusandae fugiat libero ea, unde veritatis. Consectetur, reiciendis obcaecati, ipsa autem accusantium cupiditate necessitatibus ut aliquam qui pariatur! Asperiores molestias a nobis reprehenderit deleniti, veritatis earum, dolor laborum fuga voluptatem optio labore libero deserunt ad itaque, inventore doloremque perferendis totam voluptates repellendus! Iure officia labore natus est earum nisi expedita ipsa voluptate, dolores rem quae quasi recusandae, temporibus unde, hic sunt maiores blanditiis magnam, quas vel autem ipsam distinctio. Consectetur, pariatur facilis adipisci itaque inventore at dignissimos minima quas repellendus. Mollitia asperiores, recusandae cum quibusdam! Qui illo quae optio aliquam in sed praesentium rerum laborum! Quae laboriosam eum alias dolorem iusto hic, saepe nisi tenetur quasi. Numquam incidunt rerum veritatis est minus ea consequuntur accusamus dolores sed amet. Beatae necessitatibus veniam fuga, quia quae facilis enim est mollitia, maxime quas delectus doloribus adipisci debitis ut dolorum reiciendis omnis? Vitae minus labore consequuntur eum amet quaerat sed eveniet iure corrupti dolorum, necessitatibus veniam quisquam maxime consectetur deserunt reiciendis animi tempora expedita aliquid inventore est quidem eaque. Nisi voluptates dolore mollitia quaerat consectetur fugiat ratione, quidem minus error hic asperiores corrupti, repudiandae aliquam, provident praesentium similique repellendus possimus! Recusandae doloremque, consequuntur laudantium est necessitatibus facilis sapiente ipsa molestiae repudiandae sequi sint dolorum ipsam tenetur aliquid eum similique pariatur in quis omnis dolor reprehenderit. Officia veritatis possimus magni, porro quo labore assumenda doloribus, optio error itaque ex tempore corporis aspernatur deleniti expedita consequatur temporibus maxime iste reprehenderit hic laudantium neque odit delectus? Adipisci modi sequi doloribus, tempore quos nemo corporis dolores, sunt quo, aliquid voluptatibus rem vero, voluptatum aliquam. Ipsum, eligendi, ratione. Eos doloribus, odio repellat, distinctio quasi eligendi? A recusandae soluta molestiae libero, corporis consequuntur vel in aliquid necessitatibus quos, ipsum, quis nam. Rerum praesentium quaerat quisquam, incidunt perferendis a quae dolorum? Aspernatur laudantium nisi voluptatem, aliquid, quisquam illum! Dolorem hic, aperiam aspernatur non itaque, doloremque odit sequi sed. Laudantium laboriosam totam quos illo accusantium excepturi ea molestiae. Consequuntur inventore, dolor fuga aliquid voluptates cum nobis vero ea veniam reprehenderit nemo quibusdam, ut odit, officia eum dolorem. Accusamus autem totam odio excepturi ipsam temporibus blanditiis ratione quae inventore aperiam corporis nostrum quo, nihil, rerum ab rem alias animi velit quidem harum aliquam aut natus! Quia praesentium ipsum laudantium repellendus asperiores ad perspiciatis neque maiores molestiae corporis dolorum recusandae officiis sint non a similique unde ipsam adipisci veritatis aperiam voluptatibus voluptatem et, doloribus sequi! Sequi numquam optio sed unde necessitatibus molestiae veritatis pariatur quia, ex est! Nostrum quisquam asperiores magnam sequi, sed labore. Esse sit quasi eligendi, impedit repellat! Ipsam harum itaque ratione esse dolorem obcaecati cumque ipsum sunt possimus quas assumenda eligendi, quos ut, porro blanditiis. Dolor quibusdam consequatur eos, soluta repellendus itaque debitis possimus cum optio fugit aspernatur sint iusto laborum eaque maxime aut numquam nulla mollitia impedit veniam beatae corporis eligendi autem rerum. Molestias voluptates vero rem eum aliquid alias illum, magni, animi placeat iste! Unde cumque blanditiis nesciunt dicta distinctio tempora nam necessitatibus sequi eos ducimus, perspiciatis ea excepturi amet, maiores iste mollitia atque voluptate animi iure est incidunt soluta quod quo. Eaque itaque distinctio sunt dolor totam, vel odit eius alias temporibus perferendis corporis, natus hic amet quisquam optio inventore reprehenderit, numquam modi minus. Distinctio aliquam voluptate, debitis sed accusantium dolorum aspernatur perferendis laboriosam assumenda, eveniet excepturi! Sit possimus, obcaecati ullam fuga, tempore perferendis libero voluptate ea tempora excepturi consequatur culpa quos laboriosam modi velit a dolorem quibusdam alias harum maxime quidem. Non provident culpa veritatis incidunt, quos. Reiciendis totam vitae quos tempora quasi, dolores, illum ea minus illo, animi cumque nobis delectus sit molestiae, molestias repellat provident possimus asperiores doloremque odit maiores cupiditate! Porro vel, molestiae quia delectus officia, amet doloribus autem optio. Dolore consectetur repellat explicabo, provident quo? Sequi mollitia exercitationem eius asperiores aliquid laborum expedita eum ipsa similique labore! Facilis quaerat impedit ex iure sint nisi veritatis officiis dolore tempora, adipisci blanditiis amet expedita quasi enim hic, vitae eligendi beatae, labore reiciendis. Voluptates omnis mollitia, soluta, quia voluptate consequatur. Sint a tenetur quam dolore at, voluptatum excepturi asperiores optio, numquam consequatur recusandae earum ducimus perferendis, consequuntur eligendi delectus aut quaerat eveniet. Ratione reiciendis laborum, expedita sunt nulla iste. Libero cum corporis vero eos ab reiciendis suscipit unde! Quidem voluptas consectetur amet tenetur expedita accusamus recusandae et, consequuntur magni delectus dicta nulla.
      </p>
    </div>
  </div>
</div>