<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <i class="close fa fa-times btooltip" data-toggle="tooltip" data-placement="top" title="" data-dismiss="modal" data-original-title="Закрыть"></i>
      <h2>Надпись</h2>
      <<iframe class="frrr" src=http://www.youtube.com/embed/AYI6y4WNCZE?rel=0&autoplay=0
              frameborder="0" allowfullscreen></iframe>>
    </div>
  </div>
</div>