<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %>
          <i class="fa fa-angle-right"></i>
          <span class="page-title">О нас</span>
        </div>
      </div>
      <section class="row content">
        <div id="col-main" class="blog blog-page col-content col-sm-15 col-md-15">
          <h1 id="page-title" class="large">О нас</h1>

          <div class="not-animated" data-animate="fadeInLeft" data-delay="300">
            <p><span class="red size">Р</span>осПатриот – это новый современный проект в сфере индустрии моды и одежды. Идея проекта направлена на объединение всей России по средствам создания уникальных дизайнерских образов.</p>

            <p><span class="red size">Д</span>анный проект предлагает объединение, консолидацию российского общества вокруг базисных вещей: культуры, истории и прогресса России. Мы хотим, чтобы каждый гражданин почувствовал себя частью Великой страны. Наша одежда позволит это сделать абсолютно каждому! А именно почувствовать причастность к своему государству, к той малой Родине, с которой  человека объединяет долголетняя связь и привязанность. К тому месту, где он родился, провел свои школьные, студенческие годы и другие приятные моменты своей жизни.</p>










            <p><span class="red size">Г</span>де бы человек не находился, в любой точке земного шара, он может заказать через наш он-лайн магазин частицу своей Родины – частицу России!</p>
          </div>
          <!--<img src="<%= image_path "about-photo.jpg" %>" class="img-responsive not-animated"
               data-animate="fadeIn" data-delay="300" height="283" width="866" alt="">-->
          <div class="not-animated sry-se" data-animate="fadeInLeft" data-delay="300">
            <h3><i class="swing fa fa-dot-circle-o red"></i> ЦЕЛЬ ПРОЕКТА</h3>


            <p class="boldy">Целью компании РосПатриот является создание как исторического, так и современного образа России на одежде и аксессуарах. Мы производим креативную, качественную и комфортную одежду на каждый день с неповторимым дизайном и пошивом. </p>

            <p class="boldy"> Созданный нами интернет-магазин несёт в себе не только общепринятый функционал магазинов такого рода, но а также рассказывает о России, её городах. Любой человек на нашем сайте может заказать для себя понравившееся изделие о России, с одним из специально разработанных дизайнерами рисунков, оплатить его удобным способом и получить в любой точке мира.</p>

            <img src="<%= image_path "rls.jpg" %>" class="img-responsive not-animated"
                 data-animate="fadeIn" data-delay="300" height="283" width="866" alt="">


            <p class="boldy" style="margin-top: 20px;"> У нас на сайте представлены майки с надписями и на английском языке. Так что каждый желающий сможет дарить нашу продукцию своим знакомым из других стран, тем самым показывая им интересную, незнакомую до этого Россию в изображениях: с ее неповторимыми пейзажами, памятниками, историческими личностями и всеми самыми известными достопримечательностями нашей необъятной страны!</p>

            <p class="boldy">РосПатриот – это самый лучший и простой способ приобрести себе запоминающуюся частичку России, родного края! У нас Вы найдете все: от Калининграда до Владивостока! </p>

            <p class="boldy">
              Желаем Вам приятных и успешных покупок!<br>

              Команда РосПатриот.
            </p>
          </div>

<!--
          <div class="not-animated st-res" data-animate="fadeInLeft" data-delay="300">
            <h3><i class="swing fa fa-question-circle-o red"></i>  Как сделать заказ на сайте:</h3>

            <p class="boldy">• Выберите интересующий товар, а так - же нужный размер </p>
            <p class="boldy">• Все товары, которые представленны на нашем сайте, есть в наличии </p>
            <p class="boldy">• Размеры, временно отсутствующие на складе - на сайте не представленны </p>
            <p class="boldy">• Положите товар в корзину. Это действие выполняет кнопка "Купить" </p>
            <p class="boldy">• В корзине можно продолжить покупки, нажав кнопку"Продолжить покупки" или продолжить </p>
            <p class="boldy">• Оформление заказа кнопкой " Оформить заказ" </p>
            <p class="boldy">• Заполните "Информация для оплаты и доставки заказа" </p>
            <p class="boldy">• Выберите "Способ доставки" </p>
            <p class="boldy">• Ожидайте звонка менеджера в рабочие часы интернет-магазина. </p>
          </div>
-->
        </div>
        <div class="col-sm-5 col-md-5 sidebar">
          <div class="group_sidebar not-animated" data-animate="flip" data-delay="300">
            <div class="sb-wrapper">
              <div class="sb-title">Быть патриотом - это модно!</div>
              <img src="<%= image_path "ros-gerb-o-nas.jpg" %>" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>