<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %>
          <i class="fa fa-angle-right"></i>
          <span class="page-title">Мой аккаунт</span>
        </div>
      </div>
      <section class="row content">
        <div id="col-main" class="account-page col-sm-15 col-md-15 clearfix">
          <h1 id="page-title" class="unmargin-top">Мой аккаунт</h1>
          <button class="btn" onclick="window.location='<%= edit_user_registration_url %>'">Сменить пароль</button>
          <div id="customer_orders">
            <h4>История заказов</h4>
            <div class="row wrap-table">
              <table class="table-hover">
                <thead>
                <tr>
                  <th class="order_number">Заказ</th>
                  <th class="date">Дата</th>
                  <th class="payment_status">Статус оплаты</th>
                  <th class="fulfillment_status">Состояние</th>
                  <th class="total">Итого</th>
                </tr>
                </thead>
                <tbody>
                <% current_user.orders.each_with_index do |order, index| %>
                    <tr class="<%= index % 2 > 0 ? "odd" : "even" %>">
                      <td><%= link_to order.id, order %></td>
                      <td><span class="note"><%= l order.created_at.to_date %></span></td>
                      <td><span class="status_authorized"><%= order.payment_status_label %></span></td>
                      <td><span class="status_unfulfilled"><%= order.status_label %></span></td>
                      <td><span class="total"><span class="money" data-currency-eur="€120.00" data-currency-usd="$164.68" data-currency="USD"><%= order.total_price %> руб.</span></span></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-md-5 sidebar">
          <div class="group_sidebar mobi-marg">
            <div class="row sb-wrapper unpadding-top">
              <div class="sb-title">Детали аккаунта</div>
              <ul id="customer_detail" class="list-unstyled sb-content">
                <li>
                  <address class="clearfix">
                    <div class="info">
                      <i class="fa fa-user"></i>
                        <span class="address-group">
                          <span class="author"><%= current_user.full_name %></span>
                          <span class="email"><%= current_user.email %></span>
                        </span>
                    </div>
                    <% if current_user.address %>
                        <div class="address">
                      <i class="fa fa-home"></i>
                        <span class="address-group">
                          <span class="address1"><%= current_user.address.to_s %><span class="phone-number"><%= current_user.address.phone %></span> </span>
                        </span>
                    </div>
                    <% end %>
                  </address>
                </li>
                <li class="bt">
                  <button class="btn" id="view_address" onclick="window.location='<%= addresses_url %>'">Посмотреть адреса</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>