<!-- <?php/*

session_start();

if ($_POST['sendMail']) {
    $admin = "alexsaf91@mail.ru" . ", "; //обратите внимание на запятую
    $admin .= "";
}

if (isset($_POST['sendMail']) or isset($_POST['sendMail1'])) {

    $name = substr($_POST['name'], 0, 64);
    $email = substr($_POST['email'], 0, 64);
    $subject = substr($_POST['subject'], 0, 64);
    $message = substr($_POST['message'], 0, 8500);

    $_SESSION['name'] = htmlspecialchars($_POST['name']);
    $_SESSION['email'] = htmlspecialchars($_POST['email']);
    $_SESSION['subject'] = htmlspecialchars($_POST['subject']);
    $_SESSION['message'] = htmlspecialchars($_POST['message']);

    $error = '';

    if (!empty($error)) {
        $_SESSION['sendMailForm']['error'] = '<p>При заполнении формы допущены ошибки:</p>
<ul>' . $error . '</ul>
';
$_SESSION['sendMailForm']['name'] = $name;
$_SESSION['sendMailForm']['email'] = $email;
$_SESSION['sendMailForm']['subject'] = $subject;
$_SESSION['sendMailForm']['message'] = $message;
header('Location: ' . $_SERVER['PHP_SELF']);
die();
}


$filepath = array();
$filename = array();
for ($i = 0; $i
< count($_FILES['file']); $i++) {
if (!empty($_FILES['file']['tmp_name'][$i]) and $_FILES['file']['error'][$i] == 0) {
$filepath[] = $_FILES['file']['tmp_name'][$i];
$filename[] = $_FILES['file']['name'][$i];
}
}

$body = "ИМЯ:\r\n" . $name . "\r\n\r\n";
$body .= "E-MAIL:\r\n" . $email . "\r\n\r\n";
$body .= "ТЕЛЕФОН:\r\n" . $subject . "\r\n\r\n";
$body .= "СООБЩЕНИЕ:\r\n" . $message;

if (send_mail($admin, $body, $email, $filepath, $filename))
$_SESSION['success'] = true;
else
$_SESSION['success'] = false;
header('Location: ' . $_SERVER['PHP_SELF']);
die();
}

// Вспомогательная функция для отправки почтового сообщения с вложением
function send_mail($admin, $body, $email, $filepath, $filename)
{
$subject = '=?utf-8?B?' . base64_encode('Заполнена форма на сайте - скрипт FULL') . '?=';
$boundary = "--" . md5(uniqid(time())); // генерируем разделитель
$headers = "From: " . strtoupper($_SERVER['SERVER_NAME']) . " <" . $email . ">
\r\n";
$headers .= "Return-path:
<" . $email . ">
\r\n";
$headers .= "MIME-Version: 1.0\r\n";
$headers .= "Content-Type: multipart/mixed; boundary=\"" . $boundary . "\"\r\n";
$multipart = "--" . $boundary . "\r\n";
$multipart .= "Content-type: text/plain; charset=\"utf-8\"\r\n";
$multipart .= "Content-Transfer-Encoding: quoted-printable\r\n\r\n";

$body = quoted_printable_encode($body) . "\r\n\r\n";

$multipart .= $body;

$file = '';
$count = count($filepath);
if ($count > 0) {
for ($i = 0; $i
< $count; $i++) {
$fp = fopen($filepath[$i], "r");
if ($fp) {
$content = fread($fp, filesize($filepath[$i]));
fclose($fp);
$file .= "--" . $boundary . "\r\n";
$file .= "Content-Type: application/octet-stream\r\n";
$file .= "Content-Transfer-Encoding: base64\r\n";
$file .= "Content-Disposition: attachment; filename=\"" . $filename[$i] . "\"\r\n\r\n";
$file .= chunk_split(base64_encode($content)) . "\r\n";
}
}
}
$multipart .= $file . "--" . $boundary . "--\r\n";

if (mail($admin, $subject, $multipart, $headers))
return true;
else
return false;
}

function quoted_printable_encode_character($matches)
{
$character = $matches[0];
return sprintf('=%02x', ord($character));
}

*/?> -->
<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %> <i class="fa fa-angle-right"></i>
          <span class="page-title">Службы доставки</span>
        </div>
      </div>

	  
      <div id="bottom">
        <div class="container">
          <div id="bottom_blocks" class="row"></div>
        </div>
        <section class="row content  mob-no-r">
          <div id="content" class="row clearfix mob-no-r">
            <section class="content">
              <div id="col-main" class="clearfix">
                <div class="row container mob-no-r">
                  <!--
                  <div class="col-md-5 hidden-sm hidden-xs">
                    <div class="bottom-block whi50 not-animated" data-animate="fadeInLeft "
                         data-delay="300">
                      <div class="block-logo2">
                        <img class="img-responsive swing siza"
                             src="<%= image_path "cards-ex.jpg" %>" height="155" width="258"
                             alt=""></div>
                      <div class="block-content">
                        <div class="block-heading">Эксклюзивные принты</div>
                        <p class="block-caption">
                          Посмотрите нашу
                          <a target="_blank" class="scrolr2"
                             href="http://podaripobedy.ru/">
                            коллекцию
                            принтов на заказ в честь великой победы!
                          </a>
                          Изделие на заказ станет отличным подарком
                          вашим коллегам, друзьям и родным!
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="bottom-block whi50 not-animated" data-animate="fadeInRight"
                         data-delay="300">
                      <div class="block-logo2">
                        <img class=" img-responsive swing siza"
                             src="<%= image_path "cards-ex2.jpg" %>" height="155" width="258"
                             alt=""></div>
                      <div class="block-content">
                        <div class="block-heading">Любой цвет на заказ</div>
                        <p class="block-caption">
                          Кроме стандартных цветовых решений вы можете
                          заказать изделие в любом другом цвете. Если сомневаеесь в своем
                          выборе
                          <a class="scrolr" href="#">оставить заявку</a>
                          на помощь
                          дизайнера
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="bottom-block whi50 not-animated" data-animate="fadeInLeft "
                         data-delay="300">
                      <div class="block-logo2">
                        <img class="img-responsive swing siza"
                             src="<%= image_path "cards-ex3.jpg" %>" height="155" width="258"
                             alt=""></div>
                      <div class="block-content">
                        <div class="block-heading">Надписи на заказ</div>
                        <p class="block-caption">
                          Вы также можете
                          <a class="scrolr" href="#">
                            оставить
                            заявку
                          </a>
                          на нанесение инициалов или любой другой надписи на
                          любое изделие, представленное на нашем сайте
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="bottom-block whi50 center-ex not-animated"
                         data-animate="fadeInRight" data-delay="300">
                      <div class="block-logo2">
                        <img class="img-responsive swing siza"
                             src="<%= image_path "cards-ex4.jpg" %>" height="155" width="258"
                             alt=""></div>
                      <div class="block-content">
                        <div class="block-heading">Печать своего фото на изделии</div>
                        <p class="block-caption">
                          1) Загрузите свое фото
                          <br>
                          2) Опишите другие
                          детали заявки
                          <br>
                          3)
                          <a class="scrolr" href="#">Оставьте заявку</a>
                        </p>
                      </div>
                    </div>
                  </div>
-->
                  <!--home content-->
                  <div class="col-md-15 bosh-ex" style="margin-top: 40px;">

<!--
                    <section class="rel-container clearfix">
                      <div id="SCROLL_TO_ELEMENT" class="title-1 not-animated hidden-sm hidden-xs"
                           data-animate="fadeInRight" data-delay="300">
                                                                <span
                                                                class="content-title bottom20">Галерея принтов от дизайнеров</span>

                        <div class="effects effect-5 clearfix">
                          <div class="img">
                            <img class="img-responsive hov-eff toppy"
                                 src="<%= image_path "diz.jpg" %>" height="574" width="865"
                                 alt="">

                            <div class="overlay">
                              <a href="<%= exclusive_gallery_url %>Gallery" class="expand">
                                Открыть
                                <br>галерею</a>
                              <a class="close-overlay hidden">x</a>
                            </div>
                          </div>

                        </div>
                      </div>
                    </section>
-->
                    <div id="diz" class="col-md-15 scrolly-area">
                      <h2 style="margin-top: 0px;">Службы доставки</h2>

                      <p>
                        Перевозка товаров при работе с Яндекс.Доставкой в среднем стоит столько же, сколько при работе с курьерскими службами напрямую. Здесь вы можете сравнить примерные сроки и стоимость доставки с помощью разных служб.
                      </p>
                      <div class="banner quick_shop fl-ri-sh" data-href="<%= exclusive_popup_url %>"
                           data-target="#quick-shop-modal" data-toggle="modal">
                        <a class="ex-red-help" href="#">
                          Помощь в заполнении формы <i class="fa fa-question-circle red"></i>
                        </a>
                      </div>

                      <form id="contactfor" action="<?php echo $_SERVER['PHP_SELF'] ?>
                                                                    "
                            method="POST" enctype="multipart/form-data" name="mainForm">
                        <input
                        name="form_type" type="hidden" value="contact">
                        <input name="utf8"
                               type="hidden"
                               value="?">

                        <div class="h1">
                          <span class="sub-title"></span>
                        </div>
                        <ul id="contact-form" class="row list-unstyled">

                          <li class="clearfix"></li>

                          <p class="fix-ex">
                            Есть ли у вас наброски, эскизы или что-то, что
                            могло бы помочь?
                          </p>

                          <div class="mar-lw">
                            <input type="button"
                                   value="&#8658; Выберете файлы"
                                   onclick="addtext(this);"/>
                          </div>



                          <li class="col-md-20">
                            <div class="col-md-10 botts">
                              <select id="address_country_new" class="form-control" name="address[country]"
                                      data-default="">
                                <option value="" data-provinces="[]">-- Товар с надписью --</option>
                                <option value="black">Футболка</option>
                                <option value="gray">Свитшот</option>
                                <option value="white">Толстовка</option>
                                <option value="white">Майка</option>
                                <option value="white">Поло</option>
                                <option value="white">Кружка</option>
                                <option value="white">Кепка</option>
                                <option value="white">Чехол</option>
                              </select>
                            </div>
                          </li>
                          <li class="col-md-20">
                            <div class="col-md-10 botts">
                              <select id="address_country_new" class="form-control" name="address[country]"
                                      data-default="">
                                <option value="" data-provinces="[]">-- Пол --</option>
                                <option value="black">Мужской</option>
                                <option value="gray">Женский</option>

                              </select>
                            </div>
                          </li>
                          <li class="col-md-20">
                            <div class="col-md-10 botts">
                              <select id="address_country_new" class="form-control" name="address[country]"
                                      data-default="">
                                <option value="" data-provinces="[]">-- Цвет надписи --</option>
                                <option value="black">Золотистый</option>
                                <option value="gray">Черный</option>
                                <option value="gray">Синий</option>
                              </select>
                            </div>
                          </li>
                          <li class="col-md-20">
                            <div class="col-md-10 botts">
                              <select id="address_country_new" class="form-control" name="address[country]"
                                      data-default="">
                                <option value="" data-provinces="[]">-- Укажите желаемый цвет изделия --</option>
                                <option value="black">Черный</option>
                                <option value="gray">Серый</option>
                                <option value="white">Белый</option>
                              </select>
                            </div>
                          </li>

                          <li class="col-md-20">
                            <div class="col-md-10 botts">
                              <select id="address_country_new" class="form-control" name="address[country]"
                                      data-default="">
                                <option value="" data-provinces="[]">-- Укажите желаемый размер --</option>
                                <option value="black">28-30</option>
                                <option value="gray">30-32</option>
                                <option value="white">32-34</option>
                                <option value="black">34-36</option>
                                <option value="gray">36-38</option>
                                <option value="white">38-40</option>
                                <option value="black">40-42</option>
                                <option value="gray">42-44</option>
                                <option value="white">44-46</option>
                                <option value="black">46-48</option>
                                <option value="gray">48-50</option>
                                <option value="white">50-52</option>
                                <option value="white">52-54</option>
                                <option value="black">54-56</option>
                                <option value="gray">58-58</option>
                                <option value="white">58-60</option>
                              </select>
                            </div>
                          </li>

                          <br>
                          <br>
                          <li class="col-md-20">
                            <label class="control-label" for="name">Артикул товара для надписи</label>
                            <input class="form-control" onkeyup="changeButtonStatus()"
                                   placeholder="Например: 456774"
                                   onchange="changeButtonStatus()" type="text" name="name"
                                   maxlength="64"
                                   value="<?php if ($_SESSION['sendMailForm']['error']) echo($name = $_SESSION['name']); ?>"/></li>

                          <li class="col-md-20">
                            <label class="control-label" for="name">Ваше ФИО</label>
                            <input class="form-control" onkeyup="changeButtonStatus()"
                                   placeholder="Например: Василий Иванов"
                                   onchange="changeButtonStatus()" type="text" name="name"
                                   maxlength="64"
                                   value="<?php if ($_SESSION['sendMailForm']['error']) echo($name = $_SESSION['name']); ?>"/></li>

                          <li class="clearfix"></li>
                          <li class="col-md-20">
                            <label class="control-label" for="email">
                              Электронная почта
                                                                                <span
                                                                                class="req">*</span>
                            </label>
                            <input class="form-control email"
                                   placeholder="Например: user@mail.ru"
                                   onkeyup="changeButtonStatus()"
                                   onchange="changeButtonStatus()" name="email" required
                                   maxlength="64"
                                   value="<?php if ($_SESSION['sendMailForm']['error']) echo($name = $_SESSION['email']); ?>"/></li>
                          <li class="clearfix"></li>
                          <li class="col-md-20">
                            <label class="control-label" for="subject">Телефон</label>
                            <input class="form-control subject"
                                   placeholder="Например: + 7 495 111-11-11"
                                   onkeyup="changeButtonStatus()"
                                   onchange="changeButtonStatus()" name="subject"
                                   maxlength="64"
                                   value="<?php if ($_SESSION['sendMailForm']['error']) echo($subject = $_SESSION['email']); ?>"/></li>
                          <li class="clearfix"></li>
                          <li class="col-md-20 unpadding-top">
                            <input class="btn pad-ex" type="submit" title="Оставить заявку"
                                   name="sendMail" value="Оставить заявку" id="send_but"/>
                          </li>
                        </ul>
                      </form>
                    </div>

                    <!-- <?php
                                        if (isset($_SESSION['success'])) {
                                            if ($_SESSION['success'])
                                                echo '<p style="background:lightgreen">Письмо успешно отправлено</p>
                    ';
                    else
                    echo '
                    <p style="background:yellow;border:1px solid red">Ошибка при отправке письма</p>
                    ';
                    unset($_SESSION['success']);
                    }
                    if (isset($_SESSION['sendMailForm'])) {
                    echo $_SESSION['sendMailForm']['error'];
                    $name = htmlspecialchars($_SESSION['sendMailForm']['name']);
                    $email = htmlspecialchars($_SESSION['sendMailForm']['email']);
                    $subject = htmlspecialchars($_SESSION['sendMailForm']['subject']);
                    $message = htmlspecialchars($_SESSION['sendMailForm']['message']);
                    unset($_SESSION['sendMailForm']);
                    } else {
                    $name = '';
                    $email = '';
                    $subject = '';
                    $message = '';
                    }
                    ?> -->
                  </div>
                  <!--end home content-->

                  <!--sidebar home-->
                  <div class="home_banners_wrapper col-md-5 seqq"  style="margin-top: 35px;">
                    <div class="group_homebanner hidden-xs">
                      <div class="home_banners_inner not-animated" data-animate="flipInX"
                           data-delay="300">
                        <div class="home_banners_container">
                          <h3 class="sb-title">
                            <i class="fa fa-lightbulb-o red"></i>
                            Помощь
                            дизайнера
                          </h3>

                          <div id="home_banners" class="clearfix">
                            <div class="banner quick_shop">
                              <p>
                                У нас вы также можете
                                нанести инициалы и любые другие надписи на выбранное вами изделие.
                              </p>
                              <a href="#">
                                <a class="scrolr" href="#">
                                  <img
                                  class="img-responsive max-www"
                                  src="<%= image_path "ex.jpg" %>" alt=""></a>
                              </a>

<!--
                              <a class="scrolr" href="#">
                                <button class="btn2 select-option" type="button">
                                  Заполнить бриф
                                  <i
                                  class="fa fa-hand-o-left sizz"></i>
                                </button>
                              </a>

                              -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--конец виджета выбор регионов--> </div>
                  </div>
                  <!--end sidebar home--> </div>
              </div>
            </section>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="quick-shop-modal"></div>
<script>
  $(document).ready(function () {
    $('.scrolr').click(function () {
      // скорость скролла
      var speed = 1000;

      // место скролла
      var top = $('.scrolly-area').offset().top;

      $('html, body').animate({scrollTop: top}, speed);

      return false;
    });
  });
  $(document).ready(function () {
    $('.scrolr2').click(function () {
      // скорость скролла
      var speed = 1000;

      // место скролла
      var top = $('.scrolly-area2').offset().top;

      $('html, body').animate({scrollTop: top}, speed);

      return false;
    });
  });
</script>