<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div class="home-slider-wrapper clearfix">
      <div class="camera_wrap" id="home-slider">
        <% @banners.each do |banner| %>
            <div data-src="<%= image_path banner.image %>"><%= raw banner.content %></div>
        <% end %>
      </div>
    </div>
    <div id="bottom">
      <div class="container">
        <div id="bottom_blocks" class="row">

          <div class="col-md-4">
            <div class="bottom-block bbl1 not-animated" data-animate="fadeInRight" data-delay="300">
              <div class="block-logo">
                <a href="<%= shop_url %>"><i class="swing sizys fa fa-shopping-cart red"></i></a>
              </div>
              <div class="block-content">
                <div class="block-heading fsr">Уникальный магазин</div>
                <p class="block-caption">
                  <a class="scrolr2" href="<%= regions_url %>">Региональная продукция</a> это дизайнерские изделия с принтами вашего любимого города, а <a class="scrolr2" href="<%= subjects_url %>">общая продукция</a> - одежда с уникальными изображениями и неповторимым дизайном.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bottom-block bbl2 not-animated" data-animate="fadeInLeft " data-delay="300">
              <div class="block-logo">
                <i class="swing sizys2 fa fa-shield red"></i>
              </div>
              <div class="block-content">
                <div class="block-heading">100% Гарантия</div>
                <p class="block-caption"> В нашем магазине представлены товары высокого качества. Если вдруг товар Вам не подошел, мы вернем деньги или заменим товар!</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bottom-block bbl3 not-animated" data-animate="fadeInRight" data-delay="300">
              <div class="block-logo">
                <i class="swing sizys2 fa fa-rub red"></i>
              </div>
              <div class="block-content">
                <div class="block-heading">Удобная схема взаиморасчета</div>
                <p class="block-caption">В нашем интернет-магазине представлены любые удобные для Вас сервисы
                  оплаты!</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bottom-block bbl4 not-animated" data-animate="fadeInLeft " data-delay="300">
              <div class="block-logo">
                <a><i class="swing sizys fa fa-magic red"></i></a>
              </div>
              <div class="block-content">
                <div class="block-heading">Надпись на заказ</div>
                <p class="block-caption">Нанести свою надпись на наше изделие очень просто, для этого
                  при оформлении заказа выберите соответсвующий пункт.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 center-main">
            <div class="bottom-block bbl5 not-animated" data-animate="fadeInLeft " data-delay="300">
              <div class="block-logo">
                <a href="<%= new_feedback_message_url %>"><i class="swing sizys fa fa-globe red"></i></a>
              </div>
              <div class="block-content">
                <div class="block-heading">Доставка в любую точку планеты</div>
                <p class="block-caption"> Мы работаем с лучшими и проверенными службами <a class="scrolr2" href="<%= new_feedback_message_url %>">доставки</a> в России и в мире!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="content" class="clearfix">
      <section class="content">
        <div id="col-main" class="clearfix">
          <div class="container">
            <!--home content-->
            <div class="col-md-15">
              <header class="control-group clearfix">
                <span class="title-3 red"><i class="fa fa-signal blue"></i> ХИТЫ ПРОДАЖ</span>
              </header>

              <% @nav[:types].each do |type| %>
                  <section class="rel-container clearfix">
                    <div id="scroll_link_type_<%= type.id %>" class="title-1">
                      <span class="content-title"><%= type.name %></span>
                      <span class="sub-title"></span>
                    </div>
                    <div id="prod-related-wrapper">
                      <div class="prod-related clearfix">
                        <% delay_dur = 0; type.products_active.shuffle.each do |product| %>
                            <div class="element not-animated" data-animate="bounceIn" data-delay="<%= delay_dur %>">
                              <%= render product, :url => product_type_url(:type_id => type.id, :id => product.id) %>
                            </div>
                        <% delay_dur += 200 end %>
                      </div>
                    </div>
                  </section>
              <% end %>
            </div>
            <div class="home_banners_wrapper col-md-5">
              <div class="group_homebanner hidden-xs">
                <div class="home_banners_inner not-animated" data-animate="fadeIn" data-delay="300">
                  <div class="home_banners_container">
                    <hr>
                    <h3 class="sb-title"><i class="fa fa-folder-open-o red"></i> Каталог</h3>
                    <h4 class="sb-title"> Общая продукция</h4>
                    <!--  <h5 class="sb-title"> Подарите праздник себе и своим близким!</h5> -->
                    <ul class="list-unstyled sb-content list-styled">
                      <% @nav[:subjects].each do |subject| %>
                          <li>
                            <a class="sizeq2" href="javascript:displ('var-subject-<%= subject.id %>')">
                              <%= subject.name %>
                              <i class="fa fa-angle-down"></i>
                            </a>
                            <div id="var-subject-<%= subject.id %>" style="display: none;">
                              <ul>
                                <% @nav[:types].each do |type| %>
                                    <li>
                                      <a tabindex="-1" href="<%= subject_type_url :subject_id => subject.id, :id => type.id %>">
                                        <%= type.name %>
                                      </a>
                                    </li>
                                <% end %>
                              </ul>
                            </div>
                          </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <div class="sb-wrapper not-animated" data-animate="fadeIn" data-delay="300">
                  <h4> Региональная продукция</h4>
                  <!-- <h5 class="sb-title"> ВЫБЕРИТЕ СВОЙ
                       ЛЮБИМЫЙ УГОЛОК
                       РОССИИ!</h5>
                   <img class="imeger2" src="<%= image_path "ros.png" %>" alt=" "> -->
                  <ul class="list-unstyled sb-content list-styled">
                    <% @nav[:regions].each do |region| %>
                        <li>
                          <a class="sizeq2" href="javascript:displ('var-region-<%= region.id %>')">
                            <%= region.name %>
                            <i class="fa fa-angle-down"></i>
                          </a>
                          <div id="var-region-<%= region.id %>" style="display: none;">
                            <ul>
                              <% @nav[:types].each do |type| %>
                                  <li>
                                    <a tabindex="-1" href="<%= region_type_url :region_id => region.id, :id => type.id %>">
                                      <%= type.name %>
                                    </a>
                                  </li>
                              <% end %>
                            </ul>
                          </div>
                        </li>
                    <% end %>
                  </ul>
                </div>
                <hr>
                <!--
                <div class="home_banners_inner not-animated" data-animate="flipInX" data-delay="300">
                  <div class="home_banners_container">
                    <h3 class="sb-title"><i class="fa fa-film red"></i> Видео</h3>

                    <div id="home_banners" class="clearfix">
                      <div class="banner quick_shop" data-href="<%= video_popup_url %>"
                           data-target="#quick-shop-modal" data-toggle="modal">
                        <a href="#">
                          <img src="<%= image_path "video-main.png" %>" alt="">
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                -->
                <div class="sb-wrapper not-animated" data-animate="fadeIn" data-delay="300">
                  <h3 class="topper"><i class="fa fa-question-circle red"></i> ЧТО НОВОГО?</h3>
                  <ul class="list-unstyled sb-content textwidget list-styled">
                    <% @articles.each do |article| %>
                        <li><h6 class="new-h6"><%= article.title %></h6></li>
                    <% end %>
                  </ul>
                 <!-- <button class="btn2 select-option" type="button"
                          onclick="window.location='<%= mass_media_url %>'">Сми о нас <i
                  class="fa fa-hand-o-left sizz"></i></button> -->
                </div>
                <div class="home_banners_inner not-animated" data-animate="flipInX" data-delay="300">
                  <div class="home_banners_container">

                    <div id="home_banners" class="clearfix">

                      <a target="_blank" href="http://podaripobedy.ru">
                        <img src="<%= image_path "banim.png" %>" alt="">
                      </a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="modal fade" id="quick-shop-modal"></div>
<script type="text/javascript">
  $(document).ready(function () {
    $('.scroll_link').click(function () {
      // скорость скролла
      var speed = 1000;
      // место скролла
      var href = $(this).attr('href'),
          top = $(href).offset().top;
      $('html, body').animate({scrollTop: top}, speed, function(){
        window.location.href = href;
      });
      return false;
    });
  });
  // Parse URL Queries Method
  (function ($) {
    $.getQuery = function (query) {
      query = query.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
      var expr = "[\\?&]" + query + "=([^&#]*)";
      var regex = new RegExp(expr);
      var results = regex.exec(window.location.href);
      if (results !== null) {
        return results[1];
        return decodeURIComponent(results[1].replace(/\+/g, " "));
      } else {
        return false;
      }
    };
  })(jQuery);

  $(function () {

    // Change URIs
    $('.pill-switch').click(function () {
      var current_url = window.location.href;
      window.location = "?theme=pill";
    });

    $('.tab-switch').click(function () {
      var current_url = window.location.href;
      window.location = "?theme=tab";
    });

    $('.image-switch').click(function () {
      var current_url = window.location.href;
      window.location = "?theme=image";
    });

    $('.link-switch').click(function () {
      window.location = "?theme=link";
    });

    // Set theme based on URI
    if ($.getQuery('theme') === 'pill') {
      $(function () {
        $.scrollUp({
          animation: 'fade',
          activeOverlay: '#00FFFF',
          scrollText: 'Наверх',
        });
      });
      $('.pill-switch').addClass('active');
      $('#scrollUpTheme').attr('href', 'css/themes/pill.css?1.1');
    }
    else if ($.getQuery('theme') === 'link') {
      $(function () {
        $.scrollUp({
          animation: 'fade',
          activeOverlay: '#00FFFF',
          scrollText: 'Наверх',
        });
      });
      $('#scrollUpTheme').attr('href', 'css/themes/link.css?1.1');
      $('.link-switch').addClass('active');
    }
    else if ($.getQuery('theme') === 'image') {
      $(function () {
        $.scrollUp({
          animation: 'fade',
          activeOverlay: '#00FFFF',
          scrollImg: {active: true, type: 'background', src: 'img/top.png'}
        });
      });
      $('#scrollUpTheme').attr('href', 'css/themes/image.css?1.1');
      $('.image-switch').addClass('active');
    }
    else {
      $(function () {
        $.scrollUp({
          animation: 'slide',
          activeOverlay: '#00FFFF',
          scrollText: 'Наверх',
        });
      });
      $('#scrollUpTheme').attr('href', 'css/themes/tab.css?1.1');
      $('.tab-switch').addClass('active');
    }

    // Toggle overlay

    $('#toggleActive').click(function () {
      $('#scrollUp-active').toggle();

      var text = $(this).text() == 'Скрыть границу' ? 'Показать границу' : 'Скрыть границу';
      $(this)
          .text(text)
          .toggleClass('active');
    });

  });

</script>