<!-- <?php/*
session_start();

if ($_POST['sendMail']) {
    $admin = "info@ideameb.ru" . ", "; //обратите внимание на запятую
    $admin .= "";
}

if (isset($_POST['sendMail']) or isset($_POST['sendMail1'])) {

    $name = substr($_POST['name'], 0, 64);
    $email = substr($_POST['email'], 0, 64);
    $subject = substr($_POST['subject'], 0, 64);
    $message = substr($_POST['message'], 0, 8500);

    $_SESSION['name'] = htmlspecialchars($_POST['name']);
    $_SESSION['email'] = htmlspecialchars($_POST['email']);
    $_SESSION['subject'] = htmlspecialchars($_POST['subject']);
    $_SESSION['message'] = htmlspecialchars($_POST['message']);

    $error = '';

    if (!empty($error)) {
        $_SESSION['sendMailForm']['error'] = '<p>При заполнении формы допущены ошибки:</p><ul>' . $error . '</ul>';
$_SESSION['sendMailForm']['name'] = $name;
$_SESSION['sendMailForm']['email'] = $email;
$_SESSION['sendMailForm']['subject'] = $subject;
$_SESSION['sendMailForm']['message'] = $message;
header('Location: ' . $_SERVER['PHP_SELF']);
die();
}


$filepath = array();
$filename = array();
for ($i = 0; $i < count($_FILES['file']); $i++) {
if (!empty($_FILES['file']['tmp_name'][$i]) and $_FILES['file']['error'][$i] == 0) {
$filepath[] = $_FILES['file']['tmp_name'][$i];
$filename[] = $_FILES['file']['name'][$i];
}
}

$body = "ИМЯ:\r\n" . $name . "\r\n\r\n";
$body .= "E-MAIL:\r\n" . $email . "\r\n\r\n";
$body .= "ТЕЛЕФОН:\r\n" . $subject . "\r\n\r\n";
$body .= "СООБЩЕНИЕ:\r\n" . $message;

if (send_mail($admin, $body, $email, $filepath, $filename))
$_SESSION['success'] = true;
else
$_SESSION['success'] = false;
header('Location: ' . $_SERVER['PHP_SELF']);
die();
}

// Вспомогательная функция для отправки почтового сообщения с вложением
function send_mail($admin, $body, $email, $filepath, $filename)
{
$subject = '=?utf-8?B?' . base64_encode('Заполнена форма на сайте - скрипт FULL') . '?=';
$boundary = "--" . md5(uniqid(time())); // генерируем разделитель
$headers = "From: " . strtoupper($_SERVER['SERVER_NAME']) . " <" . $email . ">\r\n";
$headers .= "Return-path: <" . $email . ">\r\n";
$headers .= "MIME-Version: 1.0\r\n";
$headers .= "Content-Type: multipart/mixed; boundary=\"" . $boundary . "\"\r\n";
$multipart = "--" . $boundary . "\r\n";
$multipart .= "Content-type: text/plain; charset=\"utf-8\"\r\n";
$multipart .= "Content-Transfer-Encoding: quoted-printable\r\n\r\n";

$body = quoted_printable_encode($body) . "\r\n\r\n";

$multipart .= $body;

$file = '';
$count = count($filepath);
if ($count > 0) {
for ($i = 0; $i < $count; $i++) {
$fp = fopen($filepath[$i], "r");
if ($fp) {
$content = fread($fp, filesize($filepath[$i]));
fclose($fp);
$file .= "--" . $boundary . "\r\n";
$file .= "Content-Type: application/octet-stream\r\n";
$file .= "Content-Transfer-Encoding: base64\r\n";
$file .= "Content-Disposition: attachment; filename=\"" . $filename[$i] . "\"\r\n\r\n";
$file .= chunk_split(base64_encode($content)) . "\r\n";
}
}
}
$multipart .= $file . "--" . $boundary . "--\r\n";

if (mail($admin, $subject, $multipart, $headers))
return true;
else
return false;
}

function quoted_printable_encode_character($matches)
{
$character = $matches[0];
return sprintf('=%02x', ord($character));
}

*/?> -->
<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %>
          <i class="fa fa-angle-right"></i>
          <span class="page-title">Уникальное предложение к 9 мая</span>
        </div>
      </div>
      <h1 id="page-title" class="large">Уникальное предложение к 9 мая</h1>

      <div id="bottom">
        <div class="container">
          <div id="bottom_blocks" class="row">

          </div>
        </div>
        <section class="row content">
          <div id="content" class="clearfix">
            <section class="content">
              <div id="col-main" class="clearfix">
                <div class="container">

                  <div id="bottom">
                    <div class="container">
                      <div id="bottom_blocks" class="row">

                        <div class="col-md-5">
                          <div class="bottom-block not-animated" data-animate="fadeInRight" data-delay="300">
                            <div class="block-logo">
                              <a><i class="swing siz-m fa fa-question blue"></i></a>
                            </div>
                            <div class="block-content">
                              <div class="block-heading-m black">Хотите сделать уникальный подарок к великому празднику?</div>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="bottom-block not-animated" data-animate="fadeInLeft " data-delay="300">
                            <div class="block-logo">
                              <i class="swing siz-m fa fa-user-plus blue"></i>
                            </div>
                            <div class="block-content">
                              <div class="block-heading-m black">Подарите своим любимым ветеранам футболку с портретом!</div>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="bottom-block not-animated" data-animate="fadeInRight" data-delay="300">
                            <div class="block-logo">
                              <i class="swing siz-m fa fa-file-image-o blue"></i>
                            </div>
                            <div class="block-content">
                              <div class="block-heading-m black">Прикрепите фото и создайте задание в форме снизу</div>

                            </div>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="bottom-block not-animated" data-animate="fadeInLeft " data-delay="300">
                            <div class="block-logo">
                              <a><i class="swing siz-m fa fa-gift blue"></i></a>
                            </div>
                            <div class="block-content">
                              <div class="block-heading-m black">Получите незабываемый подарок для ваших любимых!</div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <!--home content-->
                  <div class="col-md-15 bosh-ex">
                    <div id="diz" class="col-md-15 scrolly-area">
                      <h2 style="margin-top: 0px;">Создать задание</h2>

                      <div class="banner quick_shop fl-ri-sh" data-href="<%= exclusive_popup_url %>"
                           data-target="#quick-shop-modal" data-toggle="modal">
                        <a class="ex-red-help" href="#">Показать требования к фото <i class="fa fa-question-circle red"></i></a></div>

                      <form id="contactfor" action="<?php echo $_SERVER['PHP_SELF'] ?>"
                            method="POST" enctype="multipart/form-data" name="mainForm"><input
                      name="form_type" type="hidden" value="contact"><input name="utf8"
                                                                            type="hidden"
                                                                            value="?">

                        <div class="h1">
                          <span class="sub-title"></span>
                        </div>
                        <ul id="contact-form" class="row list-unstyled">
                          <li class="col-md-20">
                            <label class="control-label" for="message">Опишите задачу как
                              можно подробнее <span
                            class="req">*</span></label>

                                                        <textarea rows="7" class="form-control"
                                                                  onkeyup="changeButtonStatus()"
                                                                  onchange="changeButtonStatus()" name="message"
                                                                  id="comments"
                                                                  placeholder="Например: хочу нанести фото своего дедушки на футболке черного цвета, прикрепляю фото"
                                                                  class="w100 border"
                                                                  cols="90"><?php if ($_SESSION['sendMailForm']['error']) echo($name = $_SESSION['message']); ?></textarea>
                          </li>
                          <li class="clearfix"></li>

                          <p class="fix-ex">Прикрепите фото бабушки/дедушки</p>

                          <div class="mar-lw"><input type="button"
                                                     value="&#8658; Выберете файлы"
                                                     onclick="addtext(this);"/></div>

                          <li class="col-md-20">
                            <div class="col-md-10 botts">
                              <select id="address_country_new" class="form-control" name="address[country]"
                                      data-default="">
                                <option value="" data-provinces="[]">-- Укажите желаемый цвет футболки --</option>
                                <option value="black">Черный</option>
                                <option value="gray">Серый</option>
                                <option value="white">Белый</option>
                              </select>
                            </div>
                          </li>
                          <li class="col-md-20">
                            <div class="col-md-10 botts">
                              <select id="address_country_new" class="form-control" name="address[country]"
                                      data-default="">
                                <option value="" data-provinces="[]">-- Укажите желаемый размер футболки --</option>
                                <option value="black">28-30</option>
                                <option value="gray">30-32</option>
                                <option value="white">32-34</option>
                                <option value="black">34-36</option>
                                <option value="gray">36-38</option>
                                <option value="white">38-40</option>
                                <option value="black">40-42</option>
                                <option value="gray">42-44</option>
                                <option value="white">44-46</option>
                                <option value="black">46-48</option>
                                <option value="gray">48-50</option>
                                <option value="white">50-52</option>
                                <option value="white">52-54</option>
                                <option value="black">54-56</option>
                                <option value="gray">58-58</option>
                                <option value="white">58-60</option>
                              </select>
                            </div>
                          </li>
                          <li class="col-md-20">
                            <label class="control-label" for="name">Ваше имя </label>
                            <input class="form-control" onkeyup="changeButtonStatus()"
                                   placeholder="Например: Василий Иванов"
                                   onchange="changeButtonStatus()" type="text" name="name"
                                   maxlength="64"
                                   value="<?php if ($_SESSION['sendMailForm']['error']) echo($name = $_SESSION['name']); ?>"/>
                          </li>

                          <li class="clearfix"></li>
                          <li class="col-md-20">
                            <label class="control-label" for="email">Электронная почта <span
                            class="req">*</span></label>
                            <input class="form-control email"
                                   placeholder="Например: user@mail.ru"
                                   onkeyup="changeButtonStatus()"
                                   onchange="changeButtonStatus()" name="email" required
                                   maxlength="64"
                                   value="<?php if ($_SESSION['sendMailForm']['error']) echo($name = $_SESSION['email']); ?>"/>
                          </li>
                          <li class="clearfix"></li>
                          <li class="col-md-20">
                            <label class="control-label" for="subject">Телефон </label>
                            <input class="form-control subject"
                                   placeholder="Например: + 7 495 111-11-11"
                                   onkeyup="changeButtonStatus()"
                                   onchange="changeButtonStatus()" name="subject"
                                   maxlength="64"
                                   value="<?php if ($_SESSION['sendMailForm']['error']) echo($subject = $_SESSION['email']); ?>"/>
                          </li>
                          <li class="clearfix"></li>
                          <li class="col-md-20 unpadding-top">
                            <input class="btn pad-ex" type="submit" title="Оставить заявку"
                                   name="sendMail" value="Оставить заявку" id="send_but"/>
                          </li>
                        </ul>
                      </form>
                    </div>

                    <?php
                                        if (isset($_SESSION['success'])) {
                                            if ($_SESSION['success'])
                                                echo '<p style="background:lightgreen">Письмо успешно отправлено</p>';
                    else
                    echo '<p style="background:yellow;border:1px solid red">Ошибка при отправке письма</p>';
                    unset($_SESSION['success']);
                    }
                    if (isset($_SESSION['sendMailForm'])) {
                    echo $_SESSION['sendMailForm']['error'];
                    $name = htmlspecialchars($_SESSION['sendMailForm']['name']);
                    $email = htmlspecialchars($_SESSION['sendMailForm']['email']);
                    $subject = htmlspecialchars($_SESSION['sendMailForm']['subject']);
                    $message = htmlspecialchars($_SESSION['sendMailForm']['message']);
                    unset($_SESSION['sendMailForm']);
                    } else {
                    $name = '';
                    $email = '';
                    $subject = '';
                    $message = '';
                    }
                    ?>


                  </div>
                  <!--end home content-->


                  <!--sidebar home-->
                  <div class="home_banners_wrapper col-md-5">
                    <div class="group_homebanner hidden-xs">
                      <div class="home_banners_inner not-animated" data-animate="flipInX"
                           data-delay="300">
                        <div class="home_banners_container">
                          <h3 class="sb-title"><i class="fa fa-hand-o-right red"></i> Коллекция 9 мая</h3>

                          <div id="home_banners" class="clearfix">
                            <div class="banner">
                              <p>В категории 9 мая Вы можете подобрать для себя и своих близких уникальные принты, которые
                                мы подготовили специально для великого праздника - Дня Победы.
                              </p>

                              <a href="<%= subject_url :id => 4 %>"><img
                              class="img-responsive max-www"
                              src="<%= image_path "ex2.jpg" %>" alt=""></a>
                              <a href="<%= subject_url :id => 4 %>">
                                <button class="btn2" type="button">
                                  Открыть коллекцию 9 мая <i
                                class="fa fa-hand-o-left sizz"></i></button>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--конец виджета выбор регионов-->
                    </div>
                  </div>
                  <!--end sidebar home-->
                </div>
              </div>
            </section>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="quick-shop-modal"></div>
<script>
  $(document).ready(function () {
    $('.scrolr').click(function () {
      // скорость скролла
      var speed = 1000;

      // место скролла
      var top = $('.scrolly-area').offset().top;

      $('html, body').animate({scrollTop: top}, speed);

      return false;
    });
  });
  $(document).ready(function () {
    $('.scrolr2').click(function () {
      // скорость скролла
      var speed = 1000;

      // место скролла
      var top = $('.scrolly-area2').offset().top;

      $('html, body').animate({scrollTop: top}, speed);

      return false;
    });
  });
</script>