<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %>
          <i class="fa fa-angle-right"></i>
          <span class="page-title">Новости</span>
        </div>
      </div>
      <section class="row content">
        <div id="col-main" class="blog blog-page col-content col-sm-15 col-md-15">
          <h1 id="page-title" class="large">Новости</h1>
          <% @news.each do |news| %>
              <div class="not-animated" data-animate="fadeIn" data-delay="300">
                <div class="blogs first clearfix">
                  <article class="blogs-item">
                    <ul class="post list-inline">
                      <li class="date"><i class="fa fa-calendar"></i><%= l news.date.to_date %></li>
                    </ul>
                  </article>
                </div>
                <div class="blogs clearfix">
                  <article class="blogs-item">
                    <h2><%= news.title %></h2>
                    <div class="blogs-image">
                      <div><img src="<%= image_path news.image %>" alt=""></div>
                      <div><%= raw news.description %></div>
                    </div>
                  </article>
                </div>
              </div>
          <% end %>
          <%= paginate @news %>
        </div>
        <div class="col-sm-5 col-md-5 home_banners_wrapper">
          <div class="group_sidebar">

            <div class="sb-wrapper not-animated" data-animate="fadeIn" data-delay="300">
              <h3 style="width: 240px;">Подписывайтесь в ВК и
                следите за нами!</h3>
              <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

              <!-- VK Widget -->
              <div id="vk_groups"></div>
              <script type="text/javascript">
                VK.Widgets.Group("vk_groups", {mode: 0, width: "240", height: "420", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 83574749);
              </script>

            </div>

            <!--конец виджета выбор регионов-->


            <div class="sb-wrapper not-animated" data-animate="fadeIn" data-delay="300">
              <h3 style="width: 240px;">Подписывайтесь в FB и
                следите за нами!</h3>
              <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fbusinesspatriot.ru&amp;width=240&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:290px;" allowTransparency="true"></iframe>
            </div>

            <!--конец виджета выбор регионов-->


          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<script>

  // Parse URL Queries Method
  (function ($) {
    $.getQuery = function (query) {
      query = query.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
      var expr = "[\\?&]" + query + "=([^&#]*)";
      var regex = new RegExp(expr);
      var results = regex.exec(window.location.href);
      if (results !== null) {
        return results[1];
        return decodeURIComponent(results[1].replace(/\+/g, " "));
      } else {
        return false;
      }
    };
  })(jQuery);

  $(function () {

    // Change URIs
    $('.pill-switch').click(function () {
      var current_url = window.location.href;
      window.location = "?theme=pill";
    });

    $('.tab-switch').click(function () {
      var current_url = window.location.href;
      window.location = "?theme=tab";
    });

    $('.image-switch').click(function () {
      var current_url = window.location.href;
      window.location = "?theme=image";
    });

    $('.link-switch').click(function () {
      window.location = "?theme=link";
    });

    // Set theme based on URI
    if ($.getQuery('theme') === 'pill') {
      $(function () {
        $.scrollUp({
          animation: 'fade',
          activeOverlay: '#00FFFF',
          scrollText: 'Наверх',
        });
      });
      $('.pill-switch').addClass('active');
      $('#scrollUpTheme').attr('href', 'css/themes/pill.css?1.1');
    }
    else if ($.getQuery('theme') === 'link') {
      $(function () {
        $.scrollUp({
          animation: 'fade',
          activeOverlay: '#00FFFF',
          scrollText: 'Наверх',
        });
      });
      $('#scrollUpTheme').attr('href', 'css/themes/link.css?1.1');
      $('.link-switch').addClass('active');
    }
    else if ($.getQuery('theme') === 'image') {
      $(function () {
        $.scrollUp({
          animation: 'fade',
          activeOverlay: '#00FFFF',
          scrollImg: {active: true, type: 'background', src: 'img/top.png'}
        });
      });
      $('#scrollUpTheme').attr('href', 'css/themes/image.css?1.1');
      $('.image-switch').addClass('active');
    }
    else {
      $(function () {
        $.scrollUp({
          animation: 'slide',
          activeOverlay: '#00FFFF',
          scrollText: 'Наверх',
        });
      });
      $('#scrollUpTheme').attr('href', 'css/themes/tab.css?1.1');
      $('.tab-switch').addClass('active');
    }

    // Toggle overlay

    $('#toggleActive').click(function () {
      $('#scrollUp-active').toggle();

      var text = $(this).text() == 'Скрыть границу' ? 'Показать границу' : 'Скрыть границу';
      $(this)
          .text(text)
          .toggleClass('active');
    });

  });

</script>