<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <i class="close fa fa-times btooltip" data-toggle="tooltip" data-placement="top" title="" data-dismiss="modal" data-original-title="Закрыть"></i>
      <h2><%= @region.name %></h2>
      <iframe class="frrr" src="<%= @region.video %>" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>