<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %>
          <i class="fa fa-angle-right"></i>
          <a href="<%= shop_url %>" class="homepage-link">Магазин</a>
          <i class="fa fa-angle-right"></i>
          <span class="page-title">Региональные товары</span>
        </div>
      </div>
      <section class="row content botts">
        <div id="col-main" class="blog blog-page col-content col-sm-20 col-md-20">
          <h1 id="page-title" class="large">Магазин</h1>

          <h2><i class="fa fa-map-marker red"></i> Товары с региональными принтами</h2>

          <h3 class="blue"> Выберите регион:</h3>

          <div class="row">
            <% delay_dur = 100; @nav[:regions].each do |region| %>
                <div class="col-md-10">
                  <div class="opasity-hover">
                    <div class="collection-panner not-animated" data-animate="flipInX" data-delay="<%= delay_dur %>">
                      <a href="<%= region_url region %>">
                        <img src="<%= image_path region.image_url(:thumb) %>" height="303" width="865"
                             class="img-responsive" alt="">
                      </a>
                    </div>
                    <div class="parralax1">
                      <div class="inners">
                        <div class="inners3 not-animated" data-animate="bounceInLeft" data-delay="<%= delay_dur %>">
                          <i class="fa fa-chevron-right "></i>
                          <%= region.name %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="botty2"></div>
                </div>
            <% delay_dur += 200 end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>