<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %> <i class="fa fa-angle-right"></i>
          <a href="<%= shop_url %>" class="homepage-link">Магазин</a> <i class="fa fa-angle-right"></i>
          <a href="<%= regions_url %>" class="homepage-link">Региональные товары</a>
          <i class="fa fa-angle-right"></i>
          <span class="page-title"><%= @region.name %></span>
        </div>
      </div>
      <section class="row content">
        <!--#col-main-->
        <div id="col-main" class="collection collection-page col-content col-sm-15 col-md-15">

          <div id="page-header">
            <h1 id="page-title">Продукция: <%= @region.name %></h1>
          </div>

          <div class="collection-warper clearfix">
            <div class="collection-panner not-animated" data-animate="fadeIn" data-delay="900">
              <img src="<%= image_path @region.image %>" class="img-responsive" alt="">
            </div>
            <% delay_dur = 100; @nav[:types].each do |type| %>
                <div class="parralax1">
                  <a href="<%= region_type_url :id => type.id, :region_id => @region.id %>">
                    <div class="inners">
                      <div class="inners2 not-animated" data-animate="bounceInLeft" data-delay="<%= delay_dur %>">
                        <i class="fa fa-chevron-right "></i>
                        <%= type.name %>
                      </div>
                    </div>
                  </a>
                </div>
            <% delay_dur += 200 end %>
          </div>

          <section class="rel-container clearfix">
            <div class="title-1">
              <span class="content-title"><%= @region.name %>: популярные товары</span>
              <span class="sub-title"></span>
            </div>
            <div id="prod-related-wrapper">
              <div class="prod-related clearfix">
                <% delay_dur = 0; @region.products_active.shuffle.each do |product| %>
                    <div class="element not-animated" data-animate="bounceIn" data-delay="<%= delay_dur %>">
                      <%= render product, :url => product_region_url(:region_id => @region.id, :id => product.id) %>
                    </div>
                <% delay_dur += 200 end %>
              </div>
            </div>
          </section>
        </div>
        <!--end #col-main-->

        <!--sidebar-->
        <div id="prodcoll" class="col-sm-5 col-md-5 sidebar">
          <div class="group_sidebar">
            <% unless @region.video.blank? %>
              <div class="home_banners_inner not-animated" data-animate="flipInX" data-delay="300">
                <div class="home_banners_container">
                  <h3 class="sb-title tit-pr">
                    <i class="fa fa-film red"></i>
                    <%= @region.name %> на видео
                  </h3>

                  <div id="home_banners" class="clearfix">
                    <div class="banner quick_shop" data-href="<%= region_video_url @region %>"
                         data-target="#quick-shop-modal" data-toggle="modal">
                      <a href="#">
                        <img class="vid-prod" src="<%= image_path @region.plug %>" alt=""></a>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="sb-wrapper">
              <div class="sb-title">
                <i class="fa fa-map-marker red"></i>
                <%= @region.name %>
              </div>
              <ul class="list-unstyled sb-content textwidget list-styled">
                <li>
                  <%= raw @region.description %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--end sidebar--> </section>
    </div>
  </div>
</div>
<div class="modal fade" id="quick-shop-modal"></div>