/*
** codespot customize
*/
@media only screen and (max-device-width: 1024px) {
  .image-boxes .hoverborder .hoverborderwrapper .thehoverborder,
  .hoverborder .hoverborderwrapper .thehovermore,
  .hoverhomebackgroundwrapper .details>.bg,
  .hoverhomebackgroundwrapper .hover .thehover,
  .hoverborder .hoverborderwrapper .thehoverborder,
  .hoverbackgroundwrapper .hover .thehover,
  .hoverbackgroundwrapper .details>.bg,
  .navbar .hovermenuwrapper > li > a > .bg-down{
    display: none;
  }
  .hoverbackgroundwrapper a:hover .details h4,
  .hoverhomebackgroundwrapper a:hover .details h4{
    color: #e60404;
  }
  .fancybox-nav span{visibility:visible}
}
@media only screen and (max-device-width: 1199px){


  .cart-items .action button{
    	padding: 5px 10px;
  }  
  header#top{
    margin-bottom: 20px;
  }
  .hoverBorder:hover img{
    filter: none !important;    
    -webkit-filter: none !important;
  }
}

@media (max-width: 432px) {

#img-ros {
	margin: 0 auto;
}

.ssx{
  text-align: center;
  }  
}

@media (min-width: 432px) and (max-width: 767px){
.xxs{
	  position: relative !important;
  min-height: 1px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  float: left !important;
  width: 50% !important;
}
.ffx{
	clear: both;
}
	
}
    
/* large desktop */
@media (min-width: 1200px){ 

.cupon-button {
margin-left: 4px !important;
margin-top: 1px;
}

.top-search .search-form {
 border: 1px solid #c9c9c9;
border-radius: 3px;
width: 140px !important;
height: 32px;
position: relative;
float: left;
margin-left: -35px !important;
padding-left: 25px;
padding-right: 8px;
}

.margin-news-side{
	margin-top: -30px;
}

/* .logo-margin{
	margin-top: 20px;
}
  */
}
@media (max-device-width: 1199px){ 
	.top-search .search-form button.search-submit{
  		margin-top: -17px;
	}	
	.col-md-20.cart-page.content{
  		padding: 0 10px;
	}

}


@media (max-width: 1199px){ 

.new-min{
	display: none !important;
}

.camera_caption.camera_title_1{
	display: none !important;
}

.no-parallax{
	display: block;
}



.parallax{
	display: none;
}


.imeger2 {
margin-top: -5px;
}



	.hoverBorder:hover img.front{      
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
        filter: gray; /* IE6-9 */
        -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */   
        
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        /*-webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
      */
      /*
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
      */
    }
	.hoverBorder img.back{
  		display: none !important;
	}
	/*header*/
	h1#page-title{
  		font-size: 25px;
	}
	.sidebar .sb-title{
  		font-size: 17px;
	}
	/*end header*/
	/*efect*/
	.back {
        display: none;        
    }
	#collections .item .font div a,
	#home_collections .item .font div a{
  		opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
	}
	/*end efect*/
	/*main slider*/
	.cameraContent{
  		height: 100%;
	}
	/*End main slider*/	
	/*detail*/
	.templateProduct h1#page-title {
      	font-size: 20px;
  		margin-bottom: 10px;
    }
	#product-image #gallery_main .owl-buttons > div{
      filter: Alpha(Opacity=100);
      opacity: 1;  
    }
	/*End detail*/
	.camera_commands,
	.camera_prev,
	.camera_next{
  		opacity: 1 !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100) !important";
        filter: alpha(opacity=100) !important;
	}	
	/*detail*/
	#product-image .owl-theme .owl-controls .owl-buttons > div i.fa-caret-right{
  		margin-right: 0;
	}
	#product-image .owl-theme .owl-controls .owl-buttons > div i.fa-caret-left{
  		margin-left: 0;
	}	
	/*End detail*/						
	.col-md-20.login-page,
	.col-md-20.register-page,
	.col-md-20.cart-page.content{
  		padding: 0 10px !important;
	}	
}
@media (min-device-width: 768px) and (max-device-width: 1199px){ 	
}
@media (min-width: 768px) and (max-width: 1199px){ 



	/*sidebar*/	
    .sidebar .blogs-item i.fa{
      margin-left: 0 !important;
    }
    .sidebar .blogs-item .post li, .blogs-item .post .comment a{
      padding-left: 0 !important;  		
    }
	/*End sidebar*/	
	#customer_detail address .address-group{
  		padding-left: 10px;
  		max-width: 150px;
	}

}
@media (max-width: 1024px){

}
@media (min-width: 992px) and (max-width: 1199px){ 


.siza{
    max-width: 90% !important;
}

.absy{
	font-size: 16px !important;
}

.navbar-collapse.collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  margin-left: -30px;
}

.cupon-button{
	margin-top: 10px !important;
}


.top-search .search-form {
 border: 1px solid #c9c9c9;
border-radius: 3px;
width: 125px !important;
height: 32px;
position: relative;
float: left;
margin-left: -35px !important;
padding-left: 25px;
padding-right: 8px;
}


.imeger{
	width: 179px;
	height: 250px;
	margin-bottom: 10px;
}

 
	/*header*/
	header#top .top-search.col-md-5{
  		width: 29%;	
	}
	header#top .top-navigation.col-md-11{
  		width: 51%; 		
	}
	header#top .navbar-nav > li{
  		margin: 0;
	}
	.navbar-nav > li{
  		padding: 8px 0 !important;
	}
	#top nav.navbar .nav > li > a{
  		padding: 0 7px;
	}
	#top .top-navigation{
  		padding-left: 40px;
	}
	.templateCustomersAccount .sidebar{
  		margin-top: 75px;
	}
	/*search*/
	.top-search{
  		margin-top: 15px;
	}
	.top-search .search-form{
  		width: 90px;
	}
	/*End search*/
	.list_tags li{
  		margin: 0;
	}	

	/*End header*/
	/*slide*/	
	.camera_caption.camera_title_1{
  		font-size: 40px;
	}
	.camera_caption.camera_title_1, 
	.camera_caption.camera_title_2{
  		top: 20% !important;
	}
	.camera_caption.camera_title_2{
  		left: -100px !important;	
	}
	.camera_caption.camera_cta_1 {
        top: 50% !important;
    }		
	.camera_caption.camera_cta_2 {
left: -23px;
top: 12% !important;
}
	.camera_caption.camera_caption_2{
  		left: -145px !important;
	}
	.camera_caption.camera_caption_1, 
	.camera_caption.camera_caption_2 {
        top: 25% !important;
    }
	.camera_caption.camera_caption_des_2 {
        top: 45% !important;
  		left: -120px;
    }		

	/*End slide*/
	/*product*/
	#prod-related-wrapper .owl-next{
  		right: 15px;
	}
	#prod-related-wrapper .owl-prev {
    	right: 60px;
    }
	/*end product*/
	.action_edit{
  		margin-bottom: 10px;
	}
	/*slide bar*/
	.sidebar .sb-title{
  		font-size: 15px;
	}
	/*End slide bar*/
} 
@media (min-width: 992px) {  
	.top-search{
  		position: relative;  	
  		z-index: 1;
	}			
	.modal-dialog{
  		width: 800px;	
	}
	.list_tags {
  		width: 50%;
  		float: right;
	}
}
@media (max-width: 991px){ 

#bottom_blocks .bottom-block {
  float: left;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 185px;
}

.bordy{
	border-right: 0px !important;
}

.max-www{
	max-width: 50% !important;
}


.header-left{
	vertical-align: sub;
}

.customer-links{
	vertical-align: super;
}

h3 {
color: #3a3a3a;
font-size: 18px;
}

	.sidebar {      
        width: 100%;
    }
	.search.search-page{	
  		margin-bottom: 30px;
	}
	/*header*/	
	#top .top-other{
  		position: relative;
  		border-bottom: 0;
  		padding-bottom:0;
	}	
	.top-search{
  		position: absolute;
  		top: 0;
  		right: 0;
  		width: 37%;
	}
	#top .top-navigation{
  		padding-left: 10px !important;
	}
	footer#footer h3{
  		font-size: 15px;
	}

	/*End header*/		
	/*content*/		
	.home_products .wrapper-title{
  		margin-bottom: 25px;
	}
	.home_collections .wrapper-title,
	.home_products_slider .wrapper-title{
  		width: 49.5%;
  		float: left;
	}
	.home_collections .col-view-all,
	.home_products_slider .col-view-all{
  		width: 49.5%;
  		float: right;
	}	
	/*End content*/	
	/*letter*/
	.home_banners_wrapper.col-md-5{
  		padding: 0;
	}
	/*end letter*/
	/*collections*/
	.allcollections-page #collections{
  		margin-left: -20px !important;
    	margin-right: -20px !important;
	}		
	ul#collections .item{
  		width: 32.9%;
	}	
	/*End collections*/
	/*sidebar*/
	.featured-products .col-md-7.row-left{
  		width: 15%;
  		float: left;
	}
	.featured-products .col-md-13.row-right{
  		width: 85%;
  		float: right;
	}
	/*End sidebar*/	
    /* Contact Page */
    .contact-page #contact_map_wrapper{
      margin-left: 0px !important;    	  
  		
    }	
	.contact-page #contact_map_wrapper .map{
  		max-height:  300px;
	}	
	.contact-page .col-md-10{
  		padding: 0;
	}	
    /*End Contact Page */
	/*detail*/
	#product-image .owl-theme .owl-controls .owl-buttons > div.owl-prev{
  		left: 0;
	}
	#product-image .owl-theme .owl-controls .owl-buttons > div.owl-next {
        right: 0px;
    }
	/*End detail*/
	/*tookit*/
	.jGrowl-message .col-md-8{
  		width: 25%;
  		float: left;
	}
	.jGrowl-message .col-md-12{
  		width: 75%;	
  		float: right;
	}
	/*tookit*/
	/*order_details*/
	#order_details .product .list-inline li{
  		float: left;  		
	}
	#order_details .product .list-inline li.image{
  		width: 30%;
	}
	#order_details .product .list-inline li.image img{
  		max-width: 100%;
	}
	#order_details .product .list-inline li.link{
  		width: 65%;
	}
	/*End order_details*/
}
/* portrait tablet to landscape and desktop */

@media (max-width: 768px){


	.templateCustomersAccount .sidebar{
  		margin-top: 10px;
	}
	#prod-related-wrapper .owl-prev, #prod-related-wrapper .owl-next{
  		top: -54px;
	}
	
}




@media (min-width: 768px) and (max-width: 991px){ 

.center-main{
	margin-left: 250px;
}

.logo-size{
width:145px;	
}


.absy{
	font-size: 11px !important;
	margin-left: -40px !important;
}

.top-search .search-form {
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  width: 232px !important;
  height: 32px;
  position: relative;
  float: left;
  padding-left: 25px;
  padding-right: 8px;
}

.cupon-button{
	margin-top: 10px !important;
	margin-left: -47px;
}


.center-ex{
	margin-left: -170px !important;
}

.bosh-ex{
	clear: both;
}

.bottom-block{
	width: 50% !important;
	float: left;
padding: 15px;
width: 100%;
border-radius: 5px;
margin-bottom: 10px;
}

#bottom_blocks .bottom-block{
	width: 50% !important;
	
}

	/*header*/		
	header#top .top .col-md-10{
      padding-right: 0;
    }	
	.top{
  		padding: 3px 0;
	}
	.top-search{
  		width: 60%;
	}	
	.top-search .search-form{
  		width: 250px;
	}
	/*navigation*/
	.navbar-nav{
  		text-align: center;
  		float: none;
	}
	.navbar-nav > li{
  		float: none;
  		display: inline-block;
  		*display: inline;
  		zoom: 1;
  		
	}
	.navbar-nav > li > ul{
  		text-align: left;
	}
	#top .top-navigation{
  		margin: 0;
	}	
	#top .top-navigation{
  		border-top: 1px solid #e60404;
  		border-bottom: 1px solid #e60404;
  		margin: 10px 0;
	}
	.top-search{
  		margin-top: 25px;
	}
	.navbar-nav > li{
  		padding: 15px 0 !important;
	}
	/*end navigation*/
	header#top .top .col-md-10{
  		width: 49%;	
  		display: inline-block;
  		*display: inline;
  		zoom: 1;  		
	}	
	
	/*End header*/
	/*content*/	
	.home_products_slider .col-view-all .btn, .home_collections .col-view-all .btn{
  		margin-right:-10px;
	}
	#col-main.col-md-15{
  		overflow: hidden;
  		width: 100%;
	}
	.group_homebanner {
        padding-left: 0;
    }
	.home_products{
  		margin-left: 0;
  		margin-right: 0;
	}
	.home_products_slider {
        margin-left: 0px;
        margin-right: 0px;
    }	
	.home_collections{
  		margin-left: 0px;
        margin-right: 0px;
	}		
	.home_products_slider .element form{
  		margin: 0;
	}
	.home_products_slider .owl-item .element{
  		margin: 0 10px;
	}
	.home_products_wrapper{
  		margin-left: 0px;
  		margin-right: 0px;
	}	
	#home_collections_wrapper,
	.home_products_slider .home_products_wrapper{
  		margin-left: -10px;
  		margin-right: -10px;
	}
	#home_collections .item .group{
 		 padding: 0 10px;
	}
	/*collection*/	
	.allcollections-page #collections{
  		margin-left: -20px;
    	margin-right: -20px;
	}
	#collections .ul.list-item .item .group{
  		padding: 0 10px !important;
	}
	/*End collections*/			
	.home_products .element form, 	
	.group-product-item .element form{
  		 margin: 0 10px;
	}
	.prod-related .element form{
  		margin: 0 51px;
	}
	.wrapper-title .title-3{
  		padding-left: 0px;
    	padding-right: 0px;
	}
	.home_products_slider .wrapper-title{
  		padding-right: 0px;
  		padding-left: 0px;
	}
	.home_products_slider .wrapper-title .title-3, .home_collections .wrapper-title .title-3{
  		margin-left: 0;
	}
	.home_collections .wrapper-title{
  		padding-left: 0px;
	}
	
	#home_collections_wrapper .owl-theme .owl-controls .owl-buttons .owl-prev, 
	.home_products_wrapper .owl-theme .owl-controls .owl-buttons .owl-prev{
  		left: 0;
    	margin-left: 10px;
	}
	#home_collections_wrapper .owl-theme .owl-controls .owl-buttons .owl-next, 
	.home_products_wrapper .owl-theme .owl-controls .owl-buttons .owl-next{
  		left: 40px;
        margin-right: 0;
        right: auto;
	}
	.home_products_wrapper .owl-theme .owl-controls .owl-buttons > div {
        margin-top: -36px;
    }
	#home_collections_wrapper .owl-theme .owl-controls .owl-buttons > div {
        margin-top: -40px;
    }		
	/*End content*/
	/*footer*/
	.footer-content-bottom .col-sm-5{
  		width: 33%;
  		float: right;  		
	}
	.footer-content-bottom .col-sm-15{
  		width: 65%;
  		float: left;  		
	}
	.footer-content-bottom .col-sm-15 .copyright,
	.footer-content-bottom .col-sm-15 .widget-wrapper{
  		width: 100%;
	}
	#footer-about-us .widget-wrapper ul.list-inline > li{
  		padding-left: 3px;
    	padding-right: 3px;
	}
	/*end footer*/
	
	/*side bar*/
	.featured-products .col-md-7.row-left{
  		margin-bottom: 10px;
	}
	.featured-products .col-md-13.row-right,
	.featured-products .col-md-7.row-left{  		
  		width: 100%;
	}
	.sidebar .sb-title{
  		line-height: 1.3em;
	}
	/*End side bar*/
	/*all collection*/	
	#sandBox > li{
  		width: 33%;
	}
	.group-product-item #sandBox .element form{
  		margin: 0 20px !important;
	}	
	/*End all collection*/		
	/*search*/
	.search-form{
  		width: 50%
	}
	/*End search*/	
	/*Slider*/	
	.cameraContent{
  		width: 70%;
	}
	.camera_caption.camera_title_1{
  	    font-size: 40px;
	}
	.camera_caption.camera_title_1, 
	.camera_caption.camera_title_2 {
        top: 10% !important;
    }
	.camera_caption.camera_title_2{
  		left: 39px !important;
	}

	.camera_caption.camera_caption_1 {
        font-size: 40px;
    }
	.camera_caption.camera_caption_1, 
	.camera_caption.camera_caption_2 {        
        top: 20% !important;
    }
	.camera_caption.camera_caption_2{
  		left: 0 !important;
	}

	.camera_caption.camera_cta_2 {
top: 15% !important;
left: -10% !important;
}
	.camera_caption.camera_cta_1 {
        top: 45% !important;
    }
	.camera_caption.camera_cta_2 {
        font-weight: bold;
        left: 22%;
    }
	.camera_caption.camera_caption_des_1, 
	.camera_caption.camera_caption_des_2 { 
    	top: 45% !important;
	}	
	.camera_caption.camera_caption_des_2 {
        left: 23px;
    }
	.camera_caption.camera_title_1, 
	.camera_caption.camera_caption_des_1, 
	.camera_caption.camera_caption_1, 
	.camera_caption.camera_cta_1 {
        left: 25% !important;
    }
	/*End Slider*/
	/*account*/	
	address .info .fa-user, 
	address .address .fa-home, 
	address .phone .fa-phone{
  		font-size: 20px;
	}
	.sidebar{
  		width: 100%;  		
	}
	address .address-group{
  		padding-left: 9px;
	}
	/*end account*/	
	#umbrella #cart-info .col-md-8.cart-left{
  		width: 33%;
  		float: left;  		
	}
	#umbrella #cart-info .col-md-12.cart-right{
  		float: right;
  		width: 65%;
	}
	#cart-info .col-md-10.action,
	#cart-info .col-md-10.cart-subtotal{
  		width: 50%;
  		float: left;
	} 
	/*address-group*/
	#customer_detail address .address-group {
        max-width: 104px;
        padding-left: 5px;
    }
	/*End address-group*/
	/*sidebar*/
	.featured-products .col-md-7.row-left{
  		width: 15% !important;
  		float: left;
	}
	.featured-products .col-md-13.row-right{
  		width: 85% !important;
  		float: right;
	}
	/*End sidebar*/	
	/*detail*/
	#product-image{
  		width: 50%;
  		float: left;
  		padding-left: 0;
	}
	#product-information{
  		float: right;
    	width: 50%;
	}
	/*End detail*/
	/*widget*/
	#widget-linklist2{
  		padding-left: 40px;
	}
	/*End widget*/
	#product.row{
  		margin: 0;
	}
}  
/* landscape phone to portrait tablet */
@media (max-width: 767px) {

.logo-size{
width:175px;	
}

.absy{
	display: none;
}

.top-search .search-form {
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  width: 200px !important;
  height: 32px;
  position: relative;
  float: left;
  padding-left: 25px;
  padding-right: 8px;
}

.dropdown.open{
	  height: 120px;
} 

.last{
	  margin-left: 15px;
}

.mleft-menu{
	margin-left: -15px;
}

.region-menu{
	display: none;
}

.nono-menu{
	display: none;
}

.cupon-button {
margin-top: 10px !important;
}


.col-ww{
	background: #1938C8 !important;
	margin-left: 0px !important;
}

.konkurs div{
	text-align: center;
}

.size-imp {
font-size: 14px !important;
text-align: center;
margin-left: -9px;
}

.region-menu {
	margin: 0 auto;
	margin-left: 10px;
	color: #ffffff !important;
}

.smregion-menu{
	margin: 0 auto;
	margin-left: 12px;
}

.mobs{
	margin: 0 auto;
	width: 195px !important;
}

.mobi-ots{
	margin-left: -72px !important;
}	

.nono{
	display: none !important;
}

.mob-p{
	font-size: 12px;

}

.f-mob{
	margin-left: 3px;
}

#top nav.navbar .dropdown-menu {
width: 100%;
height: 205px;
border-radius: 0;
box-shadow: none;
background: transparent;
}

.reg-mob {
margin-top: 31px;
margin-left: 51px;
}

.reg-mob-a{
	font-size: 10px !important;
}

.reg-mob-a:hover{
	font-weight: normal;
	color:blue;
}


.btn-mob{
	margin-top: 60px;
}

.mob-p2{
	font-size: 12px;

	margin-top: 30px;
}

.em-mob{
	margin-top: -30px;
	width: 98%;
border: 1px solid red;
}

.em-mob2{
	margin-top: -30px;
	width: 98%;
	border: 1px solid red;
}

.home_products .element form, .prod-related .element form, .group-product-item .element form {
margin: 0 52px;
}

.asky-mob {
margin-top: 5px;
display: block;
font-size: 10px !important;
}

	/*header*/
	.top{
  		display: none;
	}
	.top-other{
  		padding: 10px 0 20px;
	}	
	.top-logo{
  		text-align: center;
  		margin-bottom: 10px;
	}
	.top-other .top-search {
  		margin-top: 20px !important;
        padding-right: 10px !important;
        position: relative;
        width: 100% !important;
    }
	#top #site-title{
  		padding-left: 0 !important;
	}
	.top-search .search-form{
  		width: 50%;	
  		float: none;
  		margin: 0 auto;
	}
	.currencies-switcher, .header-search{
  		padding: 0 20px;
	}	
	/*menu is mobile*/
	.navbar-header{
  		display: none;
	}
	
	.fa-caret-left{
		display: none;
	}
	

	
	#top nav.navbar .dropdown-menu li {
  margin-bottom: 7px;
}
	
	.navbar .is-mobile{
  		padding: 10px 0;
  		border-top: 1px solid #e60404;
  		border-bottom: 1px solid #e60404;
	}
	.navbar .is-mobile ul{
  		margin: 0;  
  		text-align: center;
	}	
	.navbar .is-mobile ul .btn-navbar{
  		display: block;
  		display: table-cell; 
  		padding: 5px 0;
	}
	.navbar .is-mobile ul li{
  		padding-left:10px;
  		padding-right: 13px;  		
	}
	.navbar .is-mobile ul li i.fa-user,
	.navbar .is-mobile ul li i.fa-shopping-cart{
  		font-size: 20px;
	}
	.navbar .is-mobile ul .btn-navbar .icon-bar-group .icon-bar{
  		width: 20px;
  		height: 3px;
  		background: #1938C8;
  		display: block;
  		margin: 1px 0;
	}
	.navbar .is-mobile ul li{
  		height: 30px;
  		border-right: 1px solid #e60404;
  		vertical-align: middle;
	}
	.navbar .is-mobile ul li:last-child{
  		border-right: 0;
	}
	.navbar-collapse{
  		background: #e60404;
  		
	}
	.navbar-collapse li a,
	.navbar-collapse li span {
color: #fff;
font-size: 14px;
font-weight: 600;
}
	.navbar-collapse li a .fa {
  		text-align: right;
	}
	.navbar-collapse li{
  		position: relative;
	}
	.navbar-collapse li i.fa{
  		position: absolute;
  		top: 50%;	
  		right: 10px;
  		margin-top: -6px;
  		color: #fff;
  		font-size: 14px;
	}
	.navbar-collapse ul > li{
  		border-bottom: 1px solid #fff;  		
	}
	.navbar-collapse ul > li:last-child{
  		border: 0;
	}
	#top nav.navbar .dropdown-menu a:hover{
  		color: #fff;
	}
	#top nav.navbar a.currency_wrapper{
  		margin: 6px 0;
  		display: block;
	}
	#top nav.navbar .dropdown-menu{
  		width: 100%;
  		border-radius: 0;
  		box-shadow: none;
  		background: transparent; 
  		min-height: 208px; 		
	}		
	#top nav.navbar .dropdown-menu > li{
  		border-bottom: 0;
  		color: #fff;
  		font-size: 15px;
	}
	#top nav.navbar .dropdown-menu > li a{
  		color: #fff;
  		
	}
	.navbar-nav > li{
  		padding: 5px 0 !important;
	}
	/*menu is mobile*/
	#top #site-title{
  		padding-left: 20px;
	}
	
	.top-other .top-search{
  		padding-right: 30px;
  		margin-top: 40px;
  		width: 40%;
  		padding-bottom: 20px;
	}
	/*navigation*/
	.navbar .is-mobile .dropdown-menu {
  		background: #fff !important;  		
	}
	.navbar .is-mobile .dropdown-menu li a{
  		color: #4d4d4d !important;
	}
	#top nav.navbar .dropdown-menu > li{
  		text-align: left;
	}
	.is-mobile-login .btn-group.open .dropdown-toggle,
	#top a{
  		box-shadow: none;
	}
	.navbar .is-mobile ul.dropdown-menu li{
  		border-right: 0 !important;
	}
	.navbar .is-mobile ul.dropdown-menu{
  		margin-top: 4px !important;
	}
	.navbar .is-mobile .currencies.dropdown-menu{
  		margin-top: 0px !important;
	}
	/*End navigation*/
	/*End header*/
	/*content*/
	#col-main.col-md-15{
  		overflow: hidden;
	}
	#content .background{
  		padding-right: 20px;
  		padding-left: 20px;
	}
	.home_products_slider header.control-group, .home_collections header.control-group{
  		margin-bottom: 20px;
  		margin-left: 10px;
	}
	.home_products_slider .col-view-all .btn, .home_collections .col-view-all .btn{
  		margin-right:0px;
	}
	.home_products {        
        margin-left: 0;
        margin-right: 0;
    }	
	.home_products_slider{
        margin-left: 0;
        margin-right: 0;
	}
	.home_products_slider .element form{
  		margin: 0 10px;
	}
	#home_collections .item .group{
  		padding:0 10px;
	}
	.home_collections {
        margin-left: 0;
        margin-right: 0;
    }
	/*slider*/		
	#home_collections_wrapper .owl-theme .owl-controls .owl-buttons, 
	.home_products_wrapper .owl-theme .owl-controls .owl-buttons{
  		 top: -55px;
	}
	.home_products_slider header.control-group, 
	.home_collections header.control-group{
  		margin-bottom: 70px;
	}
	/*end slider*/
	.home_collections .wrapper-title,
	.home_products_slider .wrapper-title{
  		width: 75%;  		
	}
	.home_collections .col-view-all, .home_products_slider .col-view-all{
  		width: 25%;
	}
	#sandBox-wrapper.group-product-item .element{
  		width: 49.5%;
  		
	}	
	#prod-related-wrapper{
  		margin-left: 0px !important;
	}
	/*End content*/
	/*footer*/	
	#payments{
  		text-align: left;
	}
	footer#footer #widget-linklist3 .copyright, 
	footer#footer #widget-linklist3 .widget-wrapper{
  		clear: both;
	}
	.group_homebanner{
  		padding: 0;
	}	
	/*end footer*/	
	/*all collection*/		
	#sandBox-wrapper {
  		margin-left: 0;
    	margin-right: 0;
  		padding: 0 10px;
	}
	/*End all collection*/	
	/*search*/	
	.search-page .search-form{
  		width: 100%
	}
	.header-search{
  		padding: 0px;
	}
	/*End search*/	
	.block-heading {  
      font-size: 20px;
    }
	/*slider*/
	.camera_caption.camera_title_1,
	.camera_caption.camera_caption_1,
	.camera_caption.camera_title_2,
	.camera_caption.camera_caption_2,
	.camera_caption.camera_caption_des_1,
	.camera_caption.camera_caption_des_2{
  		display: none !important;
	}
	.camera_caption.camera_cta_1,
	.camera_caption.camera_cta_2{
  		top: 70% !important;
	}
	/*End slider*/
}

@media (max-width: 639px){
	.templateIndex .group-product-item .element{
  		width: 32.9%;
	}	
	.element .btn{
  		width: 100%;
	}	
	/*collection*/
	ul#collections .item{
  		width: 49.5%;
	}
	/*end collection*/
}
@media (max-width: 639px) {

#sh_button{
	display: none !important;
}

  .top-search .search-form{
    	width: 100%;
  }
  .templateIndex .top-other .top-search{
  		margin-bottom: 20px;
  }
}
@media (max-width: 568px) {	
	/*sidebar*/
    .featured-products .col-md-7.row-left{
      width: 20%;
      float: left;
    }
    .featured-products .col-md-13.row-right{
      width: 80%;
      float: right;
    }
    /*End sidebar*/
} 	
@media (max-width: 540px){	
	.cart-page #cartform .row{
  		margin: 0 !important;
	}
	.cart-page .wrap-table{
  		margin-bottom: 20px;
  		margin-left: -10px;  	
	}	
	/*order_details*/
	#order_details .product .list-inline li{
  		float: left;  		
	}
	#order_details .product .list-inline li.image{
  		width: 100%;
	}
	#order_details .product .list-inline li.image img{
  		max-width: 100%;
	}
	#order_details .product .list-inline li.link{
  		width: 100%;
	}
	/*End order_details*/

}
@media (min-width: 361px) and (max-width: 540px){
	/*content*/
	.templateIndex .group-product-item .element{
  		width: 49%;
	}
	/*End content*/	
}
/* landscape phones and down */
@media (max-device-width: 480px){
  .top-other .top-search{
    padding-bottom: 0;
  }
  .templateCustomersAccount .sidebar{
    margin-top: 30px !important;
  }    	
}
@media (max-width: 480px) {

.camera_caption.camera_cta_2 div, .camera_caption.camera_cta_1 div{
	background: #E60404;
}

.camera_caption.camera_cta_2 {
  left: -2%;
  top: 57% !important;
  background-color: rgba(224, 6, 6, 0.7);
  margin-left: -104px;
  height: 110%;
}

  body{
    overflow-x: hidden;
  }  
  /*sidebar*/
  .featured-products .col-md-7.row-left{
    width: 20%;
    float: left;
  }
  .featured-products .col-md-13.row-right{
    width: 80%;
    float: right;
  }
  /*End sidebar*/
  /*map*/
  .contact-page #contact_map_wrapper .map {
    max-height: 150px;
  }
  /*End map*/
  .row.table-cart{
  	margin-right: 0px;
  }	
  .home-slider-wrapper{
  	padding-left: 10px;
  	padding-right: 10px;
  }
  .top-other .top-search{
  	padding-bottom: 0;
  }
  .templateCustomersAccount .sidebar{
    margin-top: 30px !important;
  }
  
  .cart-page .wrap-table{
  	margin-left: 0;
  }
  
  .wrap-table{
  	padding: 0;
  }
  .row.wrap-table{
  	margin: 0;
  }
  .order_details_wrapper.row{
    margin: 0;
  }
  .row.table-cart{
  	margin: 0;
  }
  .camera_caption.camera_title_3, .camera_caption.camera_caption_des_3, .camera_caption.camera_caption_3, .camera_caption.camera_cta_3, .camera_caption.camera_title_4, .camera_caption.camera_caption_des_4, .camera_caption.camera_caption_4, .camera_caption.camera_cta_4, .camera_caption.camera_title_1, .camera_caption.camera_caption_des_1, .camera_caption.camera_caption_1, .camera_caption.camera_cta_1{
  	left: -20% !important;  	
  }
  .camera_caption.camera_cta_1, .camera_caption.camera_cta_2 {
    bottom: 20px !important;
    top: auto !important;
  }
}
@media (max-width: 440px){
	.top-search #header-search{
  		width: 100%;
  		margin-bottom: 20px;
	}
	.umbrella{
  		float: left;
	}
	/*collection*/
    ul#collections .item{
      width: 100%;
    }
    /*End collection*/
	.customer-logged-in .top-search #header-search{ 
  		margin-bottom: 0;
	}
	.customer-logged-in .top-other .top-search{
  		padding-bottom: 0;
	}
	/*comment*/
	#comments .comment-head span.author, #comments .comment-head span.date{
      clear: both;
      display: block;
      margin-bottom: 10px;
      margin-right: 0;
      width: 100%;
	}
	/*End comment*/
}
@media (max-width: 384px){		
	/*header*/
	
	/*End header*/
	/*sidebar*/
    .featured-products .col-md-7.row-left{
      	width: 30%;
      	float: left;
    }
    .featured-products .col-md-13.row-right{
      	width: 70%;
      	float: right;
    }
    /*End sidebar*/
	/*title sidebar*/
	.wrapper-title .title-3 {
    	font-size: 22px !important;
    	line-height: 1.3em;
    }
	/*End title sidebar*/
	/*block bottom*/
	.block-heading{
  		font-size: 15px;
	}
	#bottom_blocks .bottom-block .block-content .block-caption{
  		font-size: 12px;
	}
}
/* landscape phones and down */
@media (max-width: 360px) {
	.element{
  		width: 100% !important;
	}
	.group-product-item,
	.home_products .element form, 
	.prod-related .element form, 
	.group-product-item .element form{
  		margin: 0;
	}
	#content .background{
  		padding: 0;
	}
	.wrapper-title .title-3{
  		font-size: 20px !important;
    	padding: 0;
	}
	.home_products_slider header.control-group, 
	.home_collections header.control-group{
  		margin-bottom: 10px;
	}
	#home_collections_wrapper .owl-theme .owl-controls .owl-buttons, 
	.home_products_wrapper .owl-theme .owl-controls .owl-buttons{
  		top: -44px;
  		text-align: left;
	}
	.owl-theme .owl-controls .owl-buttons > div.owl-prev{
  		margin-left: 0;
	}
	.home_collections .wrapper-title, .home_products_slider .wrapper-title{
  		width: 100%;
  		margin-bottom: 10px;
	}
	.home_collections .col-view-all, .home_products_slider .col-view-all{
  		width: 100%;
  		padding: 0;
	}
	.home_products_slider .element form{
  		margin: 0 !important;
	}
	#home_collections .item .group{
  		padding:0;
	}
	
	.home-slider-wrapper{
  		padding: 0 10px;
	}	
	#content .search-page h1#page-title{
  		padding-left: 20px;
	}
	.search-page form.search-form input.input-block-level{
  		margin-left: 20px;
	}
	.search-page h6.empty{
  		margin-left: 20px;
	}
	.collection-page{
  		padding: 0 10px;
	}
	
}	
@media (max-width: 320px){
html, body {
    width: 97%;
    margin: 0 auto;
}
  .qty-wrapper .qty-up i.fa, 
  .qty-wrapper .qty-down i.fa{
  	padding: 10px 2px;
  }
  .cart-page h1#page-title{
    padding-left: 10px;
  }
  #checkout-addnote.col-md-10{
  	padding: 0;
  }
 
  .cart-page h1#page-title {
    padding-left: 0px;
  }
  .copyright{
  	margin: 10px 0px;
  }	
  .article-page ul.post  li i.fa,
  .blog-page ul.post  li i.fa{
    margin-left: 0;
  }
  .article-page ul.post li,
  .blog-page ul.post  li{
    padding-left: 0 ;
  }
  address .address-group {
      max-width: 195px;
      padding-left: 18px;
  }
  /*blog comment*/
  #comments .comment-head .post-reply{
    width: 100% !important;
    clear: bold;
  	display: block;
  	text-align: left;
  }
  /*End blog comment*/
  /*blog*/	  
  .blog-page .pagination-blog, .blog-page .blogs-item, .blog-page #page-title{
  	padding-left: 0px;
  }
  #col-main,
  .col-md-5.sidebar,
  #bottom > .container{
    padding-left: 0;
    padding-right: 0;
  }	
  #top .top-navigation {
    padding-left: 0 !important;
  }
  .home-slider-wrapper,
  #col-main > .container .col-md-15,
  #col-main > .container,
  .top-logo.col-md-4,
  .top-navigation.col-md-11,
  .top-search.col-md-5,
  #breadcrumb{
    padding: 0px !important;  	
  }
  /*End blog*/
  /*detail blog*/
  label.wrapper-title, .selector-wrapper label{
  	width: 60px;
  }
  /*End detail blog*/
  .row.breadcrumb,
  .row.wrap-table{
  	margin: 0;
  }
  #content.container,
  .wrap-table{
  	padding: 0;
  }
  header#top{
  	margin-bottom: 10px;
  } 
  #col-main.col-md-24.order-page.order-detail{
    padding: 0px;
  }
  #order_details_wrapper{
  	padding: 0 10px;
  }
  .col-md-20.cart-page.content{
  	padding: 0 !important;
  }
  .row.content{
  	margin: 0;
  }
  .col-md-11.product-information,
  .col-md-9.product-image{
  	padding: 0;
  }
  .col-md-20.register-page,
  .col-md-20.login-page{
  	padding: 0 !important;
  }
}
@media (max-device-width: 320px){
	.article-page ul.post li,
	.blog-page ul.post  li{
  		padding-left: 0 ;
	}
	.article-page ul.post  li i.fa,
	.blog-page ul.post  li i.fa{
  		margin-left: 0;
	}
	body{
  		overflow: hidden;
	}
	/*slider*/
	.camera_caption.camera_cta_2{
  		left: -50% !important;
	}
	/*End slider*/
}
/* this will work for firefox */
@-moz-document url-prefix() { 
  .relative ul li,
  .contact-form li,
  #new_user li,
  #reset-form li,
  .login-wrapper li,
  #sandBox li,
  .sb-wrapper ul li{
    list-style-position: inherit !important;
  }  
}
/*fix ie9 \9*/
.sidebar .sb-title{
  line-height: 10px\9;
}
/* this will work for ie10 */
@media all and (-ms-high-contrast: none) { 
  	.sidebar .sb-title{
    	line-height: 10px;
  	}
}
/* this will work for chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {   
  
}


@media (max-width: 440px){ 



.mobi-marg{
	margin-top: 10px;
}

.byye{
	width: 63px;
}

.btn {
    font-size: 10px;
}

.title-1 .content-title {
display: inline-block;
font-weight: 100;
font-size: 15px;
line-height: 25px;
}

.home_products_slider a.title-5, .prod-related .element a.title-5, .group-product-item .element a.title-5 {
font-size: 11px;
color: #000000;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
margin-bottom: 10px;
}

.price, .price_sale {
color: #e60404;
font-size: 12px;
font-style: normal;
font-weight: bold;
}

.price_compare {
color: #4e4e4e;
font-size: 11px;
font-style: normal;
font-weight: normal;
text-decoration: line-through;
}

}
