
#header, #intro, #second{
	width: 100%;
}

#intro{
	background:url(<%= image_path "firstBG.jpg" %>) 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	padding: 0;
	background-size: cover;
}

#second{
	background: url(<%= image_path "secondBG.jpg" %>) 50% 0 no-repeat fixed;
	color: white;
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	background-size: cover;
}

#second .bg{
	background: url(<%= image_path "trainers.png" %>) 50% 0 no-repeat fixed;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}

#third{
	background: url(<%= image_path "thirdBG.jpg" %>) 50% 0 no-repeat fixed;
	color: white;
	height: 650px;
	padding: 100px 0 0 0;
	background-size: cover;	
}



.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}
