<%= form_tag do %>
  <input type="hidden" name="url" value="<%= url %>" />
  <input type="hidden" name="id" value="<%= product.id %>" />
  <input type="hidden" name="data[quantity]" value="1" />
  <ul class="row-container list-unstyled clearfix">
    <li class="row-left">
      <a href="<%= url %>" class="hoverBorder container_item">
          <span class="hoverBorderWrapper">
            <img src="<%= image_path product.front_image %>" height="310" width="258" class="image-fly img-responsive front"
                 alt="Bellentes sagittis sodales accum etiam  lobortis purus dictum">
            <span class="hidden-sm hidden-xs">
              <img src="<%= image_path "card-hover.png" %>" class="rotation back img-responsive"
                   alt="Bellentes sagittis sodales accum etiam  lobortis purus dictum">
            </span>
          </span>
        <div class="product-ajax-cart hidden-xs hidden-sm">
          <span class="overlay_mask"></span>
          <% if product.is_specialty %>
                <span class="sale_banner">
                  <img class="byye" src="<%= image_path "new-collection.png" %>" title="Новинка" alt="Новинка">
                </span>
          <% end %>
        </div>
        <% if product._price_discount %>
              <span class="sale_banner">
                <img class="byye" src="<%= image_path "saleoff.png" %>" title="Скидка" alt="Скидка">
              </span>
        <% end %>
      </a>
    </li>
    <li class="row-right text-left parent-fly animMix">
      <a class="title-5" href="<%= url %>"><%= product.name %></a>
      <div class="card-tags">
        <%= render "products/tags", :product => product %>
      </div>
      <div class="product-price">
        <% if product._price_discount %>
            <span class="price_sale">
              <span class="money"><%= product._price_discount %> руб.</span>
            </span>
            <del class="price_compare">
              <span class="money"><%= product._price %> руб.</span>
            </del>
        <% else %>
            <span class="price">
              <span class="money"><%= product._price %> руб.</span>
            </span>
        <% end %>

       

      </div>
      <button class="btn select-option" type="button" onclick="window.location.href='<%= url %>';">Выбрать</button>
    </li>
  </ul>
<% end %>