<span><i class="fa fa-tags red"></i> Теги:</span>
<% product.type_tags.each do |type| %>
    <a href="<%= root_url(:anchor => "scroll_link_type_#{type.id}") %>"><%= type.name %> /</a>
<% end %>
<% product.category_tags.each do |category| %>
    <a href="<%= category_url category %>"><%= category.name %> /</a>
<% end %>
<% product.region_tags.each do |region| %>
    <a href="<%= region_url region %>"><%= region.name %> /</a>
<% end %>
<% product.subject_tags.each do |subject| %>
    <a href="<%= subject_url subject %>"><%= subject.name %> /</a>
<% end %>
