<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %> <i class="fa fa-angle-right"></i>
          <span class="page-title">Магазин</span>
        </div>
      </div>
      <section class="row content">
        <div id="col-main" class="blog blog-page col-content col-sm-20 col-md-20">
          <h1 id="page-title" class="large">Магазин</h1>
          <!-- left col end -->
          <div class="row">
          <div class="col-md-10 bordy not-animated" data-animate="fadeInLeft" data-delay="900">
            <!-- city start -->
            <h3 class="blue">Продукция с принтами по регионам</h3>
            <section class="rel-container clearfix">
              <div class="effects effect-5 clearfix">
                <div class="img">
                  <img src="<%= image_path "magaz-category-1.jpg" %>" class="img-responsive" alt="">

                  <div class="overlay">
                    <a href="<%= regions_url %>" class="expand">
                      Войти в
                      <br>категорию</a>
                    <a class="close-overlay hidden">x</a>
                  </div>
                </div>
              </div>
            </section>

            <!-- city end -->
            <h4 class="">Навигация по региональной продукции:</h4>

            <div class="col-md-10 botts">
              <select id="region_select" class="form-control" name="region_id"
                      data-default="">
                <option value disabled selected data-provinces="[]">-- Выбрать регион --</option>
                <% @nav[:regions].each do |region| %>
                    <option value="<%= region.id %>"><%= region.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-10 botts">
              <select id="region_type_select" class="form-control" name="region_type_id"
                      data-default="" disabled>
                <option value disabled selected data-provinces="[]">-- Выбрать тип продукции --</option>
                <% @nav[:types].each do |type| %>
                    <option value="<%= type.id %>"><%= type.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-10 botts">
              <button class="btn" data-region-type-url="<%= region_type_url :region_id => "$region$", :id => "$id$" %>"
                      data-region-url="<%= region_url :id => "$id$" %>" id="region_show" disabled>Показать товары</button>
            </div>

            <div class="botty"></div>
          </div>
          <div class="col-md-10 not-animated" data-animate="fadeInRight" data-delay="900">
            <h3 class="blue">Продукция с общими принтами</h3>
            <section class="rel-container clearfix">
              <div class="effects effect-5 clearfix">
                <div class="img">
                  <img src="<%= image_path "magaz-category-2.jpg" %>" class="img-responsive" alt="">
                  <div class="overlay">
                    <a href="<%= subjects_url %>" class="expand">
                      Войти в
                      <br>категорию</a>
                    <a class="close-overlay hidden">x</a>
                  </div>
                </div>
              </div>
            </section>
            <!-- city end -->
            <h4>Навигация по общей продукции:</h4>

            <div class="col-md-10 botts">
              <select id="subject_select" class="form-control" name="subject_id"
                      data-default="">
                <option value disabled selected data-provinces="[]">-- Выбрать категорию --</option>
                <% @nav[:subjects].each do |subject| %>
                    <option value="<%= subject.id %>"><%= subject.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-10 botts">
              <select id="subject_type_select" class="form-control" name="subject_type_id"
                      data-default="" disabled>
                <option value disabled selected data-provinces="[]">-- Выбрать тип продукции --</option>
                <% @nav[:types].each do |type| %>
                    <option value="<%= type.id %>"><%= type.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-10 botts">
              <button class="btn" data-subject-type-url="<%= subject_type_url :subject_id => "$subject$", :id => "$id$" %>"
                      data-subject-url="<%= subject_url :id => "$id$" %>" id="subject_show" disabled>Показать товары</button>
            </div>

            <!-- city end -->
            <div class="botty"></div>
          </div>
          </div>

        </div>
      </section>
      <section class="row content">
        <!--#col-main-->
        <div id="col-main" class="collection collection-page col-content col-sm-15 col-md-15">

          <div id="page-header">
            <h1 id="page-title">ВСЕ ТОВАРЫ</h1>
          </div>

          <!--#sandBox-wrapper-->
          <div id="sandBox-wrapper" class="group-product-item">
            <ul id="sandBox" class="list-unstyled row isotope">
              <% delay_dur = 0; @products.each do |product| %>
                  <li class="element first isotope-item" data-alpha=" " data-price="<%= product.real_price %>">
                    <%= render product, :url => product_url(product) %>
                  </li>
              <% delay_dur += 200 end %>
            </ul>
          </div>
          <%= paginate @products %>
        </div>
        <div id="prodcoll" class="col-sm-5 col-md-5 sidebar">
          <div class="group_sidebar">
            <div class="sb-wrapper not-animated" data-animate="fadeIn" data-delay="300">
              <div class="sb-title">Сортировка товаров</div>
              <% @nav[:categories].each do |category| %>
                  <a href="<%= category_url category %>">
                    <div class="inners">
                      <div class="inners3 fadeIn animated bor-bott" data-animate="fadeIn" data-delay="100">
                        <i class="fa fa-chevron-right "></i>
                        <%= category.name %>
                      </div>
                    </div>
                  </a>
              <% end %>
            </div>
          </div>
          <div class="group_sidebar">
            <div class="sb-wrapper not-animated" data-animate="fadeIn" data-delay="300">
              <div class="sb-title">Эксклюзивная надпись</div>

                <img class="imeger" src="<%= image_path "im-zakaz.png" %>" alt=" ">
              <ul class="list-unstyled sb-content textwidget list-styled">
                <li>
                  <p>
                    У нас вы можете нанести инициалы и уникальные надписи. Для этого при заполнении формы заказа выберите соответствующий пункт.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<script type="text/javascript">

  $(document).ready(function () {
    "use strict";

    if ($.browser.msie && $.browser.version == 7) {
      $(window).load(function () {
        var $container = $('#sandBox');

        $container.isotope({
          itemSelector: '.element',
          layoutMode: 'fitRows',
          getSortData: {
            name: function ($elem) {
              return $elem.attr('data-alpha');
            },
            price: function ($elem) {
              return $elem.attr('data-price');
            }
          }
        });


        var $optionSets = $('#options .option-set'),
            $optionLinks = $optionSets.find('li');

        $optionLinks.click(function () {
          var $this = $(this);
          // don't proceed if already selected
          if ($this.hasClass('selected')) {
            return false;
          }

          var $direction = $(this).attr('data-order');
          var key1 = 'sortAscending',
              value1 = true;
          switch ($direction) {
            case 'asc':
              value1 = true;
              break;

            case 'desc':
              value1 = false;
              break;
          }

          var $optionSet = $this.parents('.option-set');
          $optionSet.find('.selected').removeClass('selected');
          $this.addClass('selected');

          // make option object dynamically, i.e. { filter: '.my-filter-class' }
          var options = {},
              key = $optionSet.attr('data-option-key'),
              value = $this.attr('data-option-value');
          // parse 'false' as false boolean
          value = value === 'false' ? false : value;
          options[key] = value;
          options[key1] = value1;
          if (key === 'layoutMode' && typeof changeLayoutMode === 'function') {
            // changes in layout modes need extra logic
            changeLayoutMode($this, options)
          } else {
            // otherwise, apply new options
            $container.isotope(options);
          }

          return false;
        });
      });
    }
    else {
      $(window).load(function () {
        var $container = $('#sandBox');

        $container.isotope({
          itemSelector: '.element',
          layoutMode: 'fitRows',
          getSortData: {
            name: function ($elem) {
              return $elem.attr('data-alpha');
            },
            price: function ($elem) {
              return $elem.attr('data-price');
            }
          }
        });


        var $optionSets = $('#options .option-set'),
            $optionLinks = $optionSets.find('li');

        $optionLinks.click(function () {
          var $this = $(this);
          // don't proceed if already selected
          if ($this.hasClass('selected')) {
            return false;
          }

          var $direction = $(this).attr('data-order');
          var key1 = 'sortAscending',
              value1 = true;
          switch ($direction) {
            case 'asc':
              value1 = true;
              break;

            case 'desc':
              value1 = false;
              break;
          }

          var $optionSet = $this.parents('.option-set');
          $optionSet.find('.selected').removeClass('selected');
          $this.addClass('selected');

          // make option object dynamically, i.e. { filter: '.my-filter-class' }
          var options = {},
              key = $optionSet.attr('data-option-key'),
              value = $this.attr('data-option-value');
          // parse 'false' as false boolean
          value = value === 'false' ? false : value;
          options[key] = value;
          options[key1] = value1;
          if (key === 'layoutMode' && typeof changeLayoutMode === 'function') {
            // changes in layout modes need extra logic
            changeLayoutMode($this, options)
          } else {
            // otherwise, apply new options
            $container.isotope(options);
          }

          return false;
        });
      });
    }

    $('#subject_select').on('change', function(){
      $('#subject_type_select').add($('#subject_show')).removeAttr('disabled');
    });
    $('#region_select').on('change', function(){
      $('#region_type_select').add($('#region_show')).removeAttr('disabled');
    });
    $('#subject_show').on('click', function(){
      var button = $(this),
          subject_type_url = button.data('subject-type-url'), // $subject$, $id$
          subject_url = button.data('subject-url'), // $id$
          subject_id = $('[name=subject_id]').val(),
          type_id = $('[name=subject_type_id]').val();
      if(button.is(':disabled'))return;
      if(type_id)
        window.location.href = subject_type_url.replace('$subject$', subject_id).replace('$id$', type_id);
      else
        window.location.href = subject_url.replace('$id$', subject_id);
    });
    $('#region_show').on('click', function(){
      var button = $(this),
          region_type_url = button.data('region-type-url'), // $region$, $id$
          region_url = button.data('region-url'), // $id$
          region_id = $('[name=region_id]').val(),
          type_id = $('[name=region_type_id]').val();
      if(button.is(':disabled'))return;
      if(type_id)
        window.location.href = region_type_url.replace('$region$', region_id).replace('$id$', type_id);
      else
        window.location.href = region_url.replace('$id$', region_id);
    });
    $(window).on('popstate', function(){
      if($('#subject_select').val()){
        $('#subject_type_select').add($('#subject_show')).removeAttr('disabled');
      }
      if($('#region_select').val()){
        $('#region_type_select').add($('#region_show')).removeAttr('disabled');
      }
    });
  });
</script>