<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %>
          <i class="fa fa-angle-right"></i>
          <span class="page-title">ТОВАРЫ ПО ЗАПРОСУ: <%= @query %></span>
        </div>
      </div>
      <section class="row content">
        <!--#col-main-->
        <div id="col-main" class="collection collection-page col-content col-sm-15 col-md-15">

          <div id="page-header">
            <h1 id="page-title">ТОВАРЫ ПО ЗАПРОСУ: <%= @query %></h1>
          </div>

          <!--#sandBox-wrapper-->
          <div id="sandBox-wrapper" class="group-product-item">
            <ul id="sandBox" class="list-unstyled row isotope">
              <% delay_dur = 0; @products.each do |product| %>
                  <li class="element first isotope-item" data-alpha=" " data-price="<%= product.real_price %>">
                    <%= render product, :url => product_url(product) %>
                  </li>
              <% delay_dur += 200 end %>
            </ul>
          </div>
          <%= paginate @products %>
        </div>
        <!--end #col-main-->

        <!--sidebar-->
        <div id="prodcoll" class="col-sm-5 col-md-5 sidebar">
          <div class="group_sidebar">
            <div class="sb-wrapper not-animated" data-animate="fadeIn" data-delay="300">
              <div class="sb-title">Эксклюзивная надпись</div>

              <img class="imeger" src="<%= image_path "im-zakaz.png" %>" alt=" ">
              <ul class="list-unstyled sb-content textwidget list-styled">
                <li>
                  <p>
                    У нас вы можете нанести инициалы и уникальные надписи. Для этого при заполнении формы заказа
                    выберите соответствующий пункт.
                  </p>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!--end sidebar-->

      </section>
    </div>
  </div>
</div>
<div class="modal fade" id="quick-shop-modal"></div>
<script type="text/javascript">

  $(document).ready(function () {
    "use strict";

    if ($.browser.msie && $.browser.version == 7) {
      $(window).load(function () {
        var $container = $('#sandBox');

        $container.isotope({
          itemSelector: '.element',
          layoutMode: 'fitRows',
          getSortData: {
            name: function ($elem) {
              return $elem.attr('data-alpha');
            },
            price: function ($elem) {
              return $elem.attr('data-price');
            }
          }
        });


        var $optionSets = $('#options .option-set'),
            $optionLinks = $optionSets.find('li');

        $optionLinks.click(function () {
          var $this = $(this);
          // don't proceed if already selected
          if ($this.hasClass('selected')) {
            return false;
          }

          var $direction = $(this).attr('data-order');
          var key1 = 'sortAscending',
              value1 = true;
          switch ($direction) {
            case 'asc':
              value1 = true;
              break;

            case 'desc':
              value1 = false;
              break;
          }

          var $optionSet = $this.parents('.option-set');
          $optionSet.find('.selected').removeClass('selected');
          $this.addClass('selected');

          // make option object dynamically, i.e. { filter: '.my-filter-class' }
          var options = {},
              key = $optionSet.attr('data-option-key'),
              value = $this.attr('data-option-value');
          // parse 'false' as false boolean
          value = value === 'false' ? false : value;
          options[key] = value;
          options[key1] = value1;
          if (key === 'layoutMode' && typeof changeLayoutMode === 'function') {
            // changes in layout modes need extra logic
            changeLayoutMode($this, options)
          } else {
            // otherwise, apply new options
            $container.isotope(options);
          }

          return false;
        });
      });
    }
    else {
      $(window).load(function () {
        var $container = $('#sandBox');

        $container.isotope({
          itemSelector: '.element',
          layoutMode: 'fitRows',
          getSortData: {
            name: function ($elem) {
              return $elem.attr('data-alpha');
            },
            price: function ($elem) {
              return $elem.attr('data-price');
            }
          }
        });


        var $optionSets = $('#options .option-set'),
            $optionLinks = $optionSets.find('li');

        $optionLinks.click(function () {
          var $this = $(this);
          // don't proceed if already selected
          if ($this.hasClass('selected')) {
            return false;
          }

          var $direction = $(this).attr('data-order');
          var key1 = 'sortAscending',
              value1 = true;
          switch ($direction) {
            case 'asc':
              value1 = true;
              break;

            case 'desc':
              value1 = false;
              break;
          }

          var $optionSet = $this.parents('.option-set');
          $optionSet.find('.selected').removeClass('selected');
          $this.addClass('selected');

          // make option object dynamically, i.e. { filter: '.my-filter-class' }
          var options = {},
              key = $optionSet.attr('data-option-key'),
              value = $this.attr('data-option-value');
          // parse 'false' as false boolean
          value = value === 'false' ? false : value;
          options[key] = value;
          options[key1] = value1;
          if (key === 'layoutMode' && typeof changeLayoutMode === 'function') {
            // changes in layout modes need extra logic
            changeLayoutMode($this, options)
          } else {
            // otherwise, apply new options
            $container.isotope(options);
          }

          return false;
        });
      });
    }
  });
</script>