<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %> <i class="fa fa-angle-right"></i>
          <a href="<%= shop_url %>" title="">Магазин</a>
          <i class="fa fa-angle-right"></i>
          <% if @route[:group] %>
              <a href="<%= @route[:group][:path] %>" title=""><%= @route[:group][:name] %></a>
              <i class="fa fa-angle-right"></i>
          <% end %>
          <% if @route[:item] %>
              <a href="<%= @route[:item][:path] %>" title=""><%= @route[:item][:name] %></a>
              <i class="fa fa-angle-right"></i>
          <% end %>
          <% if @route[:type] %>
              <a href="<%= @route[:type][:path] %>" title=""><%= @route[:type][:name] %></a>
              <i class="fa fa-angle-right"></i>
          <% end %>
          <span class="page-title"><%= @product.name %></span>
        </div>
        <a class="topss nazad" href="<%= shop_url %>"> <i class="fa fa-angle-left"></i> Назад в магазин</a>
      </div>
      <section class="row content">
        <!-- #col-main -->
        <div id="col-main" class="product-page col-content col-sm-15 col-md-15">
          <div itemscope="" itemtype="http://schema.org/Product">
            <div id="product" class="content row clearfix">
              <div id="product-image" class="col-md-9 product-image">
                <div class="product-image-wrapper not-animated" data-animate="fadeIn" data-delay="300">
                  <a target="_blank" href="<%= image_path @product.front_image %>"
                     class="main-image elevatezoom">
                    <img itemprop="image" class="img-zoom img-responsive image-fly"
                         src="<%= image_path @product.front_image %>"
                         data-zoom-image="<%= image_path @product.front_image %>"
                         alt="Eellentes sagittis sodales accum etiam  lobortis purus dictum">
                    <span class="main-image-bg"></span>
                  </a>
                  <h5><i class="fa fa-search-plus"></i> Наведите курсор для увеличения</h5>

                  <div id="gallery_main" class="product-image-thumb">

                    <a target="_blank" class="image-thumb active"
                       data-image="<%= image_path @product.front_image %>"
                       data-zoom-image="<%= image_path @product.front_image %>"
                       href="<%= image_path @product.front_image %>">
                      <img src="<%= image_path @product.front_image_url(:thumb) %>"
                           alt="Eellentes sagittis sodales accum etiam lobortis purus dictum"></a>

                    <a target="_blank" class="image-thumb"
                       data-image="<%= image_path @product.back_image %>"
                       data-zoom-image="<%= image_path @product.back_image %>"
                       href="<%= image_path @product.back_image %>">
                      <img src="<%= image_path @product.back_image_url(:thumb) %>"
                           alt="Eellentes sagittis sodales accum etiam lobortis purus dictum"></a>

                  </div>

                  <div class="plus-o">
                    <p>Расскажи друзьям!</p>  <script type="text/javascript">(function() {
                    if (window.pluso)if (typeof window.pluso.start == "function") return;
                    if (window.ifpluso==undefined) { window.ifpluso = 1;
                      var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                      s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                      s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                      var h=d[g]('body')[0];
                      h.appendChild(s);
                    }})();</script>
                    <div class="pluso" data-background="transparent" data-options="medium,round,line,horizontal,nocounter,theme=06" data-services="vkontakte,facebook,twitter"></div>
                  </div>
                </div>
              </div>
              <div id="product-information" class="col-md-11 product-information">
                <div id="product-header" class="clearfix">
                  <h1 id="page-title">
                    <span itemprop="name"><%= @product.name %></span>
                  </h1>

                  <div class="relative">
                    <ul class="list-unstyled">
                      <li class="vendor">
                        <span>
                          <i class="fa fa-info-circle red"></i>
                          Артикул:
                        </span>
                        <a class="red" title="Vendor 1"><%= @product.sku %></a>
                      </li>
                      <li class="type">
                        <span>
                          <i class="fa  fa-check-circle red"></i>
                          Состав:
                        </span>
                        <a class="red" title="Suspendisse "><%= @product.material %></a>
                      </li>
                      <li class="tags">
                        <%= render "tags", :product => @product %>
                      </li>
                    </ul>
                  </div>
                  <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="EUR">
                    <link itemprop="availability" href="http://schema.org/InStock">
                    <%= form_tag products_url, :method => :post, :class => "variants", :id => "product-actions" do %>
                      <input type="hidden" name="id" value="<%= @product.id %>" />
                      <div id="product-actions-251539157" class="options clearfix">
                        <div id="purchase-251539157">
                          <div class="detail-price" itemprop="price">
                            <span class="price">
                              <% if @product._price_discount %>
                                  <span class="money"><%= @product._price_discount %> руб.</span>
                                  <span class="moneyr"><%= @product._price %> руб.</span>
                                  <input type="hidden" name="base_price" value="<%= @product._price_discount %>" />
                                  <input type="hidden" name="original_price" value="<%= @product._price %>" />
                              <% else %>
                                  <span class="money"><%= @product._price %> руб.</span>
                                  <input type="hidden" name="base_price" value="<%= @product._price %>" />
                              <% end %>
                            </span>
                          </div>
                        </div>
                        <div class="variants-wrapper clearfix">
                          <div class="selector-wrapper clearfix">
                            <i class="sizer2"></i>
                            <label class="fl-lab-left"
                                   for="product-select-251539157-option-0">
                              Выберите
                              <br>цвет:</label>
                            <% @product.colors.each do |color| %>
                                <input style="display: none" type="radio" name="data[color]" id="color_<%= color.id %>" value="<%= color.label %>"/>
                                <label class="all-color" style="background-color: <%= color.color %>" for="color_<%= color.id %>" title="<%= color[:label] %>"></label>
                            <% end %>
                          </div>
                          <div class="selector-wrapper clearfix">
                            <i class="sizer"></i>
                            <label for="product-select-251539157-option-1">
                              Выберите
                              размер:
                            </label>

                            <div class="wrapper">
                              <select class="single-option-selector col-md-12" name="data[size]">
                                <%= @product.sizes.each do |size| %>
                                <option value="<%= size.name %>"><%= size.name %></option>
                                <% end %>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="quantity-wrapper clearfix">
                          <i class="sizer3"></i>
                          <label class="wrapper-title">Выберите количество:</label>

                          <div class="pos-relative">
                            <div class="wrapper">
                              <input id="quantity" type="text" name="data[quantity]" value="1"
                                     maxlength="5" size="5" class="item-quantity">
                            </div>
                            <span class="qty-group">
                              <span class="qty-wrapper">
                                <span class="qty-up btooltip" data-toggle="tooltip" data-placement="top" title=""
                                      data-src="#quantity" data-original-title="Больше">
                                  <i class="fa fa-plus"></i>
                                </span>
                                <span class="qty-down btooltip" data-toggle="tooltip" data-placement="top" title=""
                                      data-src="#quantity" data-original-title="Меньше">
                                  <i class="fa fa-minus"></i>
                                </span>
                              </span>
                            </span>
                          </div>
                        </div>

                        <% if @product.lettering %>
                            <input type="hidden" name="lettering_price" value="150" />
                            <div class="quantity-wrapper clearfix">
                              <i class="sizer4"></i>
                              <label class="wrapper-title">Надпись:</label>
                              <div class="pos-relative">
                                <div class="wrapper nadp">
                                  <select class="single-option-selector col-md-12" name="data[lettering]" onchange="$('.hidd-bl').toggle();">
                                    <option value="false" selected>Нет</option>
                                    <option value="true">calibri (ж.к.)</option>
                                    <option value="true">segoe script (ж)</option>
                                    <option value="true">palatino linotype (ж)</option>
                                    <option value="true">comic sans (ж)</option>
                                    <option value="true">corsiva (ж)</option>
                                    <option value="true">bookman old style (ж) </option>
                                  </select>
                                </div>
                              </div>
                              <div class="hidd-bl" style="display: none;">
                                <img class="ntl-img" src="<%= image_path "nps.png" %>">
                                <textarea id="myTextArea" placeholder="Ваша надпись" name="data[lettering_text]"></textarea>
                                <div class="selector-wrapper clearfix">
                                  <label for="product-select-251539157-option-1">
                                    Цвет надписи:
                                  </label>
                                  <div class="wrapper">
                                    <select class="single-option-selector col-md-12" name="data[lettering_color]">

                                      <option value="Синий">Синий</option>
                                      <option value="Розовый">Розовый</option>
                                      <option value="Кремовый">Кремовый</option>
                                      <option value="Желтый">Желтый</option>
                                      <option value="Белый">Белый</option>
                                      <option value="Красный">Красный</option>
                                      <option value="Фиолетовый">Фиолетовый</option>
                                      <option value="Оранжевый">Оранжевый</option>
                                      <option value="Голубой">Голубой</option>
                                      <option value="Золото">Золото</option>
                                      <option value="Черный">Черный</option>
                                      <option value="Светло зеленый">Светло зеленый</option>
                                      <option value="Бордовый">Бордовый</option>
                                      <option value="Серебро">Серебро</option>
                                      <option value="Светло голубой">Светло голубой</option>
                                      <option value="Коричневый">Коричневый</option>
                                      <option value="Зеленый">Зеленый</option>
                                      <option value="Серый">Серый</option>
                                      <option value="Бирюзовый">Бирюзовый</option>
                                    </select>
                                  </div>
                                </div>

                                <div class="selector-wrapper clearfix">
                                  <label for="product-select-251539157-option-1">
                                    Формат надписи:
                                  </label>
                                  <div class="wrapper">
                                    <select class="single-option-selector col-md-12" name="data[lettering_format_id]">
                                      <% @lettering_formats.each do |format| %>
                                        <option value="<%= format.id %>" data-price="<%= format.price %>"><%= format.name %> (<%= format.price %> rub.)</option>
                                      <% end %>
                                    </select>
                                  </div>
                                </div>

                              </div>
                            </div>
                        <% end %>
                        <div class="others-bottom">
                          <button id="add-to-cart" class="btn" data-parent=".product-information" type="submit" name="return_back" value="false">Купить сейчас</button>
                          <button id="no-add-to-cart" class="btn" data-parent=".product-information" type="submit" name="return_back" value="true">ДОБАВИТЬ В КОРЗИНУ</button>
                        </div>
                      </div>
                    <% end %>
                  </div>

                </div>
              </div>
            </div>
            <div class="description" itemprop="description">
              <section>
                <div class="tabs tabs-style-flip">
                  <nav>
                    <ul>
                      <li>
                        <a href="#section-flip-1" class="">
                          <span>Похожие товары</span>
                        </a>
                      </li>
                      <% if @product.product_dynamic_content %>
                          <li>
                            <a href="#section-flip-3" class="">
                              <span>Описание товара</span>
                            </a>
                          </li>
                      <% end %>
                      <li>
                        <a href="#section-flip-2" class="">
                          <span>Обмен/Возврат</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <div class="content-wrap">
                    <section id="section-flip-1">
                      <div class="title-1">
                        <span class="content-title">Так же доступно на</span>
                        <span class="sub-title"></span>
                      </div>
                      <div id="prod-related-wrapper" class="new-rw">
                        <div class="prod-related scr-new clearfix">
                          <% delay_dur = 0; @product.subject_tags.try(:products).try(:each) do |product| %>
                              <div class="element not-animated" data-animate="bounceIn" data-delay="<%= delay_dur %>">
                                <%= render product, :url => product_url(product) %>
                              </div>
                          <% end %>
                          <% delay_dur = 0; @product.region_tags.try(:products).try(:each) do |product| %>
                              <div class="element not-animated" data-animate="bounceIn" data-delay="<%= delay_dur %>">
                                <%= render product, :url => product_url(product) %>
                              </div>
                          <% end %>
                        </div>
                      </div>
                    </section>
                    <% if @product.product_dynamic_content; content = @product.product_dynamic_content; %>
                      <section id="section-flip-3">
                        <div class="col-md-10">
                          <table class="pp-additional">
                            <tbody>
                            <tr>
                              <td>Вырез горловины</td>
                              <td><%= content.neckline %></td>
                            </tr>
                            <tr>
                              <td>Длина изделия</td>
                              <td><%= content.length %></td>
                            </tr>
                            <tr>
                              <td>Тип рукава</td>
                              <td><%= content.sleeve_type %></td>
                            </tr>
                            <tr>
                              <td>Покрой</td>
                              <td><%= content.style %></td>
                            </tr>
                            <tr>
                              <td>Конструктивные элементы</td>
                              <td><%= content.constructive_items %></td>
                            </tr>
                            <tr>
                              <td>Декоративные элементы</td>
                              <td><%= content.decorative_items %></td>
                            </tr>
                            <tr>
                              <td>Рукав</td>
                              <td><%= content.sleeve %></td>
                            </tr>
                            <tr>
                              <td>Сезон</td>
                              <td><%= content.season %></td>
                            </tr>
                            <tr>
                              <td>Пол</td>
                              <td><%= content.sex %></td>
                            </tr>
                            <tr>
                              <td>Страна бренда</td>
                              <td><%= content.brand_country %></td>
                            </tr>
                            <tr>
                              <td>Страна производитель</td>
                              <td><%= content.manufacturer_country %></td>
                            </tr>
                            <tr class="kit">
                              <td>Комплектация:</td>
                              <td><%= content.equipment %></td>
                            </tr>

                            </tbody>
                          </table>
                        </div>
                        <div class="col-md-10">
                          <h5>Уход за изделием</h5>
                          <%= raw content.garment_care %>
                        </div>
                      </section>
                    <% end %>
                    <section id="section-flip-2">
                      <h4>Обмен / возврат</h4>

                      <p>
                        Возврат товара осуществляется тремя способами оплата стоимости услуг
                        пересылки за счет продавца в случае брака,
                        <br>за счет Покупателя в случае обмена размера.</p>

                      <h5>ДЛЯ МОСКВЫ:</h5>

                      <h6>ВОЗВРАТ КУРЬЕРОМ</h6>

                      <p>
                        Нам очень жаль если вы не довольны товаром настолько что хотите
                        полностью от него отказаться поэтому
                        <br>Стоимость выезда курьера за возвратом составляет 250 рублей.</p>

                      <h6>- САМОСТОЯТЕЛЬНЫЙ ВОЗВРАТ</h6>

                      <p>
                        Покупатель может самостоятельно вернуть не подошедший товар в нашем
                        офисе в Москве по адресу: ул. Намёткина, д. 1, подъезд 7.
                      </p>

                      <h5>ОСТАЛЬНЫЕ ГОРОДА РОССИИ:</h5>

                      <h6>- ВОЗВРАТ ПОЧТОЙ</h6>

                      <p>
                        Жители регионов России могут осуществить возврат товара почтой.
                      </p>

                      <p>
                        ВОЗВРАТ ДЕНЕЖНЫХ СРЕДСТВ
                      <p>
                        По вопросам, связанным с причинами возвратов и качеством товаров следует
                        обращаться
                        <br>в отдел контроля качества по телефону: 8 (495) 134-31-08</p>
                    </section>
                  </div>
                  <!-- /content --> </div>
                <!-- /tabs --> </section>
            </div>
          </div>
          <section class="rel-container clearfix">
            <div class="botty"></div>
          </section>
        </div>
        <!--end #col-main-->

        <!--sidebar-->
        <div id="prodcoll" class="col-sm-5 col-md-5 sidebar">
          <div class="group_sidebar">

            <div class="sb-wrapper not-animated" data-animate="fadeIn" data-delay="300">
              <div class="sb-title">
                <i class="fa fa-gift red"></i>
                СКИДКИ
              </div>
              <ul class="list-unstyled sb-content textwidget list-styled">
                <li>
                  <p>
                    Обращаем ваше внимание, что при заказе нескольких товаров действуют
                    <span class="red">скидки</span>!

                  </p>
                </li>
              </ul>
            </div>


            <div class="sb-wrapper not-animated" data-animate="fadeIn" data-delay="300">
              <div class="sb-title">
                <i class="fa fa-money red"></i>
                ОПЛАТА
              </div>
              <ul class="list-unstyled sb-content textwidget list-styled">
                <li>
                  <p>
                    Вы можете оплатить товары
                    любыми удобными для вас
                    способами. Мы принемаем
                    к оплате
                    <span class="red">кредитные карточки</span>
                    ,
                    есть возможность оплаты,
                    через
                    <span class="red">Qiwi терминалы</span>
                    , а также
                    <span class="red">наличный расчет.</span>
                  </p>
                </li>
              </ul>
            </div>

            <div class="sb-wrapper not-animated" data-animate="fadeIn" data-delay="300">
              <div class="sb-title">
                <i class="fa fa-truck red"></i>
                Доставка
              </div>
              <ul class="list-unstyled sb-content textwidget list-styled">
                <li>
                  <p>
                    Доставка по Москве:
                    <span class="red">250 руб.</span>
                    в пределах МКАД.
                    Доставка также возможна по
                    регионам. Для получения
                    подробной информации
                    перейдите на страницу:
                    <a href="<%= new_feedback_message_url %>" class="red upper">КОНТАКТЫ</a>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="modal fade" id="quick-shop-modal"></div>
<script type="text/javascript">
  jQuery(function($){
    var refresh_price = function () {
      var price = 0;
      if ($('[name="data[lettering]"]').find('option:selected').val() != 'false') {
        var aux_price = parseInt($('input[name="lettering_price"]').val());
        if (!isNaN(aux_price))
          price += aux_price;
        aux_price = parseInt($('[name="data[lettering_format_id]"]').find('option:selected').data('price'));
        if (!isNaN(aux_price))
          price += aux_price;
      }
      var base_price = parseInt($('input[name="base_price"]').val()),
          original_price = parseInt($('input[name="original_price"]').val());
      if (isNaN(base_price))
        base_price = 0;
      if (isNaN(original_price))
        original_price = 0;
      var number = parseInt($('[name="data[quantity]"]').val());
      if (isNaN(number))
        number = 0;
      $('span.money').text(((base_price + price) * number) + ' руб.');
      $('span.moneyr').text(((original_price + price) * number) + ' руб.');
    };
    $('[name="data[lettering_format_id]"]').on('change', refresh_price);
    $('[name="data[quantity]"]').on('change', refresh_price);
    $('[name="data[lettering]"]').on('change', refresh_price).on('change', function(e){
      if($('[name="data[lettering]"]').val() == "true"){
        var q = $('[name="data[quantity]"]'),
            v = q.val();
        q.attr('disabled','disabled').val(1);
        if(v != 1) {
          $('.error-color').text('Внимание! Вы выбрали товар с нанесением надписи. Для заказа более одного товара с надписью повторите операцию.').show().fadeOut(6000);
          refresh_price();
        }
      } else {
        $('[name="data[quantity]"]').removeAttr('disabled');
      }
    });
    $('#product-actions').on('submit', function(e){
      if($('[name="data[color]"]:checked').length == 0) {
        $('.error-color').text('Ошибка: выберите цвет!').show().fadeOut(6000);
        e.preventDefault();
      }
    });
    refresh_price();
  });
</script>
<script type="text/javascript">
  (function () {

    [].slice.call(document.querySelectorAll('.tabs')).forEach(function (el) {
      new CBPFWTabs(el);
    });

  })();
</script>








<script>
  var maxlength = 40;
  var myTextArea = document.getElementById("myTextArea");
  function fixLength() {
    myTextArea.value = myTextArea.value.substr(0, maxlength);
  }
  myTextArea.onkeyup = myTextArea.onchange = fixLength;
</script>
