<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
  // Как только будет загружен API и готов DOM, выполняем инициализацию
  ymaps.ready(init);

  function init() {
    // Создание экземпляра карты и его привязка к контейнеру с
    // заданным id ("map")
    var myMap = new ymaps.Map('map', {
      // При инициализации карты, обязательно нужно указать
      // ее центр и коэффициент масштабирования
      center: [55.6665481, 37.5451536],
      zoom: 15, controls: ['zoomControl', 'typeSelector', 'fullscreenControl']
    });

    myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
      hintContent: 'ул. Намёткина, д. 1, подъезд 7'
    }, {
      // Опции.
      // Необходимо указать данный тип проекта.
      iconLayout: 'default#image',
      // Своё изображение иконки метки.
      iconImageHref: '<%= image_path "mm_20_red.png" %>',
      // Размеры метки.
      iconImageSize: [217, 58],
      // Смещение левого верхнего угла иконки относительно
      // её "ножки" (точки привязки).
      iconImageOffset: [-27, -72]
    });

    myMap.geoObjects.add(myPlacemark);

  }
</script>
<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %>
          <i class="fa fa-angle-right"></i>
          <span class="page-title">Контакты</span>
        </div>
      </div>
      <h1 id="page-title" class="large">Контакты</h1>

      <div id="bottom">
        <div class="container">
          <div id="bottom_blocks" class="row">
            <div class="row mob-no-r">
              <div class="col-md-10">
                <div class="buttsa conts-text not-animated" data-animate="fadeInLeft " data-delay="300">

                  <ul>


                    <li><i class="fa fa-exchange blue"></i> Адрес для самовывоза: ул. Намёткина, д. 1,
                      подъезд 7. Перед тем как подъехать
                      звоните заранее по телефону: <span class="red">8 (495) 134-31-08  </span>(для
                      Москвы)<span class="red"> 8 (495) 134-31-08  </span>(для регионов)
                    </li>

                    <li><i class="fa fa-location-arrow blue"></i> Как проехать:
                      станция метро <span class="red">«Новые Черемушки»,</span> первый вагон из
                      центра, после турникетов направо и выходите на улицу налево. Далее прямо до
                      пересечения Профсоюзной улицы с Намёткина, направо – впереди будет магазин
                      «Седьмой Континент», после него увидите нужный дом - Наметкина д.1
                    </li>

                    <li><i class="fa fa-clock-o blue"></i> Время работы: <span class="red">пн-пт с 10:00-20:00</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-10">
                <div class="buttsa conts-text not-animated" data-animate="fadeInRight" data-delay="300">
                  <ul>
                    <li><i class="fa fa-envelope blue"></i> Email для заявок: <span
                    class="red">zakaz@rospatriot.ru</span></li>
                    <li><i class="fa fa-envelope blue"></i> Email для предложений: <span
                    class="red">info@rospatriot.ru</span></li>
                    <li><i class="fa fa-truck blue"></i> Доставка по Москве курьером:
                      <span class="red">250 руб. в пределах МКАД.</span>
                    </li>
                    <li><i class="fa fa-road blue"></i> Доставка также возможна по регионам.</li>
                    <li><i class="fa fa-phone-square blue"></i> Телефон для сотрудничества и предложений:
                      <span class="red">+7 (495) 783-71-00</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="row content">
        <div id="col-main" class="col-md-20 contact-page clearfix not-animated" data-animate="fadeInLeft"
             data-delay="300">
          <h2 id="page-title" class="large"><i class="fa fa-hand-o-down"></i> Пункт самовывоза на карте</h2>

          <div class="clearfix">
            <div class="col-md-10">
              <div id="contact_map_wrapper">
                <div id="map"
                     style="width:100%;height:420px; display:block; margin: auto; position: relative;"></div>
              </div>
            </div>
            <div class="col-md-10">

              <%= form_for :feedback_message do |f| %>
                <div class="h1">
                  <i class="fa fa-pencil-square blue"></i>
                  <span class="content-title">Написать нам</span>
                  <span class="sub-title"></span>
                </div>
                <ul id="contact-form" class="row list-unstyled">
                  <li class="col-md-18">
                    <%= f.label :name, :class => "control-label" do %>
                        ФИО
                    <% end %>
                    <%= f.text_field :name, :class => "form-control" %>
                  </li>
                  <li class="clearfix"></li>
                  <li class="col-md-18">
                    <%= f.label :phone, :class => "control-label" do %>
                        Телефон
                    <% end %>
                    <%= f.text_field :phone, :class => "form-control subject" %>
                  </li>

                  <li class="clearfix"></li>
                  <li class="col-md-18">
                    <%= f.label :email, :class => "control-label" do %>
                        Электронная почта
                        <span class="req">*</span>
                    <% end %>
                    <%= f.email_field :email, :class => "form-control email", :required => true %>
                  </li>
                  <li class="clearfix"></li>
                  <li class="col-md-18">
                    <%= f.label :message, :class => "control-label" do %>
                        Ваше сообщение
                        <span class="req">*</span>
                    <% end %>
                    <%= f.text_area :message, :class => "form-control w100 border", :required => true, :rows => 7, :cols => 90 %>
                  </li>
                  <li class="clearfix"></li>
                  <li class="col-md-18 unpadding-top">
                    <input class="btn" type="submit" title="Оставить заявку" name="sendMail"
                           value="Отправить сообщение" id="send_but"/>
                  </li>
                </ul>
              <% end %>
              <br>
              <br>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>