<div class="cart-link">
  <a href="<%= orders_url %>" class="dropdown-toggle dropdown-link">
    <!-- <i class="sub-dropdown1"></i> -->
    <!-- <i class="sub-dropdown"></i> -->
    <div class="num-items-in-cart">
      <span class="icon">
        <i class="fa fa-shopping-cart"></i>
        <span class="number"><%= @cart.total_quantity %> товар(-ов)</span>
      </span>
      <!-- <i class="fa fa-angle-down"></i> -->
    </div>
  </a>
  <div id="cart-info" class="dropdown-menu">
    <div class="cart-heading"><a href="<%= orders_url %>">Корзина</a></div>
    <div id="cart-content">
      <% if @cart && @cart.order_records.count > 0 %>
          <div class="items">
            <% @cart.order_records.each do |record| %>
                <div class="row">
                  <div class="col-md-8 cart-left">
                    <a class="cart-image" href="<%= product_url(record.product) %>">
                      <img class="img-responsive" src="<%= image_path record.product.front_image_url(:thumb) %>" alt="">
                    </a>
                  </div>
                  <div class="col-md-12 cart-right">
                    <div class="cart-title">
                      <a href="#"><%= record.product.name %> / Цвет: <%= record.color %> / <%= record.size %></a>
                    </div>
                    <div class="cart-price"><%= record.quantity %><span class="x"> x </span><span class="money"><%= record.price %> руб.</span></div>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
      <div class="row last">
        <div class="col-md-10 cart-subtotal">ИТОГО:<span class="money"><%= @cart.total_price %> руб.</span></div>
        <div class="col-md-10 action">
          <a href="<%= orders_url %>"><button class="btn">Заказать</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
