<% if Rails.env.production? %>
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
  (function(){ var widget_id = 'MHHSLK9zew';var d=document;var w=window;function l(){
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
<% end %>

<footer id="footer">
  <div class="container">
    <div id="footer-content">
      <div class="row footer-content-middle">
        <div id="widget-linklist1" class="col-sm-5 xxs ssx ">
          <div class="widget-wrapper not-animated" data-animate="fadeInLeft" data-delay="300">
            <h3>
              КОНТАКТЫ
            </h3>
            <ul class="list-unstyled list-styled">
              <li>
                <p>
                  <span class="boldy">Телефоны:</span> 8 (495) 134-31-08 / 8 (800) 505-39-61<br>
                  <span class="boldy">Email:</span> info@rospatriot.ru<br>
                  <span class="boldy">Адрес:</span> ул. Намёткина, д. 1, подъезд 7 <br>
                  <span class="boldy">Время работы:</span> пн-пт c 10 00 до 20 00

                </p>
              </li>
              <li>
                <h3><i class="fa fa-hand-o-down "></i>
                  САМОВЫВОЗ
                </h3>

                Ул. Намёткина, д. 1, подъезд 7.<br>
                Перед тем как подъехать<br>
                позвоните по тел. <span class="boldy">8 (495) 134-31-08</span>
                <a class="footer-cl" href="<%= new_feedback_message_url %>#page-title"><i class="fa fa-caret-right"></i>
                  Подробнее</a>
              </li>

            </ul>
          </div>
        </div>
        <div id="widget-twitter" class="col-sm-5 xxs ssx">
          <div class="widget-wrapper not-animated" data-animate="fadeInUp" data-delay="300">
            <h3>
              Твиттер
            </h3>
            <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/ros_patriot" data-widget-id="559809693997355008" data-chrome="noborders nofooter transparent noscrollbar noheader" data-tweet-limit="2" data-link-color="#e60404" data-related="benward,endform">Твиты
              @Ros_Patriot</a>
          </div>
          <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = p + "://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, "script", "twitter-wjs");</script>

          <script>
            var hideTwitterAttempts = 0;
            function hideTwitterBoxElements() {
              setTimeout(function () {
                if ($('[class*=twitter-timeline]').length) {
                  $('[class*=twitter-timeline]').each(function () {

                    $(this).css({'width': '100%'});
                    var ibody = $(this).contents().find('body');
                    if (ibody.find('.timeline .stream .h-feed li.tweet').length) {
                      ibody.find('.p-name').css({'font-size': '12px', 'color': '#ffffff'});
                      ibody.find('.e-entry-title').css({'font-size': '12px', 'color': '#ffffff'});
                    }
                    else {
                      $(this).hide();
                    }
                  });
                }
                hideTwitterAttempts++;
                if (hideTwitterAttempts < 3) {
                  hideTwitterBoxElements();
                }
              }, 1500);
            }

            // somewhere in your code after html page load
            hideTwitterBoxElements();
          </script>

        </div>
        <div id="widget-linklist2" class="col-sm-5 ffx xxs ssx">
          <div class="widget-wrapper not-animated" data-animate="fadeInUp" data-delay="300">
            <h3>
              Сотрудничество
            </h3>
            <ul class="list-unstyled list-styled">
              <li>
                <p>Мы всегда открыты
                  для интересных
                  предложений.
                  По вопросам
                  сотрудничества
                  звоните по телефону:
<span class="brr-fxt">
8 (495) 783-71-00</span>
                </p>
              </li>
              <div id="widget-social">
                <div class="widget-wrapper not-animated" data-animate="fadeInUp" data-delay="300">
                  <div id="img-ros"></div>
                  <h3>
                    МЫ В СОЦСЕТЯХ
                  </h3>
                  <ul class="list-inline">
                    <li>
                      <a target="_blank" href="http://vk.com/rospt" class="btooltip swing" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Вконтакте"><i class="fa fa-vk icoc"></i></a>
                    </li>
                    <li>
                      <a target="_blank" href="https://www.facebook.com/groups/741747129244478/" class="btooltip swing" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Фейсбук"><i class="fa fa-facebook icoc cor-fot-set2"></i></a>
                    </li>
                    <li>
                      <a target="_blank" href="https://twitter.com/Ros_Patriot" class="btooltip swing" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Твиттер"><i class="fa fa-twitter icoc"></i></a>
                    </li>
                    <li>
                      <a target="_blank" href="http://instagram.com/ros_patriot" class="btooltip swing" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Инстаграм"><i class="fa fa-instagram cor-fot-set icoc"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
          </div>
        </div>
        <div id="footer-about-us" class="col-sm-5">
          <div class="widget-wrapper not-animated" data-animate="fadeInRight" data-delay="300">
            <h3>
              О НАС
            </h3>
            <p class="content-about-us">
              РосПатриот – новый проект, который направлен на объединение всей России и русского мира. Мы хотим, чтобы
              каждый гражданин почувствовал себя частью своей великой страны. Наша одежда позволит Вам это сделать.
              Здесь, Вы найдете ваш любимый город России и заберете его с собой!</p>
          </div>
          <div class="widget-wrapper not-animated" data-animate="fadeInRight" data-delay="300">
            <h3>
              ОПЛАТА
            </h3>
            <p class="content-about-us">
              Вы можете оплатить Ваш заказ любым
              удобным для Вас способом, включая оплату наличными и безналичную оплату</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="footer2">
  <div class="container">
    <div id="footer-content2">
      <div class="row footer-content-bottom">
        <div id="widget-linklist4" class="col-sm-15">
          <div class="widget-wrapper">
            <ul class="list-unstyled">
              <li>
                <div class="whites">2014-2016 © Rospatriot.ru — модный интернет-магазин одежды
                  и аксессуаров.</div>



              </li>
            </ul>
          </div>
          <div class="copyright">Все права защищены. Доставка по всей России!</div>
        </div>
        <div id="widget-payment" class="col-sm-5">
          <ul id="payments" class="list-inline animated">
            <li class="tada"><a href="javascript:" class="icons visa"></a></li>
            <li class="tada"><a href="javascript:" class="icons mastercard"></a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  jQuery(function ($) {
    // Modernizr
    if (Modernizr.touch) {
      // show the close overlay button
      $(".close-overlay").removeClass("hidden");
      // handle the adding of hover class when clicked
      $(".img").click(function (e) {
        if (!$(this).hasClass("hover")) {
          $(this).addClass("hover");
        }
      });
      // handle the closing of the overlay
      $(".close-overlay").click(function (e) {
        e.preventDefault();
        e.stopPropagation();
        if ($(this).closest(".img").hasClass("hover")) {
          $(this).closest(".img").removeClass("hover");
        }
      });
    } else {
      // handle the mouseenter functionality
      $(".img").mouseenter(function () {
            $(this).addClass("hover");
          })
          // handle the mouseleave functionality
          .mouseleave(function () {
            $(this).removeClass("hover");
          });
    }
  });
</script>
<% errors = flash[:error] %>
<div class="error-color"<%= raw " style=\"display: none;\"" if (errors.try(:count) or 0) == 0 %>>
  При заполнении формы были допущены следующие ошибки:<br/>
  <%= raw errors.try :join, "<br />" %>
</div>
<script type="text/javascript">
  jQuery(function($){
    $('.error-color').fadeOut(10000);
  });
</script>
