<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
  <link rel="canonical" href="/"/>

  <meta name="description" content=""/>

  <title>РосПатриот - новая национальная идея</title>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">

  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css" media="all">
  <!--[if IE 8 ]>
  <link href="/stylesheets/ie8.css" rel="stylesheet" type="text/css" media="all">
  <![endif]-->
  <style rel="stylesheet" type="text/css">
    #java_error {
      padding-top: 18px;
      padding-bottom: 20px;
      font-size: 24px;
      height: px;
      width: 750px;
      text-align: center;
      margin: 0 auto;
      background-color: yellow;
    }

    #java_error span {
      color: blue;
      text-decoration: underline;
    }
    .marg-bott {
      margin-bottom: 20px;
    }

    .siz-404 {
      font-size: 20px;
    }
    .opasity-hover:hover {
      opacity: 0.9;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }

    .botty2 {
      margin-bottom: 20px;
    }
    .v-larg{
      font-size: 80px !important;
      text-align: center;
      font-weight: 100;
    }

    .fa-s{
      font-size: 55px;
      vertical-align: middle;
      margin: 11px;
    }
    .centr-w{
      text-align: center;
      font-size: 32px;
    }

    .cen-404{
      margin: 50px auto;
      text-align: center;
    }

    .siz-404{
      font-size: 20px;
    }

    .midd-404{
      top: 40%;
    }
  </style>
  <script type="text/javascript">var i = 1;
  function addtext(el) {
    a = el.parentNode;
    a.innerHTML = a.innerHTML + '<br />' + (i++) + '-й <input type="file" name="file[]" />';
  }
  </script>
</head>