<header id="top" class="fadeInDownBig clearfix">
  <div class="absy"><i class="fa fa-heart red"></i> РосПатриот - новая национальная идея
  </div>
  <!--Top-->
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-10 header-left hidden-xs">
          <div class="currencies-switcher">
            <div class="currency-plain">
              <ul class="currencies list-inline unmargin">
                <a href="<%= new_feedback_message_url %>"><i class="fa fa-phone red size"></i></a>
                <li><span>8 (495) 134-31-08  <span class="hidden-xs hidden-sm hidden-md bespl">Для Москвы</span>  </span></li>

              </ul>
              <ul class="currencies list-inline unmargin">
                <a href="mailto:info@rospatriot.ru"><i class="fa fa-phone red size"></i></a>
                <li><span>8 (800) 505-39-61  <span class="hidden-xs hidden-sm hidden-md bespl">Бесплатно по всей России</span> </span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-10 col-lg-10 header-right hidden-xs">
          <div class="customer-links">
            <ul id="accounts" class="list-inline">
              <% if user_signed_in? %>
                  <li class="account">
                    <i class="fa fa-share red"></i>
                    <%= link_to "Личный кабинет", me_path %>
                  </li>
                  <li class="account">
                    <i class="fa fa-share red"></i>
                    <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
                  </li>
              <% else %>
                  <li class="login">
                    <span id="loginButton" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-user red"></i> Войти
                      <i class="sub-dropdown1"></i>
                      <i class="sub-dropdown"></i>
                    </span>
                    <div id="loginBox" class="dropdown-menu text-left">
                      <%= render :partial => "users/sessions/new", :user => User.new %>
                    </div>
                  </li>
                  <li class="register">
                    <i class="fa fa-chevron-circle-right red"></i>
                    <a href="<%= new_user_registration_url %>" id="customer_register_link">Регистрация</a>
                  </li>
              <% end %>
            </ul>


            <ul id="toper" class="list-inline">
              <div class="podp">Подписывайтесь и</br>
                следите за нами!</div>
              <li class="soc-size-head"><a target="_blank" href="http://vk.com/rospt" class="btooltip swing" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Вконтакте"><i class="soc-size-header fa fa-vk red size soc1"></i></a></li>
              <li class="soc-size-head"><a target="_blank" href="https://www.facebook.com/groups/741747129244478/" class="btooltip swing ne-he" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Фейсбук"><i class="fa fa-facebook red size soc2  soc-size-header"></i></a></li>
              <li class="soc-size-head"><a target="_blank" href="https://twitter.com/Ros_Patriot" class="btooltip swing" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Твиттер"><i class="fa fa-twitter red size soc3 soc-size-header"></i></a></li>
              <li class="soc-size-head"><a target="_blank" href="http://instagram.com/ros_patriot" class="btooltip swing" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Инстаграм"><i class="fa fa-instagram red size soc4 soc-size-header"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Top other-->
  <div class="container">
    <div class="row top-other">
      <div class="top-logo col-md-4 logo-margin">
        <%= link_to root_path, :id => "site-title", :title => "РосПатриот - новая национальная идея" do %>
            <img class="img-responsive" src="<%= image_path "logo.png" %>" alt="РосПатриот - новая национальная идея">
        <% end %>
      </div>
      <div class="top-navigation col-md-11">
        <nav class="navbar" role="navigation">
          <div class="clearfix">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="is-mobile visible-xs">
              <ul class="list-inline">
                <li class="is-mobile-menu">
                  <div class="btn-navbar" data-toggle="collapse" data-target=".navbar-collapse">
										<span class="icon-bar-group">
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</span>
                  </div>
                </li>
                <li class="is-mobile-wishlist">
                  <a href="<%= me_url %>">
                    <i class="fa fa-share blue"></i>
                  </a>
                </li>
                <li class="is-mobile-login">
                  <div class="btn-group">
                    <div class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-user blue"></i>
                    </div>
                    <ul class="customer dropdown-menu mobi-ots">
                      <%= render :partial => "users/sessions/new", :user => User.new, :mobile => true %>
                      <li class="account last reg-mob">
                        <a class="reg-mob-a" href="<%= new_user_registration_url %>">
                          регистрация</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="is-mobile-cart">
                  <a href="<%= orders_url %>">
                    <i class="fa fa-shopping-cart blue"></i>

                  </a>
                </li>
              </ul>
            </div>

            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav hoverMenuWrapper">
                <li class="">
                  <%= link_to root_path do %>
                      <span>Главная</span>
                  <% end %>
                </li>
                <li class="dropdown">
                  <a href="<%= shop_url %>" class="dropdown-toggle dropdown-link" data-toggle="dropdown">
										<span>
											Магазин</span>
                    <i class="fa fa-angle-down"></i>
                    <i class="sub-dropdown1 visible-md visible-lg"></i>
                    <i class="sub-dropdown visible-md visible-lg"></i>
                  </a>
                  <ul class="dropdown-menu mobs">
                    <li class="region-menu">
                      Выберите категорию</li>
                    <li class="last">
                      <a class="big-li" tabindex="-1" href="<%= subjects_url %>" >
                        Общие товары</a>
                    </li>
                    <% @nav[:subjects].each do |subject| %>
                        <li class="nono-menu">
                          <i class="fa fa-caret-right blue"></i> <a tabindex="-1" href="<%= subject_url subject %>">
                            <%= subject.name %>

                          </a>
                        </li>
                    <% end %>
                    <hr>
                    <li class="mleft-menu">
                      <a class="big-li" tabindex="-1" href="<%= regions_url %>">
                        Региональные товары</a>
                    </li>
                    <% @nav[:regions].each do |region| %>
                        <li class="nono-menu">
                          <i class="fa fa-caret-right blue"></i>
                          <a tabindex="-1" href="<%= region_url region %>">
                            <%= region.name %>

                          </a>
                        </li>
                    <% end %>
                  </ul>
                </li>


                <li class="">
                  <a href="<%= about_url %>">
                    <span>О НАС</span>
                  </a>
                </li>
                <li class="">
                  <%= link_to mass_media_path do %>
                      <span>НОВОСТИ</span>
                  <% end %>
                </li>


                <li class="">
                  <a href="<%= new_feedback_message_url %>">
                    <span>КОНТАКТЫ</span>
                  </a>
                </li>


                <!--
                <li class="konkurs">
                  <div>
                    <a href="<%= competition_url %>">
                      <span>КОНКУРС</span>
                    </a>
                  </div>
                </li>
-->
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="top-search col-md-5">
        <div id="search-results" style="display: none;"></div>
        <div class="header-search">
          <form id="header-search" class="search-form" action="<%= search_url %>" method="get">
            <button type="submit" class="search-submit" title="Найди все, что хочется">
              <i class="fa fa-search col-hov"></i>
            </button>
            <input type="text" name="query" value="<%= @query %>" accesskey="4" autocomplete="off" placeholder="Поиск..." />
          </form>
        </div>
        <div class="umbrella hidden-xs">
          <div id="umbrella" class="list-inline unmargin">
            <%= render "layouts/cart" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>