<!DOCTYPE html>
<!--[if IE 8 ]>
<html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="ru" class="no-js"> <!--<![endif]-->
<%= render 'layouts/head' %>
<body class="template<%= "Index" if controller.controller_name == "site" && controller.action_name == "index" %>" itemscope itemtype="http://schema.org/WebPage">

<%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/footer' %>

<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p> -->

</body>
</html>