<p>Здравствуйте, <!--Максим--> <%= @email %>!</p>

<p>Регистрация на сайте интернет-магазина RosPatriot прошла успешно! <br>
  Мы работаем для Вас <br>
  и стараемся каждый день сделать <br>
  наш сервис еще лучше!</p>

<p>Cпасибо за регистрацию в интернет-магазине RosPatriot</p>

<p><%= link_to 'Потвердить учётную запись', confirmation_url(@resource, confirmation_token: @token) %></p>
