<p>Hello <%= @resource.email %>!</p>

<p>Ваш аккаунт был заблокирован из-за чрезмерного количества неудачных попыток совершаемых действий.</p>

<p>Нажмите на ссылку ниже, чтобы разблокировать свой ​​аккаунт:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
