<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %>
          <i class="fa fa-angle-right"></i>
          <span class="page-title">Изменить пароль</span>
        </div>
      </div>
      <section class="row content">
        <div id="col-main" class="col-md-20 login-page clearfix">
          <h1 id="page-title">Изменить пароль</h1>
          <div class="row">
            <div class="col-md-9 row-left">




              <div id="recover-password">
                <div class="wrapper-title">
                  <span class="title-2">Смена пароля</span>
                  <span class="line"></span>
                </div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= devise_error_messages! %>
                    <ul id="recover-form" class="list-unstyled">
                      <li class="clearfix"></li>
                      <li id="recover_email" class="col-md-10">
                        <%= f.label :current_password, :class => "control-label" do %>
                            Текущий пароль
                            <span class="req">*</span>
                        <% end %>
                        <%= f.password_field :current_password, :class => "form-control error-input" %>
                      </li>
                      <li class="clearfix"></li>
                      <li id="recover_email" class="col-md-10">
                        <%= f.label :password, :class => "control-label" do %>
                            Новый пароль
                            <span class="req">*</span>
                        <% end %>
                        <%= f.password_field :password, :class => "form-control error-input" %>
                      </li>
                      <li class="clearfix"></li>
                      <li id="recover_email" class="col-md-10">
                        <%= f.label :password_confirmation, :class => "control-label" do %>
                            Подтверждение пароля
                            <span class="req">*</span>
                        <% end %>
                        <%= f.password_field :password_confirmation, :class => "form-control error-input" %>
                      </li>
                      <li class="col-md-20 unpadding-top">
                        <ul class="login-wrapper list-inline">
                          <li>
                            <button class="btn" type="submit">Изменить пароль</button>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <p class="note">Пароль должен быть не менее 6 символов длиной.</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
