<div id="content-wrapper-parent">
  <div id="content-wrapper">
    <div id="content" class="container clearfix">
      <div id="breadcrumb" class="row breadcrumb">
        <div class="" itemprop="breadcrumb">
          <%= link_to "Главная", root_path, :class => "homepage-link", :title => "Вернуться на главную" %>
          <i class="fa fa-angle-right"></i>
          <span class="page-title">создать аккаунт</span>
        </div>
      </div>
      <section class="row content">
        <div id="col-main" class="col-md-20 register-page clearfix">
          <h1 id="page-title" class="large">Регистрация</h1>
          <div class="row">
            <div class="col-md-9">Создав учетную запись Вы получите доступ к личному кабинету, сможетете быстрее оформлять заказы, отслеживать их статус и просматривать историю покупок.
            </div>

            <div class="col-md-11 hidden-md hidden-sm hidden-xs" style="
            position: absolute;
                right: 0;
            ">

              При регистрации Личного Кабинета, просим Вас указывать реальные данные.
              Корректное ФИО необходимо для осуществления возврата денежных средств после оплаты.
              Адрес электронной почты необходим, чтобы Вы всегда были в курсе всех акций и статусов Ваших заказов.
              <br>
              <br>
              <strong><span style="color: red;">Внимание!</span><br> Пароль должен состоять минимум из 8 символов, содержать как минимум из 8 символов, содержать как минимум 1 букву и 1 цифру. Использовать можно любые буквы (заглавные/маленькие, кириллицу/латиницу), цифры и нижнее подчеркивание. Все остальные символы, в т.ч. пробел, использовать нельзя. Старайтесь избегать простых паролей.</strong>

            </div>
          </div>

          <% flash.now[:error] = resource.errors.full_messages %>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <ul id="register-form" class="row list-unstyled">
                <li class="clearfix"></li>
                <li class="col-md-9">
                  <label class="control-label" for="user_first_name">Имя</label>
                  <%= f.text_field :first_name, :autofocus => true, :class => "form-control" %>
                </li>
                <li class="clearfix"></li>
                <li class="col-md-9">
                  <label class="control-label" for="user_last_name">Фамилия</label>
                  <%= f.text_field :last_name, :class => "form-control" %>
                </li>
                <li class="clearfix"></li>
                <li class="col-md-9">
                  <label class="control-label" for="user_email">Электронная почта <span class="req">*</span></label>
                  <%= f.email_field :email, :required => true, :class => "form-control" %>
                </li>
                <li class="clearfix"></li>
                <li class="col-md-9">
                  <label class="control-label" for="user_password">Пароль <span class="req">*</span></label>
                  <%= f.password_field :password, :required => true, :class => "form-control password" %>
                </li>
                <li class="clearfix"></li>
                <li class="col-md-9">
                  <label class="control-label" for="user_password_confirmation">Повторите пароль <span class="req">*</span></label>
                  <%= f.password_field :password_confirmation, :required => true, :class => "form-control password" %>
                </li>
                <li class="clearfix"></li>
                <li class="col-md-12 unpadding-top">
                  <%= f.submit "Создать аккаунт", :class => "btn" %>
                </li>
              </ul>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>
